<div class="container profile_container">
  <div class="col-md-3">
    <right-menu current="school"></right-menu>
  </div>
  <div class="col-md-9">
    <div class="edit_form">
      <form name="form" ng-submit="form.$valid && save(form)"  novalidate>
        <div class="col-md-8">

          <alert ng-repeat="alert in alerts" type="{{alert.type}}"
          close="closeAlert($index)">{{alert.msg}}</alert>

          <translatable model="name"><input-name></input-name></translatable>

          <div class="form-group">
            <label>  {{$root.lang.telephone}}</label>
            <input id="phone_number" name="phone_number" ng-model="model.phone_number" 
            type="text" class="form-control"/>
          </div>

          <input-select-country></input-select-country>
          <div class="form-group">
            <label>{{$root.lang.state}}</label>
            <input id="city" name="state" ng-model="model.state" 
            type="text" class="form-control"/>
          </div>

          <div class="form-group">
            <label>{{$root.lang.city}}</label>
            <input id="city" name="city" ng-model="model.city" 
            type="text" class="form-control"/>
          </div>

          <div class="form-group">
            <label>{{$root.lang.streetaddress}}</label>
            <input id="street_address" name="street_address" ng-model="model.street_address" 
            type="text" class="form-control"/>
          </div>
          <input-select-multi-educational-systems></input-select-multi-educational-systems>
          <input-select-multi-grades></input-select-multi-grades>

        </div>

<!--    
        <div class="col-md-4 profile_picture text-center">
          <label>{{$root.lang.profilepicture}}</label>
          <img src="model.image" width="200" height="200" alt="Student name">
          <input type="file">
        </div>
-->
        <!-- right -->
        <div class="col-md-4 profile_picture text-center">
          <label>{{$root.lang.profilepicture}}</label>
          <img ng-src="{{model.image}}" alt="{{model.name}}" class="img-circle
          img-responsive" ng-if="model.image!='/media/'">
          <img ng-src="images/math.png" alt=""
          class="img-circle img-responsive" ng-if="model.image=='/media/'">
          <a class="btn btn-success" ng-click="selectFile()">{{$root.lang.uploadImage}}</a>
          <div>{{image.name}}</div>
          <input type="file" id="schoolimage" name="schoolimage" file-model="image"
          class="hidden" />
        </div>

        <input-submit is-loading="isLoading"></input-submit>
      </form>
    </div>
  </div>
</div>
