<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <translatable model="name"><input-name></input-name></translatable>
  <label for="couponsNumber">{{$root.lang.couponsNumber}}</label>
  <div class="form-group">
    <input type="number" name="couponsNumber"
           ng-model="model.coupons_count"
           id="couponsNumber" min="1"
           class="form-control">
  </div>
  <div class="form-group">
    <label for="plan">{{$root.lang.plan}}</label>
    <ui-select ng-model="model.plan" name="plan" id="plan">
    <ui-select-match placeholder="{{$root.lang.selectplan}}">
    {{model.plan.name}}
    </ui-select-match>
    <ui-select-choices  repeat="plan in plans | filter: $select.search">
    <div ng-bind-html="plan.name | highlight: $select.search"></div>
    <small> {{plan.term.name}} </small>
    </ui-select-choices>
    </ui-select>
    <div>
      <a href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/plan/create">
        {{$root.lang.createplan}}</a>
    </div>
  </div>
  <input-submit id="coupons-save" is-loading="isLoading"></input-submit>
</form>
</content-header>
