<content-header>
<h3 class="landing_title">{{pageTitle}}
  <a href="#/sme/author/create" class="btn btn-primary pull-right flip">
    <i class="fa fa-envelope"></i>
    {{$root.lang.invite}}
  </a>
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:entity.user.email">
  <link-item href="#/sme/author/{{::entity.id}}"
  title="{{::entity.user.full_name}}"
  description="{{::entity.user.email}} - {{::entity.creation_date | date:'d MMM yyyy'}}"
  imgsrc="{{::model.avatar || 'images/default-user-icon-profile.png'}}"></link-item>
</div>
</content-header>

