<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<div class="col-md-4" ng-repeat="entity in entities">
  <link-item title="{{$root.lang.i18n(entity, 'name')}}"
  description="{{$root.lang.i18n(entity.grade.system, 'name')}} - {{$root.lang.i18n(entity.grade, 'name')}}"
  href="#/sme/course/{{entity.id}}" ng-if="!entity.is_deleted">
  </link-item>
</div>
</content-header>



