<content-header>
<h3 class="landing_title">{{pageTitle}}
  <a href="#/sme/reviewer/create" class="btn btn-primary pull-right flip">
    <i class="fa fa-envelope"></i>
    {{$root.lang.invite}}
  </a>
</h3>
<div class="col-md-6" ng-repeat="entity in entities">
  <link-item href="#/sme/reviewer/{{::entity.id}}"
  title="{{::entity.user.full_name}}"
  description="{{::entity.user.full_name}}"
  imgsrc="{{::model.avatar || 'images/default-user-icon-profile.png'}}"></link-item>
</div>
</content-header>

