<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a href="#/sme/task/create" class="btn btn-primary pull-right flip"
    style="margin-left:5px;">
    {{$root.lang.create}}
    <i class="fa fa-plus"></i>
  </a>
</h3>
<div class="col-md-4" ng-repeat="entity in entities">
  <task-list-item model="entity"></task-list-item>
</div>
</content-header>
