<content-header>
<div class="row">
  <div class="col-md-6">
    <div class="bordered-block">
      <h3>{{$root.lang.exams}}</h3>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <a href="#/student/course/{{courseid}}/exam/create"
            class="btn btn-danger btn-icn btn-block-xs"><img ng-src="images/icn_1.png" alt="">{{$root.lang.takeexam}}</a>
        </div>
        <div class="col-md-4 col-xs-12">
          <a href="#/student/course/{{courseid}}/exam/suggested" class="btn btn-danger btn-icn btn-block-xs"><img ng-src="images/icn_2.png" alt="">{{$root.lang.suggestedexams}}<span>{{recommendedExams.length}}</span></a>
        </div>
        <div class="col-md-4 col-xs-12">
          <a href="#" class="btn btn-danger btn-icn btn-block-xs disabled"><img ng-src="images/icn_3.png" alt="">{{$root.lang.game}}</a>
        </div>
      </div>
    </div>
     <a href="#/student/course/{{courseid}}/exam/privateteachersuggested" class="btn btn-success btn-wide-icn"><img ng-src="images/icn_5.png" alt=""> {{$root.lang.examsandhwfromsubjectteacher}}<span>{{private_teacher_exams.length}}</span></a> 
    <a href="#/student/course/{{courseid}}/exam/schoolteachersuggested" class="btn btn-success btn-wide-icn"><img ng-src="images/icn_6.png" alt="">{{$root.lang.examsandhwfromschoolteacher}}<span>{{school_teacher_exams.length}}</span></a>
  </div>
  <div class="col-md-6">
    <div class="bordered-block">
      <h3>{{$root.lang.practices}}</h3>
      <div class="row">
        <div class="col-md-6 col-xs-12 text-center">
          <a href="#/student/course/{{courseid}}/practice/create" class="btn btn-warning btn-icn btn-block-xs"><img ng-src="images/icn_1.png" alt="">{{$root.lang.practice}}</a>
        </div>
        <div class="col-md-6 col-xs-12 text-center">
          <a href="#/student/course/{{courseid}}/practice/suggested" class="btn btn-warning btn-icn btn-block-xs"><img ng-src="images/icn_2.png" alt="">{{$root.lang.suggestedpractices}}<span>{{recommendedPractices.length}}</span></a>
        </div>
      </div>
    </div>
    <div class="bordered-block">
      <h3>{{$root.lang.reportsandgrades}}</h3>
      <div class="row">
        <div class="col-md-6 col-xs-12 text-center">
          <a href="#/student/course/{{courseid}}/exam/report" class="btn btn-success btn-icn btn-block-xs">
            <img ng-src="images/icn_4.png" alt="">{{$root.lang.detailedreports}}</a>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="icn7">
            <div class="grade">{{$root.lang.heighestdegree}}</div>
            <div class="percent">{{heighestdegree}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</content-header>
