<content-header>
  <h3 class="landing_title">{{$root.lang.i18n(course, 'name')}}
    <button class="btn btn-danger pull-right flip" ng-click="unassignCourse()">
      <i class="fa fa-minus"></i>
      {{$root.lang.unassigncourse}}
    </button>
    <a href="#/{{::TYPE}}/course/{{course.id}}/group/create" class="btn btn-primary pull-right flip">
      <i class="fa fa-plus"></i>
      {{$root.lang.creategroup}}
    </a>
  </h3>
  <div class="teacher_landing">
    <div class="col-md-6" ng-repeat="group in groups">
      <teacher-groups-list></teacher-groups-list>
    </div>
    <!-- <div class="col-md-6">
      <div class="bordered-block">
        <div class="overlay">
          <a href="#/{{::TYPE}}/course/{{course.id}}/group/create"
            class="btn btn-success btn-lg addGroup">{{$root.lang.creategroup}}</a>
        </div>
        <div class="col-md-12">
          <h2>
            <a href="" class="inheritColor">{{$root.lang.dummygroupname}}</a>
          </h2>
          <small>
            <a href="" class="inheritColor">{{$root.lang.dummygroupdescription}}</a>
          </small>
        </div>
        <div class="col-md-12">
          <hr/>
        </div>
        <div class="col-md-12">
          <div class="col-md-4">
            <a href="" class="btn btn-danger btn-block">{{$root.lang.createexam}}</a>
          </div>
          <div class="col-md-4">
            <a href="" class="btn btn-danger btn-block">{{$root.lang.edit}}</a>
          </div>
          <div class="col-md-4">
            <a href="" class="btn btn-danger btn-block">{{$root.lang.createhw}}</a>
          </div>
        </div>
        <br class="clear"/>
      </div>
    </div> -->
    <div class="clear"></div>
  </div><!-- teacher_landing -->
</content-header>
