<div class="test_container container">
    <div class="row">
        <breadcrumbs crumbs="crumbs"></breadcrumbs>
        <div class="main-inner">
          
          <div class="col-md-3">
            <div class="faq-navigation">
                <ul>
                    <li ng-repeat="topic in helpTopics" ng-click="changeHelpTopic($index)"><a data-faq="faq-{{$index}}" _class="_active">{{topic.title}}</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="faq-content">
                <div ng-repeat="topic in helpTopics" class="faq _active" id="faq-{{$index}}">
                    <h3>{{topic.title}}</h3>
                    <hr>
                    {{topic.content}}
                </div>
            </div>
            <div class="clear"></div>
          </div>

        </div>
    </div>
</div>
