.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@font-face {
  font-family: 'cocon';
  src: url('../fonts/cocon_next/coconNextArabic-Light.otf');
  src: url('../fonts/cocon_next/coconNextArabic-Light.eot');
  src: url('../fonts/cocon_next/coconNextArabic-Light.svg');
  src: url('../fonts/cocon_next/coconNextArabic-Light.ttf');
  src: url('../fonts/cocon_next/coconNextArabic-Light.woff');
}
body {
  font-size: 14px;
  color: #898989;
  font-family: 'cocon', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #edf0f2;
  overflow-x: hidden;
  text-align: left;
  direction: ltr;
}
body.body2 {
  background-color: #ffffff;
}
a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  color: #ef6a2e;
}
a:hover {
  color: #ef6a2e;
}
.clear {
  clear: both;
}
h1 {
  font-size: 40px;
  font-weight: 400;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 25px;
  font-weight: 400;
}
h4 {
  font-size: 20px;
  font-weight: 400;
}
h5 {
  font-size: 18px;
  font-weight: 400;
}
h6 {
  font-size: 14px;
  font-weight: 400;
}
ul {
  list-style: none;
  padding: 0;
}
.marginReset-0 {
  margin: 0 !important;
}
header {
  height: 50px;
  background-color: #2e2e2e;
  width: 100%;
}
header .rnav {
  width: 100%;
  background: #2e2e2e;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 999;
}
header .rnav a {
  color: #ffde00;
  font-size: 13px;
  padding: 10px 15px;
  width: 100%;
  display: block;
}
header .rnav a .caret {
  float: right;
}
header .rnav ul {
  margin: 0;
}
header .rnav ul ul {
  background: #2e2e2e;
}
header .rnav .collapse.in {
  background: #3d3d3d;
}
header .pull-left {
  margin: 6px 0;
}
header .pull-left span.logo_img {
  display: inline-block;
  float: left;
  margin: 4px 0;
}
header .pull-right .navMenu {
  float: right;
  padding-right: 6px;
  background: url('../images/border.png') no-repeat right 13px;
}
header .pull-right .navMenu .navItem {
  color: #ffde00;
  font-size: 13px;
  float: right;
  margin: 18px 0 13px 10px;
  border-right: 1px solid #ffde00;
  padding-right: 10px;
}
header .pull-right .navMenu .navItem:first-child {
  border-right: none;
}
header .pull-right .navMenu .navItem.message span {
  color: #ffffff;
  font-size: 10px;
  background-color: #fb3c4a;
  height: 16px;
  min-width: 16px;
  text-align: center;
  display: inline-block;
  line-height: 17px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  margin: 0 0 0 2px;
}
header .pull-right .navMenu .drop_down {
  float: right;
  position: relative;
}
header .pull-right .navMenu .drop_down .dropdown-backdrop {
  display: none;
}
header .pull-right .navMenu .drop_down ul {
  background: #ffffff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  position: absolute;
  top: 45px;
  left: auto;
  right: 0;
  padding: 0;
  box-shadow: 0 0 3px #2e2e2e;
  -moz-box-shadow: 0 0 3px #2e2e2e;
  -webkit-box-shadow: 0 0 3px #2e2e2e;
  -o-box-shadow: 0 0 3px #2e2e2e;
  transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
header .pull-right .navMenu .drop_down ul span.arrow {
  display: block;
  background: url('../images/nav_arrow.png') no-repeat;
  top: -9px;
  right: 12px;
  width: 13px;
  height: 9px;
  position: absolute;
}
header .pull-right .navMenu .drop_down ul a {
  border-bottom: 1px dotted #c7c9cb;
  line-height: 35px;
  color: #2e2e2e;
  font-size: 16px;
}
header .pull-right .navMenu .drop_down ul a:nth-child(2) {
  border-top: none;
}
header .pull-right .navMenu .drop_down ul li:last-child a {
  border-bottom: none;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu {
  position: relative;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu > .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -1px;
  margin-left: -1px;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu > a:after {
  display: inline-block;
  content: " ";
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: #c7c9cb;
  margin-top: 11px;
  margin-left: -18px;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu.pull-right {
  float: none;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu.pull-right > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  -webkit-border-radius: 6px 0 6px 6px;
  -o-border-radius: 6px 0 6px 6px;
}
header .pull-right a.user_name {
  display: table;
  color: #ffffff;
  padding: 0 0 0 10px;
  margin-top: 5px;
  float: right;
}
header .pull-right a.user_name .user-name {
  display: table-cell;
  padding-right: 5px;
  vertical-align: middle;
}
header .pull-right a.user_name .user-pp {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #252525;
}
header .pull-right a.user_name img {
  display: inline-block;
  margin-left: 5px;
}
header .pull-right a.user_name:hover {
  text-decoration: underline;
}
header.header2 {
  padding: 10px 0 20px 0;
  height: 130px;
  border-bottom: 1px solid #edf0f2;
  background-color: transparent;
}
.test_container {
  padding: 40px 15px;
  z-index: 100;
}
.test_container > .row {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #ffffff;
  padding-bottom: 20px;
}
.test_container h6.test_title {
  background-color: #2e2e2e;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}
.test_container h6.test_title div.crumbs {
  color: #ffffff;
  padding: 5px;
  display: inline-block;
}
.test_container h6.test_title div.crumbs a {
  color: #ffffff;
}
.test_container h6.test_title .searchform .form-group,
.test_container h6.test_title .searchform .input-group {
  width: 100%;
}
.test_container h2.quest1 {
  color: #2e2e2e;
  background: url('../images/icn02.png') no-repeat left center;
  padding: 15px 20px;
  margin: 0 35px 20px;
  border-bottom: 1px solid #edf0f2;
}
.test_container .test_form {
  padding: 0 35px;
  width: 860px;
}
.test_container .field {
  margin: 0 0 20px;
  float: left;
}
.test_container .field label {
  display: block;
  color: #898989;
  font-size: 16px;
  padding: 0 0 5px;
}
.test_container .shift {
  display: block;
  float: left;
  margin: 36px 14px 0;
  background: url('../images/shift.png') no-repeat;
  width: 9px;
  height: 17px;
}
.test_container .hidden_field {
  padding: 20px;
  background-color: #edf0f2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 60px;
  position: relative;
  display: none;
}
.test_container .hidden_field a.close {
  background: url('../images/close.png') no-repeat right center;
  color: #e41e2f;
  font-size: 16px;
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  padding: 0 15px 0 0;
  width: 30px;
  height: 20px;
}
.test_container .hidden_field a.close:hover {
  text-decoration: underline;
}
.test_container h4 {
  color: #2e2e2e;
  padding: 0 0 25px;
}
.test_container hr {
  border-bottom: 1px solid #edf0f2;
  height: 0px;
  /*margin: 0 30px;*/
}
h3.landing_title {
  color: #2e2e2e;
  background: url('../images/icn02.png') no-repeat left center;
  padding: 15px 20px;
  margin-top: 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid #edf0f2;
}
h3.landing_title .btn {
  margin-left: 5px;
  margin-right: 5px;
}
.profile_container {
  padding: 120px 0;
}
.profile_container .right_menu {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #ffffff;
}
.profile_container .right_menu li {
  height: 52px;
  padding: 0 30px;
}
.profile_container .right_menu li a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  color: #898989;
  border-top: 1px solid #edf0f2;
  line-height: 52px;
}
.profile_container .right_menu li:first-child {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
}
.profile_container .right_menu li:first-child a {
  border-top: none;
}
.profile_container .right_menu li:last-child {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
}
.profile_container .right_menu li:hover,
.profile_container .right_menu li.current {
  background-color: #898989;
}
.profile_container .right_menu li:hover a,
.profile_container .right_menu li.current a {
  color: #ffffff;
  border-color: #898989;
  text-decoration: none;
}
.profile_container .left_form {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #ffffff;
  height: 300px;
}
.profile_container .left_form .single_input {
  width: 400px;
  margin: 95px auto 0;
}
.profile_container .left_form label {
  color: #898989;
}
.profile_container .edit_form {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #ffffff;
  padding: 40px;
}
.profile_container .edit_form div.right {
  width: 265px;
  padding: 55px 0 0;
}
.profile_container .edit_form div.right div.field {
  margin: 0 0 20px;
}
.profile_container .edit_form div.right input.txt_input {
  width: 235px;
  display: block;
}
.profile_container .edit_form label {
  font-size: 20px;
  margin: 0 0 5px;
}
.profile_container .edit_form div.left {
  width: 200px;
}
.profile_container .edit_form div.left label {
  text-align: center;
  margin: 0 0 15px;
}
.profile_container .edit_form .profile_picture img {
  width: 200px;
  height: 200px;
  border-radius: 120px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  -o-border-radius: 120px;
  margin: 0 auto;
}
.profile_container .edit_form #avatar {
  margin: 0 auto;
}
.exam_list {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  border: 1px solid #c7c9cb;
  padding: 20px;
}
.exam_list li {
  padding: 20px 0;
  border-top: 1px solid #c7c9cb;
}
.exam_list li span.time_exam {
  margin: 0 20px 0 0;
  line-height: 38px;
  font-size: 20px;
  color: #898989;
  background: url('../images/clk.png') no-repeat right center;
  padding: 0 30px 0 0;
}
.exam_list li:first-child {
  border-top: none;
}
.notification,
.invitation {
  border-bottom: 1px solid #c7c9cb;
}
.notification .notification_title,
.invitation .notification_title {
  padding-top: 10px;
}
.notification .date,
.invitation .date {
  padding-top: 10px;
  color: #898989;
}
.notification a,
.invitation a {
  display: inline-block;
  margin: 5px;
  width: 55px;
  height: 55px;
}
.notification a.true,
.invitation a.true {
  background: url('../images/right.png') no-repeat;
}
.notification a.false,
.invitation a.false {
  background: url('../images/wrong.png') no-repeat;
}
.exam_list li h4,
.notification li h4 {
  color: #898989;
  padding: 0 0 20px;
}
.green {
  color: #a2c400;
}
.logo2 {
  background: url('../images/logo2.png') no-repeat;
  display: block;
  width: 90px;
  height: 100px;
  margin: auto;
}
.forgot_password {
  padding: 110px 15px;
}
.forgot_content {
  padding: 50px 0 0 0;
}
.forgot_content h2 {
  color: #2e2e2e;
  font-size: 33px;
  padding: 0 0 30px;
}
.forgot_content p {
  color: #898989;
  font-size: 20px;
  line-height: 35px;
  padding: 0 0 40px;
}
.login {
  padding: 40px 0;
}
.login hr {
  border-bottom: 1px solid #c7c9cb;
}
.login_content {
  background: #f4f4f4;
  padding: 20px;
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
}
.login_content .login_form {
  padding: 0 30px;
}
.login_content .login_form a.login_fb {
  color: #ffffff;
  display: block;
  margin: 30px 0;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
}
.login_content .login_form a.login_fb span {
  display: inline-block;
  background: #0481d9;
  margin: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  padding-right: 10px;
}
.login_content .login_form a.login_fb span img {
  height: 45px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #0481d9;
  margin-right: 10px;
}
.login_content .login_form a.login_fb:hover {
  opacity: 0.9;
}
.login_content .login_form .img-or {
  max-width: 100%;
  margin: 0 auto;
}
.col-center {
  margin: 0 auto !important;
  float: none !important;
}
.subsList {
  margin-top: 20px;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  padding: 20px;
}
.subsList li {
  padding: 20px 0;
  border-top: 1px solid #c7c9cb;
  overflow: hidden;
}
.subsList li h4 {
  float: left;
}
.subsList li:first-child {
  border-top: none;
  border-top: 1px solid #c7c9cb;
}
.btn-icn {
  width: 135px;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 15px;
  font-size: 18px;
  white-space: normal;
}
.btn-icn img {
  display: block;
  width: 75px;
  margin: 0 auto;
}
.btn-icn span,
.btn-wide-icn span {
  background-color: #a6321f;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  line-height: 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 1000;
}
.allIn {
  padding: 20px 0 40px;
  border-bottom: 1px solid #c7c9cb;
}
.practice_form {
  padding: 0 0 10px;
}
.practice_form .number {
  display: inline-block;
  color: #ffffff;
  background-color: #a2c400;
  font-size: 24px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  -o-border-radius: 21px;
  line-height: 42px;
  text-align: center;
  margin: 0 5px 0 10px;
}
.practice_form .sub {
  margin: 10px 48px 20px 30px;
  border-left: 1px solid #a2c400;
  padding: 10px 20px;
}
.practice_form h4 {
  padding: 0;
  line-height: 25px;
  display: inline;
}
.rp_rating {
  background: url('../images/results_page_16.png') no-repeat;
  width: 126px;
  height: 23px;
  display: block;
  margin-top: 32px;
}
.rp_motivational_1 {
  font-size: 74px;
  padding-top: 10px;
  line-height: 74px;
  color: #2e2e2e;
  margin-bottom: 0;
}
.rp_motivational_2 {
  font-size: 20px;
  line-height: 30px;
  color: #2e2e2e;
  margin-top: 0;
}
.result {
  padding: 0 30px 40px;
}
.rp_show_report {
  min-height: 117px;
  background-color: #edf0f2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin-top: 32px;
  border: 1px solid #c7c9cb;
  box-shadow: inset 0 0 10px #2e2e2e;
  -moz-box-shadow: inset 0 0 10px #2e2e2e;
  -webkit-box-shadow: inset 0 0 10px #2e2e2e;
  -o-box-shadow: inset 0 0 10px #2e2e2e;
  padding: 0 10px;
}
.rp_analysis {
  min-height: 267px;
  background: #ffffff;
  border: 1px solid #edf0f2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 50px 0;
}
.rp_analysis h4 {
  font-size: 26px;
  line-height: 14px;
  text-align: center;
  padding-top: 30px;
  clear: both;
}
.analysis_1,
.analysis_2 {
  border-left: 1px solid #edf0f2;
  height: 100%;
  text-align: center;
}
.analysis_1 .num {
  font-size: 73px;
  color: #a2c400;
  padding-right: 70px;
}
.analysis_1 .num hr {
  margin: 0;
  transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
}
.analysis_2 div {
  background: #a2c400;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  padding: 0;
  height: 130px;
  width: 130px;
}
.analysis_2 div span {
  display: block;
  text-align: center;
}
.analysis_3 {
  text-align: center;
}
.mark_1 {
  line-height: 45px;
}
.g1 {
  padding-top: 45px;
  font-size: 23px;
  line-height: 14px;
  color: #ffffff;
}
.g2 {
  padding-top: 24px;
  font-size: 30px;
  line-height: 14px;
  color: #e0ff4a;
}
.timing {
  border: 10px solid #a2c400;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  padding: 0;
  padding-top: 25px;
  height: 130px;
  width: 130px;
}
.timing span {
  display: inline-block;
  text-align: center;
}
.max_timing {
  padding-top: 25px;
  text-align: center;
}
.t1 {
  color: #a2c400;
  font-size: 28px;
}
.t2 {
  font-size: 16px;
}
.t3 {
  font-size: 15px;
  color: #898989;
}
.t4 {
  color: #a6321f;
  font-size: 25px;
  padding-right: 5px;
}
.main-inner {
  padding: 20px;
}
.questions_bulk {
  padding: 5px;
  margin-bottom: 10px;
}
.questions_bulk .kv {
  margin: 10px;
}
.report_content .quest_no {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
}
.report_content .div_title {
  font-size: 22px;
  display: block;
  color: #2e2e2e;
  line-height: 24px;
}
.report_content p {
  font-size: 18px;
  color: #c7c9cb;
  padding: 0 0 20px;
}
.report_content .chart_values {
  position: relative;
  margin: 20px 0 0;
  margin: auto;
  height: 195px;
  width: 240px;
}
.report_content .chart_values .correct {
  width: 165px;
  position: absolute;
  top: 0;
  left: 28px;
  height: 165px;
}
.report_content .chart_values .wrong {
  width: 150px;
  position: absolute;
  top: 21px;
  left: 49px;
  height: 150px;
}
.report_content .chart_values .skipped {
  width: 135px;
  position: absolute;
  top: 42px;
  left: 69px;
  height: 135px;
}
.circle {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.circle canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.red {
  color: #e41e2f;
}
.blue {
  color: #0481d9;
}
.yellow {
  color: #ffde00;
}
.quest_data .col-md-4 {
  border-left: 1px solid #c7c9cb;
  border-right: 0px;
}
.quest_data .col-md-4:first-child {
  border: none;
}
.exam_level {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
  margin: 0 0 20px;
  text-align: center;
}
.exam_level .draw_bar {
  padding: 10px 0 0;
}
.exam_level .draw_bar .grade {
  display: block;
  float: left;
  color: #ffffff;
  width: 35px;
  height: 35px;
  padding-top: 8px;
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 12px;
}
.exam_level .draw_bar .grade.selected {
  width: 80px;
  height: 80px;
  border-radius: 65px;
  -moz-border-radius: 65px;
  -webkit-border-radius: 65px;
  -o-border-radius: 65px;
  margin: -30px 0 0;
  font-size: 20px;
  padding: 33px 10px 0;
}
.exam_level .draw_bar .grade.selected.lx2 {
  line-height: 20px;
  padding-top: 20px;
}
.exam_level .draw_bar .red_img {
  background-color: #a6321f;
}
.exam_level .draw_bar .green_img {
  background-color: #a2c400;
}
.exam_level .draw_bar .yellow_img {
  background-color: #ffde00;
}
.exam_level .s_dash {
  width: 50px;
  height: 10px;
  display: block;
  float: left;
  border-bottom: 1px dotted #2e2e2e;
  margin: 6px 0 0;
}
.exam_level .l_dash {
  width: 45px;
  height: 10px;
  display: block;
  float: left;
  border-bottom: 1px dotted #2e2e2e;
  margin: 6px 0 0;
}
.exam_level .txt_bar span {
  display: block;
  float: left;
  font-size: 15px;
  color: #2e2e2e;
  width: 45px;
  height: 20px;
  line-height: 20px;
  margin: 0 60px 0 1px;
}
.exam_time {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
  overflow: hidden;
}
.exam_time h5 > span {
  color: #e41e2f;
  font-size: 25px;
  line-height: 24px;
}
.exam_time .time_circle .circle4 {
  width: 110px;
  height: 110px;
}
.exam_time .time_circle .circle4 .txt1,
.exam_time .time_circle .circle4 .txt2 {
  text-align: center;
  display: block;
}
.exam_time .time_circle .circle4 .txt1 {
  font-size: 31px;
  color: #a2c400;
  margin-top: 45px;
  line-height: 20px;
}
.exam_time .time_circle .circle4 .txt2 {
  font-size: 18px;
  color: #2e2e2e;
  margin-top: 55px;
  line-height: 18px;
}
.stars {
  display: block;
  height: 16px;
  width: 80px;
  margin: 10px 0;
}
.stars span {
  display: block;
  height: 16px;
  width: 16px;
  float: left;
}
.stars span .y_star {
  background: url('../images/y_star.png') no-repeat;
}
.stars span .g_star {
  background: url('../images/g_star.png') no-repeat;
}
.conclusion,
.recommendations,
.awards {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
}
.conclusion .col-md-9 {
  margin: 40px 0 0;
}
.conclusion .col-md-2 span:first-child {
  font-size: 12px;
  color: #c7c9cb;
  text-align: center;
  display: block;
  padding: 10px 0 5px;
}
.conclusion .col-md-2 span.degree span {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #c7c9cb;
  width: 6px;
  height: 15px;
  margin: 0 auto 5px;
  display: block;
  padding: 0;
}
.conclusion .col-md-2 span.degree .green {
  background-color: #a2c400;
}
.conclusion .col-md-2 span.degree .orange {
  background-color: #ef6a2e;
}
.conclusion .col-md-2 h6 {
  color: #2e2e2e;
  text-align: center;
  padding: 0 0 25px;
  margin-bottom: 0;
}
.conclusion .con-inner {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.chart {
  width: 220px;
  height: 220px;
  position: relative;
  float: right;
  margin: 20px 20px 0 0;
}
.doughnutSummary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #c7c9cb;
  text-align: center;
  text-shadow: 0 -1px 0 #2e2e2e;
  cursor: default;
  font-size: 0;
  text-indent: 0;
  background: url('../images/brain.png') no-repeat center center;
}
.doughnutSummaryTitle {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
  display: none;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
  display: none;
}
.awards .prizes {
  width: 150px;
  margin: 0 auto;
  background: url('../images/sprite2.png') no-repeat 0 -717px;
  padding: 150px 0 0;
}
.awards .prizes span {
  display: block;
  font-size: 18px;
  color: #2e2e2e;
  text-align: center;
}
.awards .prizes span:first-child {
  font-size: 12px;
  color: #c7c9cb;
}
.awards .social {
  width: 75px;
  margin: 15px auto;
}
.awards .social a.fb {
  display: block;
  background: url('../images/sprite2.png') no-repeat 0 -973px;
  float: right;
  width: 10px;
  height: 24px;
  margin: 0 10px 0 0;
}
.awards .social a.twit {
  display: block;
  background: url('../images/sprite2.png') no-repeat -20px -971px;
  float: right;
  width: 22px;
  height: 24px;
  margin: 0 10px 0 0;
}
.awards .social a.google {
  display: block;
  background: url('../images/sprite2.png') no-repeat -52px -970px;
  float: right;
  width: 23px;
  height: 24px;
}
.recommendations li {
  padding: 0 0 0 120px;
  margin: 20px 0 0;
  min-height: 85px;
}
.recommendations li h4 {
  font-size: 22px;
  color: #2e2e2e;
  line-height: 24px;
  padding: 15px 0 0;
}
.recommendations li h5 {
  font-size: 16px;
  color: #ef6a2e;
  line-height: 24px;
  padding: 5px 0 0;
}
.recommendations li.icn1 {
  background: url('../images/sprite2.png') no-repeat left -126px;
}
.recommendations li.icn2 {
  background: url('../images/sprite2.png') no-repeat left 0;
}
.recommendations li.icn3 {
  background: url('../images/sprite2.png') no-repeat left -248px;
}
.recommendations .button {
  padding-top: 30px;
}
.student-inputs {
  display: none;
}
.payment {
  background-color: #ffffff;
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
  position: relative;
  width: 1110px;
  margin: 70px auto;
}
.recip {
  padding: 33px 10px 0 40px;
  background: url('../images/recip.png') no-repeat;
  width: 299px;
  height: 370px;
  position: absolute;
  left: 15px;
  top: -78px;
}
.recip h4 {
  color: #2e2e2e;
  background: url('../images/icn.png') no-repeat 95% 50%;
  padding: 0 35px 0 25px;
  margin: 0;
  border-bottom: 1px dotted #2e2e2e;
  line-height: 45px;
}
.recip li {
  height: 60px;
  border-top: 1px dotted #2e2e2e;
  padding: 10px;
  position: relative;
}
.recip li span {
  display: block;
  font-size: 16px;
  color: #a2c400;
  font-weight: bold;
}
.recip li span:first-child {
  font-size: 18px;
  color: #2e2e2e;
}
.recip li span .free {
  color: #ef6a2e;
  font-size: 15px;
  position: absolute;
  left: 10px;
  top: 25px;
}
.recip li:first-child {
  border-top: none;
}
.recip .total {
  font-size: 20px !important;
}
.payment_method .method {
  border: 2px solid #898989;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 10px;
  width: 220px;
  height: 70px;
  margin: 0 50px 0 0;
  cursor: pointer;
  transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -webkit-transition: background-color 500ms linear;
}
.payment_method .method.selected {
  background-color: #a2c400;
  transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -webkit-transition: background-color 500ms linear;
  cursor: pointer;
}
.payment_method .method.selected:hover {
  background-color: #a2c400;
}
.payment_method .method:hover {
  background-color: #edf0f2;
}
.payment_method .method span:first-child {
  display: block;
  color: #e41e2f;
  position: absolute;
}
.payment_method .method span .radio {
  display: block;
  float: right;
}
.payment_method .method span .radio input {
  display: block;
  float: right;
  left: 0;
}
.payment_method .method span .radio label {
  display: block;
  float: right;
  font-size: 15px;
  color: #2e2e2e;
  cursor: pointer;
}
.payment_method .method img {
  float: right;
}
.payment_method .button {
  margin: 30px 50px 0 0;
}
.student_profile {
  border: 1px solid #c7c9cb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #ffffff;
}
.student_info,
.st_conclusion {
  margin: 55px;
  border-bottom: 1px solid #c7c9cb;
}
.student_info hr {
  border-color: #c7c9cb;
}
.student_info img {
  border-radius: 120px;
  -moz-border-radius: 120px;
  -webkit-border-radius: 120px;
  -o-border-radius: 120px;
}
.student_info div.right {
  padding: 15px 30px;
  border-left: 1px solid #c7c9cb;
}
.student_info div.right h1 {
  font-size: 50px;
  color: #2e2e2e;
  padding: 15px 0 25px;
}
.student_info div.right span {
  display: block;
  font-size: 25px;
  color: #a2c400;
  padding: 0 0 8px;
}
.student_info div.left span {
  display: block;
  font-size: 25px;
  color: #a2c400;
}
.st_awards {
  text-align: center;
  padding: 0 50px;
  margin: 55px;
}
.st_awards span {
  margin: 30px 0;
  background: url('../images/sprite2.png') no-repeat 0 -717px;
  padding: 160px 0 0;
  display: block;
  font-size: 18px;
  color: #898989;
}
.st_conclusion div h2,
.st_awards h2 {
  font-size: 50px;
  color: #898989;
}
.bordered-block {
  margin: 0 0 20px;
  border: 1px solid #c7c9cb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 20px;
}
.bordered-block h3 {
  color: #2e2e2e;
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #edf0f2;
}
.bordered-block h4 {
  display: inline-block;
}
.bordered-block .btn {
  float: right;
}
.icn7 {
  background-color: #a2c400;
  margin: 0 37px;
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  padding: 40px 0 0;
  width: 130px;
  height: 130px;
  text-align: center;
}
.icn7 .grade {
  font-size: 16px;
  color: #ffffff;
}
.icn7 .percent {
  font-size: 30px;
  color: #e0ff4a;
}
.btn-wide-icn {
  padding: 19px 10px;
  color: #ffffff;
  font-size: 23px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
  white-space: normal;
  width: 100%;
}
.open_hidden {
  background: #edf0f2 url('../images/arr5.png') 15px 50% no-repeat;
  padding: 9px 20px 9px 40px;
  width: 230px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;
  height: 35px;
  cursor: pointer;
}
.test_load h1 {
  color: #2e2e2e;
  padding: 20px 0;
}
.test_load .inner_progress {
  height: 12px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #a2c400;
  float: left;
  width: 0;
  transition: width 3s ease 0.5s;
  -moz-transition: width 3s ease 0.5s;
  -o-transition: width 3s ease 0.5s;
  -webkit-transition: width 3s ease 0.5s;
}
.test_load .outer_progress {
  height: 12px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  width: 440px;
  background: #2e2e2e;
}
.test_load .outer_progress.load .inner_progress {
  width: 100%;
}
.load_content {
  border: 2px solid #c7c9cb;
  background-color: #edf0f2;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 15px;
}
.load_content .time {
  font-size: 40px;
  color: #a2c400;
  padding: 0 0 5px;
  display: block;
  line-height: 28px;
}
.load_content .hint {
  font-size: 18px;
  color: #2e2e2e;
  display: block;
}
.load_content div.right {
  border: 10px solid #c7c9cb;
  width: 130px;
  height: 130px;
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  padding: 32px 0 0;
  text-align: center;
}
.load_content ul {
  width: 100%;
}
.load_content ul li {
  font-size: 13px;
  display: inline-block;
  padding: 5px;
  background-color: #a2c400;
  margin: 0 5px 5px 0;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.thanks h1 {
  color: #2e2e2e;
  font-size: 50px;
}
.thanks p {
  color: #898989;
  font-size: 22px;
  line-height: 28px;
}
.thanks .right {
  padding-top: 160px;
}
.thanks .left {
  padding-top: 80px;
}
.thanks_content {
  margin: 60px;
}
#gauge-container {
  display: inline-block;
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: 400px;
  cursor: pointer;
}
#gauge-container .pin {
  position: absolute;
  left: 50%;
  bottom: 7px;
  margin-left: -12px;
  width: 24px;
}
canvas#gauge {
  cursor: default;
}
#canvas-overlay {
  position: absolute;
  top: 16px;
  left: 21px;
  opacity: 0;
}
.difficulty_level .circle-big {
  position: absolute;
  top: 81px;
  left: 50%;
  margin-left: -78px;
  height: 180px;
  width: 180px;
  border-radius: 50% 50%;
  -moz-border-radius: 50% 50%;
  -webkit-border-radius: 50% 50%;
  -o-border-radius: 50% 50%;
  z-index: 0;
}
.difficulty_level .circle {
  width: 4px;
  height: 5px;
  background-color: red;
  display: block;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin: -15px;
  -webkit-backface-visibility: hidden;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.circle-big .seventeen {
  -webkit-transform: rotate(-10deg) translate(100px);
  background-color: #ff3d2f;
  -ms-transform: rotate(-10deg) translate(100px);
}
.circle-big .sixteen {
  -webkit-transform: rotate(-20deg) translate(100px);
  background-color: #ff412d;
  -ms-transform: rotate(-20deg) translate(100px);
}
.circle-big .fiveteen {
  -webkit-transform: rotate(-30deg) translate(100px);
  background-color: #ff4b27;
  -ms-transform: rotate(-30deg) translate(100px);
}
.circle-big .fourteen {
  -webkit-transform: rotate(-40deg) translate(100px);
  background-color: #ff5e1d;
  -ms-transform: rotate(-40deg) translate(100px);
}
.circle-big .thirteen {
  -webkit-transform: rotate(-50deg) translate(100px);
  background-color: #ff9202;
  -ms-transform: rotate(-50deg) translate(100px);
}
.circle-big .tweleve {
  -webkit-transform: rotate(-60deg) translate(100px);
  background-color: #ff9500;
  -ms-transform: rotate(-60deg) translate(100px);
}
.circle-big .eleven {
  -webkit-transform: rotate(-70deg) translate(100px);
  background-color: #ff9500;
  -ms-transform: rotate(-70deg) translate(100px);
}
.circle-big .ten {
  -webkit-transform: rotate(-80deg) translate(100px);
  background-color: #ff9500;
  -ms-transform: rotate(-80deg) translate(100px);
}
.circle-big .nine {
  -webkit-transform: rotate(-90deg) translate(100px);
  background-color: #ff9500;
  -ms-transform: rotate(-90deg) translate(100px);
}
.circle-big .eight {
  -webkit-transform: rotate(-100deg) translate(100px);
  background-color: #ff9500;
  -ms-transform: rotate(-100deg) translate(100px);
}
.circle-big .seven {
  -webkit-transform: rotate(-110deg) translate(100px);
  background-color: #fb9700;
  -ms-transform: rotate(-110deg) translate(100px);
}
.circle-big .six {
  -webkit-transform: rotate(-120deg) translate(100px);
  background-color: #e7a100;
  -ms-transform: rotate(-120deg) translate(100px);
}
.circle-big .five {
  -webkit-transform: rotate(-130deg) translate(100px);
  background-color: #cfad00;
  -ms-transform: rotate(-130deg) translate(100px);
}
.circle-big .four {
  -webkit-transform: rotate(-140deg) translate(100px);
  background-color: #bab800;
  -ms-transform: rotate(-140deg) translate(100px);
}
.circle-big .three {
  -webkit-transform: rotate(-150deg) translate(100px);
  background-color: #adbe00;
  -ms-transform: rotate(-150deg) translate(100px);
}
.circle-big .two {
  -webkit-transform: rotate(-160deg) translate(100px);
  background-color: #a6c200;
  -ms-transform: rotate(-160deg) translate(100px);
}
.circle-big .one {
  -webkit-transform: rotate(-170deg) translate(100px);
  background-color: #a3c300;
  -ms-transform: rotate(-170deg) translate(100px);
}
.easy {
  color: #a2c400;
  font-size: 11pt;
  position: absolute;
  left: 70px;
  bottom: 22px;
}
.medium {
  color: #ef6a2e;
  font-size: 14pt;
  position: absolute;
  left: 138px;
  bottom: 90px;
}
.hard {
  color: #e41e2f;
  font-size: 11pt;
  position: absolute;
  right: 75px;
  bottom: 25px;
}
.or1 {
  display: inline-block;
  color: #c7c9cb;
  margin: 0 5px 10px;
}
.back {
  display: inline-block;
  font-size: 15px;
  color: #2e2e2e;
}
.taqreerFullTimer {
  padding: 20px;
  margin-right: 25px;
  text-align: center;
}
.taqreerT1 {
  color: #a2c400;
  font-size: 65px;
}
.taqreerT1 span,
.taqreerTimer span {
  padding: 0 10px;
}
.taqreerTimer {
  font-size: 40px;
}
.taqreerCircle {
  background-color: #a2c400;
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  -o-border-radius: 80px;
  float: left;
  text-align: center;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  line-height: 50px;
  font-size: 25px;
  padding-top: 25px;
}
.taqreerCircle.red {
  background: #b50000;
}
.taqreerNum {
  color: #ffffff;
}
.mCSB_vertical .mCSB_dragger_bar {
  background-color: #a2c400 !important;
  width: 6px !important;
}
.contain-stats {
  position: absolute;
}
.contain-stats .subj_numbers {
  position: relative;
  background: #e41e2f;
  padding: 10px;
  top: 15px;
  right: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 1px 1px 10px #2e2e2e;
  -moz-box-shadow: 1px 1px 10px #2e2e2e;
  -webkit-box-shadow: 1px 1px 10px #2e2e2e;
  -o-box-shadow: 1px 1px 10px #2e2e2e;
  z-index: 999;
}
.contain-stats .subj_numbers .l1,
.contain-stats .subj_numbers .l2 {
  color: #ffffff;
}
.contain-stats .subj_numbers .l1 div span.value,
.contain-stats .subj_numbers .l2 div span.value {
  padding: 3px;
  margin-top: 7px;
  /*height:30px;*/
  font-size: 13px;
  margin-right: 15px;
  text-align: center;
  background-color: #a6321f;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  width: 30px;
}
.contain-stats .subj_numbers:before {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #e41e2f;
  border-width: 15px;
}
.enter_subject {
  background: #a6321f;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.main_overlay,
.main_overlay2,
.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}
.main_overlay .add_students,
.main_overlay .add_teachers {
  background: url('../images/bg.jpg') repeat-y;
  width: 500px;
  height: 325px;
  position: absolute;
  top: 20%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin-left: -250px;
}
.main_overlay h1 {
  padding: 15px 0 10px;
  text-align: center;
  color: #2e2e2e;
  border-bottom: 1px solid #edf0f2;
  margin: 0 0 15px;
}
.main_overlay2 .notice {
  width: 800px;
  margin: 100px auto;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #ffffff;
  height: 285px;
  position: relative;
  padding: 65px 50px 0;
}
.main_overlay2 .notice a.close {
  top: 15px;
  left: 20px;
  float: none;
  position: absolute;
  height: 32px;
}
.main_overlay2 .notice div {
  background: url('../images/icn16.png') no-repeat right top;
  padding: 30px 140px 0 0;
}
.main_overlay2 .notice h2 {
  font-size: 30px;
  color: #c7c9cb;
  padding: 0 0 73px;
}
.main_overlay2 .notice a.go {
  text-align: center;
  background-color: #a2c400;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: #ffffff;
  width: 255px;
  margin: 0 130px 0 0;
}
a.close {
  float: left;
  display: block;
  width: 14px;
  height: 14px;
  margin: 10px 0 0;
  background: url('../images/sprite.png') no-repeat 0 -1875px;
}
a.mswda:hover {
  color: #ffffff;
  text-decoration: none;
}
.mswda {
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  width: 80px;
  height: 100px;
  color: #ffffff;
  line-height: 100px;
  text-align: center;
  position: absolute;
  background-color: #2e2e2e;
  font-size: 20px;
  left: 0;
  top: 130px;
  cursor: pointer;
}
#mewseda {
  width: 0;
  height: 847px;
  position: absolute;
  top: 61px;
  left: 0;
  z-index: 1001;
  background: #2e2e2e;
  opacity: 0;
  display: none;
  padding-top: 30px;
}
#mewseda a {
  position: absolute;
  display: block;
  width: 90px;
  height: 99px;
  top: 11px;
  right: -76px;
}
#mewseda span {
  color: #a2c400;
  font-size: 11pt;
  display: none;
  margin-right: 14px;
}
#mewseda textarea {
  position: absolute;
  top: 55px;
  right: 0;
  resize: none;
  width: 90%;
  padding: 5%;
  height: 75%;
  background: #2e2e2e;
  border: none;
  color: #ffffff;
  overflow: hidden;
  text-indent: 6px;
}
#questions .question {
  display: none;
}
.title {
  margin: 30px 0 0;
  display: table;
}
.title .qContainer {
  display: table-cell;
  vertical-align: top;
  padding: 0 10px 0 0;
}
.title .qContainer #q {
  display: inline-block;
  height: 34px;
  background-color: #a2c400;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  width: 30px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
}
.title h4 {
  display: table-cell;
}
.title h4 p:nth-child(1) {
  display: inline-block;
}
.title div.droppable {
  display: inline;
}
.categorize_content,
.multi_choice_content,
.true_false_content,
.connect_content {
  padding: 10px 0;
  position: relative;
}
.createTask .radio label,
.createTask .checbox label {
  width: 100%;
}
.categorize_content h3 {
  color: #898989;
  border-bottom: 2px solid #f4f4f4;
  padding: 0 0 10px;
  margin: 0 70px 20px;
}
.categorize_content .answers {
  position: relative;
  z-index: 1000;
  margin: 0 70px 440px;
}
.categorize_content .answers li {
  background-color: #0481d9;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  color: #ffffff;
  display: block;
  float: left;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
  margin: 20px 13px 0;
  min-height: 34px;
  min-width: 90px;
  padding: 0 10px;
  text-align: center;
}
.draggble,
.draggble2 {
  cursor: move;
}
.answers_box {
  border-bottom: 1px solid #c7c9cb;
  border-top: 1px solid #c7c9cb;
  background: #edf0f2;
  padding: 20px 0;
  margin: 30px 0;
  position: absolute;
  top: 230px;
  z-index: 0;
  width: 100%;
}
.ques_answer .true_false_answer span.image,
.answers_box span.image,
.true_false_content span.image,
.multi_choice_content span.image,
.connect_content span.image,
.quest_answer span.image,
.answers_box2 span.image {
  display: block;
  position: absolute;
  top: -5px;
  right: 80px;
}
.answers_box .box_content,
.answers_box2 .box_content {
  float: left;
  margin: 30px 15px 20px;
  width: 280px;
}
.answers_box .box_content:nth-child(2),
.answers_box2 .box_content:nth-child(2) {
  margin-right: 90px;
}
.answers_box .box_content .box,
.answers_box2 .box_content .box {
  border: 1px solid #898989;
  border-top: none;
  height: 120px;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  margin: 0 0 20px;
}
.answers_box .box_content .title,
.answers_box2 .box_content .title {
  display: block;
  text-align: center;
  color: #2e2e2e;
  font-size: 26px;
}
.answers_box .box_content:nth-child(4),
.answers_box2 .box_content:nth-child(4) {
  margin-left: 90px;
}
.fillBlankAnswer {
  color: #0481d9;
}
div.btns {
  width: 250px;
  margin: 0 auto;
  position: relative;
}
.question_data .time li.current span.circle,
.question_data .numbers li.current span.txt {
  background-color: #ef6a2e;
}
.question_data .timer {
  width: 160px;
  float: left;
  margin: 30px 0 0;
}
.question_data .timer #countdown {
  width: 134px;
  height: 134px;
  background: url('../images/timer.png') no-repeat -11px 11px;
  padding: 7px;
  float: left;
}
.question_data #ms_timer {
  font-size: 36px;
  color: #ef6a2e;
  position: absolute;
  width: 88px;
  top: 79px;
  text-align: center;
  right: 34px;
}
.question_data .minute {
  font-size: 14px;
  color: #2e2e2e;
  position: absolute;
  width: 50px;
  top: 122px;
  text-align: center;
  right: 52px;
}
.question_data div.right {
  width: 248px;
  position: relative;
  float: left;
}
.question_data span.right_data {
  display: block;
  float: left;
  width: 77px;
  margin: 100px 0 0;
}
.question_data span.right_data .img2 {
  float: right;
  display: block;
  background: url('../images/clock2.png') no-repeat;
  width: 40px;
  height: 20px;
  margin: 0 0 10px;
}
.question_data span.right_data .txt3 {
  display: block;
  font-size: 14px;
  color: #a2c400;
  float: right;
  margin: 1px 0 0 7px;
}
.question_data div.left {
  position: relative;
  width: 742px;
  overflow: hidden;
  direction: rtl;
}
.question_data .numbers {
  direction: ltr;
  width: 2770px;
  height: 165px;
}
.question_data .numbers li {
  position: relative;
  float: right;
  height: 160px;
}
.question_data .numbers li span.txt {
  margin: 120px 0 0;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 19px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  -o-border-radius: 19px;
  background-color: #c7c9cb;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
.question_data .numbers li.done span.txt {
  background-color: #a2c400;
  cursor: pointer;
}
.question_data .numbers li.error {
  cursor: pointer;
}
.question_data .numbers.numbers2 li {
  float: left;
}
.numbers li.current {
  background: url("../images/orange_circles.gif") no-repeat 11px 76px;
}
.numbers li span.dash {
  display: block;
  float: right;
  width: 20px;
  height: 1px;
  border-bottom: 1px dotted #c7c9cb;
  margin: 137px 0 0;
}
.numbers li .tooltip {
  width: 40px;
  height: 50px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  position: absolute;
  top: 33px;
  left: -17px;
  text-align: center;
  opacity: 0;
  z-index: -1;
  padding: 10px;
}
.numbers li .tooltip span .arrow {
  width: 0px;
  height: 0px;
  border: 8px solid;
  position: absolute;
  top: 70px;
  left: 26px;
}
.numbers li .tooltip span .text {
  font-size: 13px;
  color: #ffffff;
  line-height: 18px;
  display: block;
}
.numbers li.done .tooltip span.arrow {
  border-color: #a2c400 transparent transparent transparent;
}
.true_false_answer,
.multi_choice_answer,
.quest_answer,
.connect_answer {
  border-bottom: 1px solid #c7c9cb;
  border-top: 1px solid #c7c9cb;
  background: #edf0f2;
  padding: 20px;
  /*We should use bootstrap for this*/
  /*margin:30px 0;*/
  position: relative;
}
.choose {
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid #c7c9cb;
}
.choose li {
  margin: 0 0 10px;
}
.choose li input {
  display: block;
  float: left;
  margin: 2px 0 0 5px;
}
.choose li label {
  display: block;
  float: left;
  font-size: 18px;
  color: #2e2e2e;
  cursor: pointer;
}
.quest_content .true_false_quest span {
  background-color: #a2c400;
  color: #ffffff;
}
.true_false_quest h4,
.choose_quest h4 {
  float: left;
  color: #2e2e2e;
  font-size: 22px;
  line-height: 34px;
  margin: 0 10px;
}
.true_false_answer a {
  display: block;
  float: left;
  margin: 0 10px 0 0;
  width: 85px;
  height: 85px;
  border-radius: 55px;
  -moz-border-radius: 55px;
  -webkit-border-radius: 55px;
  -o-border-radius: 55px;
}
.true_false_answer a.true {
  background: #2e2e2e url('../images/sprite2.png') no-repeat 22px -492px;
}
.true_false_answer a.true.clicked,
.true_false_answer a.true:hover {
  background-color: #a2c400;
}
.true_false_answer a.false {
  background: #2e2e2e url('../images/sprite2.png') no-repeat 22px -584px;
}
.true_false_answer a.false.clicked,
.true_false_answer a.false:hover {
  background-color: #e41e2f;
}
.question_data .time li.done span.circle,
.numbers li.done .tooltip {
  background-color: #a2c400;
}
.choose_quest {
  margin: 0 70px;
}
.choose_quest span {
  width: 32px;
  height: 36px;
  border: 1px solid #c7c9cb;
  float: left;
  display: block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 0 0 0 10px;
}
div.line {
  transform-origin: 0 100%;
  height: 3px;
  background: #a2c400;
  z-index: 999;
}
.ui-draggable-dragging {
  z-index: 99999;
}
.connect_answer .answers {
  display: inline-block;
  min-width: 100px;
}
.connect_answer .answers li {
  display: block;
  font-size: 16px;
  color: #ffffff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  background-color: #0481d9;
  padding: 0 10px;
  line-height: 34px;
  min-height: 34px;
  text-align: center;
  margin: 10px;
}
.connect_answer .answers li img {
  max-width: 100%;
  padding: 10px 0;
}
.multi_choice_answer .answers li {
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  background-color: #0481d9;
  padding: 0 10px;
  line-height: 34px;
  text-align: center;
  margin: 10px;
}
.choose_answers {
  width: 400px;
  margin: 0 auto 30px;
  height: 36px;
}
.choose_answers li {
  display: block;
  float: left;
  height: 37px;
  background-color: #a2c400;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  width: 34px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  margin: 0 20px;
  z-index: 100;
}
.ques_answer {
  border-top: 1px solid #c7c9cb;
  padding: 30px 0;
  margin: 30px 0 0;
  display: none;
}
.answers_box2 {
  border-bottom: 1px solid #c7c9cb;
  border-top: 1px solid #c7c9cb;
  background: #edf0f2;
  padding: 20px 0;
  margin: 30px 0;
  z-index: 0;
  width: 100%;
  position: relative;
}
.answers_box2 li {
  font-size: 16px;
  color: #ffffff;
  display: block;
  float: left;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  background-color: #0481d9;
  padding: 0 10px;
  height: 34px;
  line-height: 34px;
  width: 90px;
  text-align: center;
  margin: 20px 13px 0;
}
.school_admin li span.img {
  display: block;
  margin: 0 10px;
  border-bottom: 1px solid #c7c9cb;
  height: 270px;
}
.school_admin li span.img span.txt {
  margin: 15px 0 0;
  display: block;
  text-align: center;
  color: #2e2e2e;
  font-size: 30px;
}
.subjects li div:first-child h2 {
  color: #2e2e2e;
  margin: 0;
}
.subjects li .sub1 {
  margin-bottom: 10px;
}
.add_student,
.add_teacher,
.teacher_jop {
  min-height: 500px;
  position: relative;
}
.add_teacher h4 {
  padding: 0;
}
.grades a {
  font-size: 18px;
  color: #898989;
}
form .group {
  cursor: pointer;
  display: inline-block;
  padding: 20px 20px 20px 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background: #edf0f2;
}
form .group label,
form .group input {
  cursor: pointer;
}
form .group.checked {
  background: #a2c400;
  color: #ffffff;
}
#addPart,
#addQuestion {
  margin: 0 75px 0;
  color: #ef6a2e;
}
.inheritColor,
.inheritColor:hover {
  color: inherit;
}
.teacher_landing h2 {
  color: #2e2e2e;
}
.teacher_landing .bordered-block {
  position: relative;
}
.teacher_landing .bordered-block h2 small {
  font-size: 16px;
  display: block;
}
.teacher_landing .bordered-block img {
  margin-top: 15px;
}
.teacher_landing .bordered-block .buttons {
  padding-left: 30px;
  border-left: 1px solid #c7c9cb;
}
.teacher_landing .bordered-block .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.teacher_landing .bordered-block .overlay .btn {
  z-index: 99999;
  position: absolute;
  top: 30%;
  right: 35%;
}
table.custom-table {
  width: 100%;
}
table.custom-table thead {
  font-size: 18px;
  color: #2e2e2e;
}
table.custom-table tr {
  border-bottom: 1px solid #edf0f2;
}
table.custom-table tr.no-attend {
  background: #e41e2f;
}
table.custom-table tr.no-attend a {
  color: #ffffff;
}
table.custom-table tr.no-attend:hover a {
  color: #a6321f;
}
table.custom-table td {
  padding: 5px 10px;
}
table.custom-table tbody tr:hover {
  background: #edf0f2;
}
table.custom-table tbody td {
  padding: 20px 10px;
}
.content {
  height: 400px;
}
footer hr {
  border-color: #c7c9cb;
}
.custom-datepicker {
  right: auto;
  direction: ltr;
}
.faq-navigation {
  width: 100%;
}
.faq-navigation ul {
  border: 1px solid #edf0f2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.faq-navigation ul li a {
  display: block;
  padding: 10px 20px;
  background: #f4f4f4;
  border-bottom: 1px solid #edf0f2;
  color: #898989;
  font-size: 16px;
  text-decoration: none;
}
.faq-navigation ul li a:hover,
.faq-navigation ul li a.active {
  background: #f4f4f4;
  color: #ef6a2e;
}
.faq-content .faq {
  display: none;
}
.faq-content .faq h3 {
  font-size: 30px;
  font-weight: 400;
  color: #2e2e2e;
  margin-top: 0;
}
.faq-content .faq h4 {
  color: #ef6a2e;
  font-size: 25px;
  font-weight: 400;
  padding: 0;
}
.faq-content .faq hr {
  margin: 0;
  border-bottom: 1px solid #edf0f2;
  height: 1px;
  border-top: none;
}
.faq-content .faq.active {
  display: block;
}
.task-container {
  padding: 5px;
}
.task-container .block-update-card {
  height: 100%;
  border: 1px #ffffff solid;
  padding: 10px;
  box-shadow: 1px 1px 8px #c7c9cb;
  -moz-box-shadow: 1px 1px 8px #c7c9cb;
  -webkit-box-shadow: 1px 1px 8px #c7c9cb;
  -o-box-shadow: 1px 1px 8px #c7c9cb;
  background-color: #ffffff;
}
.task-container .block-update-card h3 {
  border-bottom: 1px solid #edf0f2;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
}
.task-container .block-update-card .h-status {
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.task-container .block-update-card .v-status {
  width: 5px;
  height: 80px;
  float: right;
  margin-right: 5px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
.task-container .block-update-card .update-card-MDimentions {
  width: 80px;
  height: 80px;
}
.task-container .block-update-card .update-card-body {
  margin-top: 10px;
  margin-left: 5px;
}
.task-container .block-update-card .update-card-body h4 {
  color: #898989;
  font-weight: bold;
  font-size: 13px;
}
.task-container .block-update-card .update-card-body > h3 {
  border-bottom: 1px solid #2e2e2e;
}
.task-container .block-update-card .update-card-body .dl-horizontal {
  color: #898989;
  font-size: 12px;
  width: 300px;
  display: inline-block;
}
.task-container .block-update-card .card-action-pellet {
  padding: 5px;
}
.task-container .block-update-card .card-action-pellet div {
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
  color: #edf0f2;
}
.task-container .block-update-card .card-action-pellet div:hover {
  color: #898989;
}
.task-container .block-update-card .card-bottom-status {
  color: #c7c9cb;
  font-weight: bold;
  font-size: 14px;
  border-top: #edf0f2 1px solid;
  padding-top: 5px;
  margin: 0px;
}
.task-container .block-update-card .card-bottom-status:hover {
  background-color: #a6321f;
  color: #ffffff;
  cursor: pointer;
}
.small-update-card-body .update-card-body {
  height: auto!important;
}
.card-body-social {
  font-size: 30px;
  margin-top: 10px;
}
.card-body-social .twitter {
  color: #19c4ff;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .google-plus {
  color: #dd4b39;
  cursor: pointer;
  margin-left: 10px;
}
.card-body-social .facebook {
  color: #49649f;
  cursor: pointer;
  margin-left: 10px;
}
.createTask .title h4 {
  display: block;
}
.createTask .title h4 p {
  word-wrap: break-word;
  max-width: 100%;
}
.music-card {
  background-color: #a2c400;
}
.upload_img {
  border: 1px solid #dce0e3;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #ffffff;
  height: 122px;
}
.upload_img div {
  border: 2px dashed #edf0f2;
  height: 118px;
}
.upload_img div h5 {
  font-size: 14px;
  margin: 23px 25px;
  color: #2e2e2e;
  background: url('../images/icn1.png') no-repeat top center;
  padding: 35px 0 0 0;
  text-align: center;
}
.form-group.form-inline label {
  padding: 6px 0 0 6px;
}
hr.spacing {
  margin: 15px 30px;
}
.numerical_questions .equation {
  overflow: hidden;
  margin-bottom: 10px;
}
.noborder {
  border: none!important;
}
.divider {
  margin: 10px auto;
}
.course {
  margin: 0 0 20px;
  border: 1px solid #c7c9cb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 20px;
  padding: 0;
}
.course h3 {
  color: #2e2e2e;
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #edf0f2;
}
.course h4 {
  display: inline-block;
}
.course .btn {
  float: right;
}
.course .btn {
  float: none;
}
.course .course-body {
  padding-top: 10px;
  border-bottom: #c7c9cb 1px solid;
  overflow: hidden;
  min-height: 100px;
  padding-bottom: 10px;
}
.course .course-body img {
  float: left;
  display: block;
  max-width: 55px;
  max-height: 75px;
}
.course .course-body h3.name {
  margin-top: 0;
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.course .course-body .buttons {
  padding-left: 30px;
  border-left: 1px solid #c7c9cb;
}
.course .course-footer {
  background: #edf0f2;
  min-height: 75px;
  transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  padding: 20px 0;
}
.course:hover {
  box-shadow: 0px 0px 2px 1px #c7c9cb;
  -moz-box-shadow: 0px 0px 2px 1px #c7c9cb;
  -webkit-box-shadow: 0px 0px 2px 1px #c7c9cb;
  -o-box-shadow: 0px 0px 2px 1px #c7c9cb;
}
.exam-item {
  margin: 0 0 20px;
  border: 1px solid #c7c9cb;
  padding: 20px;
  padding: 0;
  background: #ffffff;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #edf0f2;
}
.exam-item h3 {
  color: #2e2e2e;
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #edf0f2;
}
.exam-item h4 {
  display: inline-block;
}
.exam-item .btn {
  float: right;
}
.exam-item .exam-body {
  padding-top: 10px;
  border-bottom: #c7c9cb 1px solid;
  overflow: hidden;
  min-height: 80px;
  padding-bottom: 10px;
}
.exam-item .exam-body h3.name {
  margin-top: 0;
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.exam-item .exam-body .buttons {
  padding-left: 30px;
  border-left: 1px solid #c7c9cb;
}
.exam-item .exam-footer {
  background: #edf0f2;
  height: 75px;
  transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  padding: 20px 0;
}
.exam-item .exam-footer dl {
  display: inline-block;
}
.exam-item:hover {
  box-shadow: 0 0 2px 1px #c7c9cb;
  -moz-box-shadow: 0 0 2px 1px #c7c9cb;
  -webkit-box-shadow: 0 0 2px 1px #c7c9cb;
  -o-box-shadow: 0 0 2px 1px #c7c9cb;
}
.dl-horizontal .key {
  width: 130px;
  display: inline-block;
}
.dl-horizontal .value {
  width: 130px;
  display: inline-block;
}
.attachment-list-item {
  border: 1px solid #898989;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 4px 0;
  padding: 0 10px 10px 10px;
  background-color: #f4f4f4;
}
.attachment-list-item .actions {
  margin-top: 15px;
}
.attachment-list-item .actions button {
  margin: 2px;
}
.attachment-list-item.selected {
  background-color: #f4f4f4;
}
.list-container {
  overflow-y: auto;
  max-height: 300px;
  padding: 10px;
}
.linkitem {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #2e2e2e;
  margin-bottom: 5px;
  position: relative;
}
.linkitem:hover {
  background-color: #f4f4f4;
  text-decoration: none;
}
.linkitem .bodycontainer {
  display: inline-block;
  vertical-align: top;
  margin: 5px;
  padding: 2px;
  /*@ligh-greytion {*/
  /*color: @black;*/
  /*}*/
}
.linkitem .bodycontainer .title {
  margin-top: 0;
  color: #2e2e2e;
}
.linkitem .imagecontainer {
  margin: 5px;
  padding: 2px;
  display: inline-block;
  height: 44px;
}
.linkitem .item-container {
  border: 1px solid #c7c9cb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: hidden;
  min-height: 63px;
}
.linkitem .menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 9%;
}
.linkitem .menu > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  line-height: 2.33;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.linkitem .buttons {
  position: absolute;
  top: 0;
  right: 9%;
  background-color: #5cb85c;
  padding: 0;
  width: 0px;
  height: 63px;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0;
  transition: all 0.5s linear;
}
.linkitem .buttons.opened {
  opacity: 1;
  width: 91%;
}
.linkitem .buttons ul {
  text-align: center;
  margin: 0;
}
.linkitem .buttons ul li {
  display: inline-block;
}
.linkitem .buttons .btn {
  line-height: 2.33;
  margin-top: 12px;
  margin-bottom: 12px;
}
.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dnd_content {
  display: block;
}
.dnd_content .choices {
  display: block;
}
.dnd_content .choices .choice {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  color: #ffffff;
  background-color: #0481d9;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}
.dnd_content .choices .choice .removeChoice {
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 0;
  line-height: 1;
  position: absolute;
  top: 2px;
  right: 2px;
}
.dnd_content .buckets {
  padding: 10px;
  background-color: #edf0f2;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
}
.dnd_content .buckets .bucket {
  display: inline-block;
  padding: 10px;
  width: 50%;
  vertical-align: top;
}
.dnd_content .buckets .bucket .content {
  width: 100%;
  height: auto;
  min-height: 150px;
  overflow: hidden;
  border: 1px solid #2e2e2e;
  border-top: 0px solid #2e2e2e;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #ffffff;
}
.dnd_content .buckets .bucket .content .choices .choice {
  padding-right: 25px;
}
.dnd_content .buckets .bucket .title {
  text-align: center;
  display: block;
  margin: 5px 0 0;
}
.reloadCaptcha {
  margin-top: 5px;
}
#recaptcha_image {
  display: block;
  margin: 0 auto !important;
  width: 100%!important;
}
#recaptcha_image img {
  max-width: 373px;
}
.recaptchatable .recaptcha_r1_c1,
.recaptchatable .recaptcha_r2_c1,
.recaptchatable .recaptcha_r2_c2,
.recaptchatable .recaptcha_r3_c1,
.recaptchatable .recaptcha_r3_c2,
.recaptchatable .recaptcha_r3_c3,
.recaptchatable .recaptcha_r4_c1,
.recaptchatable .recaptcha_r4_c2,
.recaptchatable .recaptcha_r4_c4,
.recaptchatable .recaptcha_r7_c1,
.recaptchatable .recaptcha_r8_c1 {
  background: none !important;
}
.recaptcha_only_if_privacy,
.recaptchatable td img,
#recaptcha_reload,
#recaptcha_switch_audio,
#recaptcha_switch_img,
#recaptcha_whatsthis {
  display: none;
}
#recaptcha_response_field {
  line-height: 19px;
  padding-left: 3px;
}
.mobileMenuBtn,
.mobileMenuBtn:focus {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffffff;
}
#recaptcha_logo {
  display: none;
}
.recaptchatable {
  width: 100%;
}
#recaptcha_table tr td {
  display: none;
  padding: 5px!important;
}
#recaptcha_table tr td:first-child {
  display: block;
  width: 100%;
}
#recaptcha_table input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-color: #ccc!important;
  width: 100%!important;
}
#recaptcha_table input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#recaptcha_table input::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
#recaptcha_table input:-ms-input-placeholder {
  color: #777777;
}
#recaptcha_table input::-webkit-input-placeholder {
  color: #777777;
}
#recaptcha_table input[disabled],
#recaptcha_table input[readonly],
fieldset[disabled] #recaptcha_table input {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea#recaptcha_table input {
  height: auto;
}
#recaptcha_table .recaptcha_image_cell {
  background: transparent;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #ef6a2e;
  border-left-color: #ef6a2e;
}
#loading-bar .bar {
  background-color: #ef6a2e;
}
.img-circle {
  margin: 0 auto;
}
.add_more_options {
  margin: auto 2px;
}
ul.progressBar li {
  margin: 10px auto 0;
  width: 30px;
}
ul.progressBar li a {
  border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-border-radius: 500px;
  -o-border-radius: 500px;
  width: 30px;
  height: 30px;
  background: #c7c9cb;
  color: #ffffff;
  display: block;
  text-align: center;
  line-height: 32px;
}
ul.progressBar li a:hover {
  text-decoration: none;
  background: #2e2e2e;
}
ul.progressBar li.examQuestionCurrent a {
  background: #ef6a2e;
}
ul.progressBar li.examQuestionAnswered a {
  background: #a2c400;
}
ul.progressBar li.examQuestionSkipped a {
  background: #e41e2f;
}
.progressTimer {
  font-size: 36px;
  color: #ef6a2e;
  text-align: center;
}
.progressTxt {
  font-size: 14px;
  color: #2e2e2e;
  text-align: center;
  border-bottom: 1px solid #edf0f2;
  padding-bottom: 10px;
}
.reportTotalDuration {
  overflow: hidden;
  width: 348px;
  margin: 0 auto 30px;
}
.reportTotalDuration .reportTimeBlock {
  float: left;
}
.reportTotalDuration .reportTimeBlock .reportTime,
.reportTotalDuration .reportTimeBlock .reportColon {
  color: #a2c400;
  font-size: 65px;
  float: left;
  line-height: 1;
}
.reportTotalDuration .reportTimeBlock .reportTxt {
  font-size: 18px;
  text-align: center;
  padding-right: 18px;
}
.questionRTL {
  direction: rtl;
  text-align: right;
}
.questionRTL .radio label,
.questionRTL .checkbox label {
  padding-left: 0;
  padding-right: 20px;
}
.questionRTL .radio label input,
.questionRTL .checkbox label input {
  margin-left: 0;
  margin-right: -20px;
}
.questionRTL .true_false_answer a {
  float: right;
}
.questionLTR {
  direction: ltr;
  text-align: left;
}
.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  min-height: 50px;
}
.angular-ui-tree-handle:hover {
  color: #438eb9;
  border-color: #dce2e8;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.success-flash {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.error-flash {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.socialShare a {
  color: #ffffff;
}
.socialShare a.facebook {
  background: #3b5998;
}
.socialShare a.facebook:hover {
  color: #3b5998;
}
.socialShare a.twitter {
  background: #00aced;
}
.socialShare a.twitter:hover {
  color: #00aced;
}
.socialShare a.googleplus {
  background: #dd4b39;
}
.socialShare a.googleplus:hover {
  color: #dd4b39;
}
.socialShare a:hover,
.socialShare a:focus {
  background: #e3e3e3;
}
.result .socialShare {
  padding-top: 25px;
}
.facebookAuth {
  padding-top: 20px;
  text-align: center;
}
.facebookAuth h4 {
  display: inline;
}
.facebookAuth .fa-square {
  color: #3b5998;
}
.opacity {
  opacity: 0.7;
}
.plan-card .plan-details {
  position: absolute;
  background: #f0ad4e;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  margin-top: 5px;
  z-index: 999;
}
tags-input {
  display: block;
}
tags-input *,
tags-input *:before,
tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}
tags-input .host:active {
  outline: none;
}
tags-input .tags {
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 100%;
}
tags-input .tags.focused {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
}
tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 26px;
  line-height: 25px;
  border: 1px solid #cccccc;
  color: #333333;
  border-radius: 3px;
  background-color: #ffffff;
}
tags-input .tags .tag-item.selected {
  background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}
tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: #585858;
}
tags-input .tags .tag-item .remove-button:active {
  color: red;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tags-input .tags .input.invalid-tag {
  color: red;
}
tags-input .tags .input::-ms-clear {
  display: none;
}
tags-input.ng-invalid .tags {
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}
tags-input[disabled] .host:focus {
  outline: none;
}
tags-input[disabled] .tags {
  background-color: #eeeeee;
  cursor: default;
}
tags-input[disabled] .tags .tag-item {
  opacity: 0.65;
  background: -webkit-linear-gradient(top, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
}
tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default;
}
tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858;
}
tags-input[disabled] .tags .input {
  background-color: #eeeeee;
  cursor: default;
}
tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
}
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
tags-input .autocomplete .suggestion-item.selected {
  color: white;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: white;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
/**Watermark***/
.ribbon-wrapper-green {
  width: 88px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  right: 11px;
  z-index: 999;
}
.ribbon-green {
  font: bold 15px Sans-Serif;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 20px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfdc7a), to(#8ebf45));
  background-image: -webkit-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -moz-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -ms-linear-gradient(top, #bfdc7a, #8ebf45);
  background-image: -o-linear-gradient(top, #bfdc7a, #8ebf45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.ribbon-green:before,
.ribbon-green:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}
.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
.examHint {
  padding: 20px 15px;
}
.dropdown-menu {
  z-index: 16000003;
}
.img {
  height: 183px;
  display: block;
}
.btn {
  position: relative;
}
.btn:focus,
.btn:active {
  outline: none !important;
}
svg.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
svg.ripple circle {
  fill: rgba(255, 255, 255, 0.1);
}
.response {
  color: #edf0f2;
}
.response.error-result {
  color: #e41e2f;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
.response.loading-result {
  color: #ffde00;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
.response.success-result {
  color: #a2c400;
  transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
}
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99999999;
  color: #2e2e2e;
  display: table;
}
.loader .loader-msg {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.loader .loader-msg i {
  margin-right: 10px;
}
.spacing-fix.s-1x {
  margin-bottom: 10px;
}
.spacing-fix.s-2x {
  margin-bottom: 20px;
}
/* Responsive */
@media only screen and (min-width: 768px) {
  .rnav.collapse.in {
    display: none!important;
  }
}
@media only screen and (max-width: 767px) {
  .awards .no-prizes h4 img {
    display: block;
    margin: auto;
  }
  .test_container {
    padding: 15px;
  }
  .true_false_answer a {
    width: 75px;
    height: 75px;
  }
  .true_false_answer a.true {
    background-position: 17px -492px;
  }
  .true_false_answer a.false {
    background-position: 17px -584px;
  }
  .mark_1,
  .mark_2 {
    padding: 0;
    margin: 0;
    line-height: 1;
  }
  .mark_1 .num,
  .mark_2 .num {
    font-size: 28px;
    padding: 5px 0;
    display: inline-block;
  }
  .rp_analysis h4 {
    padding-bottom: 5px;
  }
  .draw_bar .s_dash,
  .draw_bar .l_dash,
  .draw_bar .grade {
    display: none!important;
  }
  .draw_bar .selected {
    display: block!important;
    margin: -30px auto 0 !important;
    float: none!important;
  }
  .exam_time h5.pull-right {
    clear: both;
    float: none!important;
    text-align: center;
  }
  .exam_time h5.pull-right span {
    display: block;
  }
  .exam_time .time_circle .circle4 {
    margin: auto;
    float: none;
    display: block;
  }
  .exam_time .time_circle .circle4 .txt1 {
    position: relative;
    top: 35px;
    margin-top: 0;
  }
  .exam_time .time_circle .circle4 .txt2 {
    position: relative;
    top: 35px;
  }
  .exam_time .time_data span {
    margin: 10px auto;
  }
  .exam_time .col-md-3 {
    text-align: center;
    clear: both;
  }
  .exam_time .col-md-3 img {
    float: none!important;
  }
  .col-md-4 {
    padding: 0;
  }
  header .pull-left {
    margin: 6px auto;
    float: none!important;
    text-align: center;
    width: 100%;
  }
  header .pull-left span.logo_img {
    background: none;
    float: none;
  }
  header .pull-right {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    text-align: center;
  }
  header .pull-right .navMenu {
    display: none;
  }
  header .pull-right a.user_name {
    border: none;
    padding: 7px;
    float: none!important;
  }
  header .pull-right a.user_name img {
    display: none;
  }
  header .pull-right a.user_name .user-name {
    line-height: 25px;
  }
  .searchform {
    float: none!important;
  }
  .forgot_password {
    padding: 0 15px;
  }
  .btn-group-register.btn-group-vertical {
    width: 100%;
  }
  .profile_container {
    padding: 10px 0;
  }
  .profile_container .edit_form {
    padding: 10px 0;
  }
  .profile_container .edit_form h3 {
    padding-left: 10px;
  }
  h3.landing_title {
    overflow: hidden;
    background-position: left 22px;
  }
  h3.landing_title .btn {
    width: 100%;
    margin-bottom: 5px;
  }
  .course .course-body .buttons {
    padding: 0 10px;
    border: none;
  }
  .course .course-footer {
    padding: 5px 0 0 0;
  }
  .btn-block-xs {
    width: 100%;
    margin: 0 0 5px;
  }
  .result {
    padding: 0;
  }
  .analysis_1,
  .analysis_2 {
    border: none;
  }
  .analysis_1 .num {
    padding: 0;
  }
  .daraga {
    display: block;
  }
  .recommendations li {
    padding: 0;
    background: none!important;
  }
  .recommendations .button {
    padding: 0;
  }
  .time_circle .circle4 .txt2 {
    margin-top: 0;
    font-size: 12px;
  }
  .quest_data .col-md-4 {
    border: none;
  }
  #recaptcha_image {
    display: block;
    margin: 0 auto !important;
    width: 100%!important;
  }
  #recaptcha_challenge_image {
    width: 100%!important;
  }
  .recaptchatable #recaptcha_response_field {
    width: 100%!important;
  }
  .recaptchatable .recaptcha_r1_c1,
  .recaptchatable .recaptcha_r2_c1,
  .recaptchatable .recaptcha_r2_c2,
  .recaptchatable .recaptcha_r3_c1,
  .recaptchatable .recaptcha_r3_c2,
  .recaptchatable .recaptcha_r3_c3,
  .recaptchatable .recaptcha_r4_c1,
  .recaptchatable .recaptcha_r4_c2,
  .recaptchatable .recaptcha_r4_c4,
  .recaptchatable .recaptcha_r7_c1,
  .recaptchatable .recaptcha_r8_c1 {
    background: none !important;
  }
  .recaptcha_only_if_privacy,
  .recaptchatable td img,
  #recaptcha_reload,
  #recaptcha_switch_audio,
  #recaptcha_switch_img,
  #recaptcha_whatsthis,
  #recaptcha_logo {
    display: none;
  }
  .taqreerCircle {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    width: 100%;
    margin: 0;
  }
  .draw_bar .s_dash {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .btn-group-responsive {
    width: 100%;
  }
  .btn-group-responsive.btn-group > .btn {
    display: block;
    float: none;
    margin-left: 0;
    border-bottom: 0;
  }
  .btn-group-responsive.btn-group > .btn:first-child:not(:last-child) {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }
  .btn-group-responsive.btn-group > .btn:last-child:not(:first-child) {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
