@import (reference) url("style.less");
body {
	direction: rtl;
	text-align: right;
}
header {
	.pull-left {
		span.logo_img {
			// float: right;
			// padding: 0 0 0 20px;
			// background-position: 0 5px;
		}
		a {
			float: left;
		}
	}
	.pull-right {
		.navMenu {
			background-position: 5px;
			.navItem {
				float: left!important;
				&:last-child {
                    border-right: none;
                }
                &:first-child {
                    border-right: 1px solid @yellow;;
                }
			}
			.drop_down {
				float: left!important;
				ul {
					.dropdown-menu {
						left: 0!important;
						right: auto!important;
						text-align: right!important;
					}
					.dropdown-submenu {
						&>.dropdown-menu {
							left: 100%!important;
						}
						&>a:after {
							float: right;
							border-right-color: transparent;
							border-left-color: #ccc;
							margin-left: 0;
							margin-right: -19px;
						}
					}
				}
			}
		}
		a.user_name {
			float: left;
		}
	}
}
.all_subjects .subj .subj_name img {
	float: right;
}
h3.landing_title {
	background-position: right center;
}
.bordered-block {
  .btn {
      float: left;
  }
}
.teacher_landing .bordered-block {
	.buttons {
		border-left: none;
		border-right:1px solid #d7d7d7;
		padding-left:0;
		padding-right:30px;
	}
}
.ui-select-bootstrap {
	&>.ui-select-match {
		text-align: right;
		&>.caret {
			right: auto;
			left: 15px;
		}
	}
}

.course .course-body .buttons {
	padding-left: 0;
	border-left: none;
	padding-right: 30px;
	border-right: 1px solid #d7d7d7;
}

.practice_form {
	.number {
		float: right;
		margin: 0 10px 0 30px;
	}
	h4 {
		float: right;
	}
	.sub {
		border-right: 1px solid #a2c400;
		border-left: none;
		margin: 10px 30px 20px 48px;
	}
}
.contain-stats {
  .subj_numbers:before {
    right: 20px;
    margin-left: auto;
  }
}
.quest_data .col-md-4 {
  border-right:1px solid #d0d0d0;
  border-left: 0px;
}
.login_form  {
	a.login_fb {
		span {
			padding-left: 10px;
			img {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}
}

.questionLTR {
	.radio, .checkbox {
		label {
			padding-right: 0;
			padding-left: 20px;
			input {
				margin-right: 0;
				margin-left: -20px;
			}
		}
	}
}

.dnd_content {
	.choices {
		.choice {
			.removeChoice {
				right: auto;
				left: 2px;
			}
		}
	}
	.buckets {
		.bucket {
			.content {
				.choices {
					.choice {
						padding-right: 10px;
						padding-left: 25px;
					}
				}
			}
		}
	}
}
.mobileMenuBtn, .mobileMenuBtn:focus {
  left: 10px;
  right: auto;
}
.nav-pills > li {
    float: none;
}
.taqreerCircle {
	float: right;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
	padding-left: 0;
	padding-right: 20px;
}
.subsList {
	li {
		h4 {
			float: right!important;
		}
	}
}
.btn-wide-icn {
	padding: 16.5px 10px;
}
.ribbon-wrapper-green {
  left: 11px;
  right: auto;
}
.ribbon-green {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  right: -3px;
  left: auto;
  top: 15px;
}
.student_info {
	div.right {
		border-right: 1px solid @grey;
		border-left: none;
	}
}
.datepicker-container {
	.dropdown-menu {
		right: auto;
		table {
			direction: ltr;
		}
	}
}
.popover {
	left: auto!important;
}
.linkitem {
	.menu {
		right: auto;
		left: 0;
		> button {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.buttons {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		right: auto;
		left: 9%;
	}
}

/* Responsive */
@media only screen and (max-width : 767px) {
	header {
		.pull-right {
			a.user_name {
				float: none;
			}
		}
		.rnav {
			a {
				.caret {
					float: left;
				}
			}
		}
	}
	.searchform {
		float: none!important;
	}
}