.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.course .btn {
  float: left;
}
.exam-item .btn {
  float: left;
}
body {
  direction: rtl;
  text-align: right;
}
header .pull-left a {
  float: left;
}
header .pull-right .navMenu {
  background-position: 5px;
}
header .pull-right .navMenu .navItem {
  float: left!important;
}
header .pull-right .navMenu .navItem:last-child {
  border-right: none;
}
header .pull-right .navMenu .navItem:first-child {
  border-right: 1px solid #ffde00;
}
header .pull-right .navMenu .drop_down {
  float: left!important;
}
header .pull-right .navMenu .drop_down ul .dropdown-menu {
  left: 0!important;
  right: auto!important;
  text-align: right!important;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu > .dropdown-menu {
  left: 100%!important;
}
header .pull-right .navMenu .drop_down ul .dropdown-submenu > a:after {
  float: right;
  border-right-color: transparent;
  border-left-color: #ccc;
  margin-left: 0;
  margin-right: -19px;
}
header .pull-right a.user_name {
  float: left;
}
.all_subjects .subj .subj_name img {
  float: right;
}
h3.landing_title {
  background-position: right center;
}
.bordered-block .btn {
  float: left;
}
.teacher_landing .bordered-block .buttons {
  border-left: none;
  border-right: 1px solid #d7d7d7;
  padding-left: 0;
  padding-right: 30px;
}
.ui-select-bootstrap > .ui-select-match {
  text-align: right;
}
.ui-select-bootstrap > .ui-select-match > .caret {
  right: auto;
  left: 15px;
}
.course .course-body .buttons {
  padding-left: 0;
  border-left: none;
  padding-right: 30px;
  border-right: 1px solid #d7d7d7;
}
.practice_form .number {
  float: right;
  margin: 0 10px 0 30px;
}
.practice_form h4 {
  float: right;
}
.practice_form .sub {
  border-right: 1px solid #a2c400;
  border-left: none;
  margin: 10px 30px 20px 48px;
}
.contain-stats .subj_numbers:before {
  right: 20px;
  margin-left: auto;
}
.quest_data .col-md-4 {
  border-right: 1px solid #d0d0d0;
  border-left: 0px;
}
.login_form a.login_fb span {
  padding-left: 10px;
}
.login_form a.login_fb span img {
  margin-right: 0;
  margin-left: 10px;
}
.questionLTR .radio label,
.questionLTR .checkbox label {
  padding-right: 0;
  padding-left: 20px;
}
.questionLTR .radio label input,
.questionLTR .checkbox label input {
  margin-right: 0;
  margin-left: -20px;
}
.dnd_content .choices .choice .removeChoice {
  right: auto;
  left: 2px;
}
.dnd_content .buckets .bucket .content .choices .choice {
  padding-right: 10px;
  padding-left: 25px;
}
.mobileMenuBtn,
.mobileMenuBtn:focus {
  left: 10px;
  right: auto;
}
.nav-pills > li {
  float: none;
}
.taqreerCircle {
  float: right;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0;
  padding-right: 20px;
}
.subsList li h4 {
  float: right!important;
}
.btn-wide-icn {
  padding: 16.5px 10px;
}
.ribbon-wrapper-green {
  left: 11px;
  right: auto;
}
.ribbon-green {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  right: -3px;
  left: auto;
  top: 15px;
}
.student_info div.right {
  border-right: 1px solid #c7c9cb;
  border-left: none;
}
.datepicker-container .dropdown-menu {
  right: auto;
}
.datepicker-container .dropdown-menu table {
  direction: ltr;
}
.popover {
  left: auto!important;
}
.linkitem .menu {
  right: auto;
  left: 0;
}
.linkitem .menu > button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.linkitem .buttons {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  right: auto;
  left: 9%;
}
/* Responsive */
@media only screen and (max-width: 767px) {
  header .pull-right a.user_name {
    float: none;
  }
  header .rnav a .caret {
    float: left;
  }
  .searchform {
    float: none!important;
  }
}
