@import (reference) url("../bower_components/bootstrap/less/bootstrap.less");
// Colors
@orange: #ef6a2e;
@green: #a2c400;
@yellow: #ffde00;
@black: #2e2e2e;
@white: #ffffff;
@grey: #c7c9cb;
@dark-grey: #898989;
@light-grey: #edf0f2;
@red: #e41e2f;
@dark-white: #f4f4f4;
@blue: #0481D9;
@brown: #a6321f;
@limon-yellow: #e0ff4a;
.roundBorders(@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -o-border-radius: @radius;
}
.boxShadow(@attr) {
    box-shadow: @attr;
    -moz-box-shadow: @attr;
    -webkit-box-shadow: @attr;
    -o-box-shadow: @attr;
}
.transition(@attr) {
    transition: @attr;
    -moz-transition: @attr;
    -o-transition: @attr;
    -webkit-transition: @attr;
}
@font-face {
    font-family: 'cocon';
    src: url('../fonts/cocon_next/coconNextArabic-Light.otf');
    src: url('../fonts/cocon_next/coconNextArabic-Light.eot');
    src: url('../fonts/cocon_next/coconNextArabic-Light.svg');
    src: url('../fonts/cocon_next/coconNextArabic-Light.ttf');
    src: url('../fonts/cocon_next/coconNextArabic-Light.woff');
}
body {
    font-size: 14px;
    color: @dark-grey;
    font-family: 'cocon', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: @light-grey;
    overflow-x: hidden;
    text-align: left;
    direction: ltr;
    &.body2 {
        background-color: @white;
    }
}
a {
    text-decoration: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
    color: @orange;
    &:hover {
        color: @orange;
    }
}
.clear {
    clear: both;
}
h1 {
    font-size: 40px;
    font-weight: 400;
}
h2 {
    font-size: 30px;
    font-weight: 400;
}
h3 {
    font-size: 25px;
    font-weight: 400;
}
h4 {
    font-size: 20px;
    font-weight: 400;
}
h5 {
    font-size: 18px;
    font-weight: 400;
}
h6 {
    font-size: 14px;
    font-weight: 400;
}
ul {
    list-style: none;
    padding: 0;
}
.marginReset-0 {
  margin: 0 !important;
}
header {
    height: 50px;
    background-color: @black;
    width: 100%;
    .rnav {
        width: 100%;
        background: @black;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 999;
        a {
            color: @yellow;
            font-size: 13px;
            padding: 10px 15px;
            width: 100%;
            display: block;
            .caret {
                float: right;
            }
        }
        ul {
            margin: 0;
            ul {
                background: @black;
            }
        }
        .collapse.in {
            background: #3d3d3d;
        }
    }
    .pull-left {
        margin: 6px 0;
        span.logo_img {
            display: inline-block;
            float: left;
            margin: 4px 0;
        }
    }
    .pull-right {
        .navMenu {
            float: right;
            padding-right: 6px;
            background: url('../images/border.png') no-repeat right 13px;
            .navItem {
                color: @yellow;
                font-size: 13px;
                float: right;
                margin: 18px 0 13px 10px;
                border-right: 1px solid @yellow;
                padding-right: 10px;
                &:first-child {
                    border-right: none;
                }
                &.message {
                    span {
                        color: @white;
                        font-size: 10px;
                        background-color: #fb3c4a;
                        height: 16px;
                        min-width: 16px;
                        text-align: center;
                        display: inline-block;
                        line-height: 17px;
                        .roundBorders(8px);
                        margin: 0 0 0 2px;
                    }
                }
            }
            .drop_down {
                float: right;
                position: relative;
                .dropdown-backdrop {
                    display: none;
                }
                ul {
                    background: @white;
                    .roundBorders(4px);
                    position: absolute;
                    top: 45px;
                    left: auto;
                    right: 0;
                    padding: 0;
                    .boxShadow(0 0 3px @black);
                    .transition(opacity 0.2s);
                    span.arrow {
                        display: block;
                        background: url('../images/nav_arrow.png') no-repeat;
                        top: -9px;
                        right: 12px;
                        width: 13px;
                        height: 9px;
                        position: absolute;
                    }
                    a {
                        border-bottom: 1px dotted @grey;
                        line-height: 35px;
                        color: @black;
                        font-size: 16px;
                        &:hover {} &:nth-child(2) {
                            border-top: none;
                        }
                        &:last-child {}
                    }
                    li:last-child a {
                        border-bottom: none;
                    }
                    .dropdown-submenu {
                        position: relative;
                        > .dropdown-menu {
                            top: 0;
                            right: 100%;
                            margin-top: -1px;
                            margin-left: -1px;
                        }
                        > a:after {
                            display: inline-block;
                            content: " ";
                            float: left;
                            width: 0;
                            height: 0;
                            border-color: transparent;
                            border-style: solid;
                            border-width: 5px;
                            border-right-color: @grey;
                            margin-top: 11px;
                            margin-left: -18px;
                        }
                        &:hover > .dropdown-menu {
                            display: block;
                        }
                        &:hover > a:after {
                            border-left-color: @white;
                        }
                        &.pull-right {
                            float: none;
                            > .dropdown-menu {
                                left: -100%;
                                margin-left: 10px;
                                .roundBorders(6px 0 6px 6px);
                            }
                        }
                    }
                }
            }
        }
        a.user_name {
            display: table;
            color: @white;
            // line-height: 26px;
            padding: 0 0 0 10px;
            margin-top: 5px;
            float: right;
            .user-name {
                display: table-cell;
                padding-right: 5px;
                vertical-align: middle;
            }
            .user-pp {
                width: 40px;
                height: 40px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #252525;
            }
            img {
                display: inline-block;
                margin-left: 5px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.header2 {
        padding: 10px 0 20px 0;
        height: 130px;
        border-bottom: 1px solid @light-grey;
        background-color: transparent;
    }
}
.test_container {
    padding: 40px 15px;
    z-index: 100;
    > .row {
        border: 1px solid @grey;
        .roundBorders(4px);
        background-color: @white;
        padding-bottom: 20px;
    }
    h6.test_title {
        background-color: @black;
        .roundBorders(4px 4px 0 0);
        padding: 10px;
        margin: 0;
        overflow: hidden;
        div.crumbs {
            color: @white;
            padding: 5px;
            display: inline-block;
            a {
                color: @white;
            }
        }
        .searchform {
            .form-group, .input-group {
                width: 100%;
            }
        }
    }
    h2.quest1 {
        color: @black;
        background: url('../images/icn02.png') no-repeat left center;
        padding: 15px 20px;
        margin: 0 35px 20px;
        border-bottom: 1px solid @light-grey;
    }
    .test_form {
        padding: 0 35px;
        width: 860px;
    }
    .field {
        margin: 0 0 20px;
        float: left;
        label {
            display: block;
            color: @dark-grey;
            font-size: 16px;
            padding: 0 0 5px;
        }
    }
    .shift {
        display: block;
        float: left;
        margin: 36px 14px 0;
        background: url('../images/shift.png') no-repeat;
        width: 9px;
        height: 17px;
    }
    .hidden_field {
        padding: 20px;
        background-color: @light-grey;
        .roundBorders(4px);
        margin-bottom: 60px;
        position: relative;
        display: none;
        a.close {
            background: url('../images/close.png') no-repeat right center;
            color: @red;
            font-size: 16px;
            display: block;
            position: absolute;
            top: 10px;
            left: 20px;
            padding: 0 15px 0 0;
            width: 30px;
            height: 20px;
        }
        a.close:hover {
            text-decoration: underline;
        }
    }
    h4 {
        color: @black;
        padding: 0 0 25px;
    }
    hr {
        border-bottom: 1px solid @light-grey;
        height: 0px;
        /*margin: 0 30px;*/
    }
}
h3.landing_title {
    color: @black;
    background: url('../images/icn02.png') no-repeat left center;
    padding: 15px 20px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-bottom: 1px solid @light-grey;
    .btn {
        margin-left: 5px;
        margin-right: 5px;
    }
}
.profile_container {
    padding: 120px 0;
    .right_menu {
        .roundBorders(4px);
        background-color: @white;
        li {
            height: 52px;
            padding: 0 30px;
            a {
                text-decoration: none;
                display: block;
                font-size: 20px;
                color: @dark-grey;
                border-top: 1px solid @light-grey;
                line-height: 52px;
            }
            &:first-child {
                .roundBorders(4px 4px 0 0);
                a {
                    border-top: none;
                }
            }
            &:last-child {
                .roundBorders(0 0 4px 4px);
            }
            &:hover, &.current {
                background-color: @dark-grey;
                a {
                    color: @white;
                    border-color: @dark-grey;
                    text-decoration: none;
                }
            }
        }
    }
    .left_form {
        border: 1px solid @grey;
        .roundBorders(4px);
        background-color: @white;
        height: 300px;
        .single_input {
            width: 400px;
            margin: 95px auto 0;
        }
        label {
            color: @dark-grey;
        }
    }
    .edit_form {
        border: 1px solid @grey;
        .roundBorders(4px);
        background-color: @white;
        padding: 40px;
        div.right {
            width: 265px;
            padding: 55px 0 0;
            div.field {
                margin: 0 0 20px;
            }
            input.txt_input {
                width: 235px;
                display: block;
            }
        }
        label {
            font-size: 20px;
            margin: 0 0 5px;
        }
        div.left {
            width: 200px;
            label {
                text-align: center;
                margin: 0 0 15px;
            }
        }
        .profile_picture img {
            width: 200px;
            height: 200px;
            .roundBorders(120px);
            margin: 0 auto;
        }
        #avatar {
            margin: 0 auto;
        }
    }
}
.exam_list {
    .roundBorders(0 0 4px 4px);
    background-color: @white;
    border: 1px solid @grey;
    padding: 20px;
    li {
        padding: 20px 0;
        border-top: 1px solid @grey;
        span.time_exam {
            margin: 0 20px 0 0;
            line-height: 38px;
            font-size: 20px;
            color: @dark-grey;
            background: url('../images/clk.png') no-repeat right center;
            padding: 0 30px 0 0;
        }
        &:first-child {
            border-top: none;
        }
    }
}
.notification, .invitation {
    border-bottom: 1px solid @grey;
    .notification_title {
        padding-top: 10px;
    }
    .date {
        padding-top: 10px;
        color: @dark-grey;
    }
    a {
        display: inline-block;
        margin: 5px;
        width: 55px;
        height: 55px;
        &.true {
            background: url('../images/right.png') no-repeat;
        }
        &.false {
            background: url('../images/wrong.png') no-repeat;
        }
    }
}
.exam_list li h4, .notification li h4 {
    color: @dark-grey;
    padding: 0 0 20px;
}
.green {
    color: @green;
}
.logo2 {
    background: url('../images/logo2.png') no-repeat;
    display: block;
    width: 90px;
    height: 100px;
    margin: auto;
}
.forgot_password {
    padding: 110px 15px;
}
.forgot_content {
    padding: 50px 0 0 0;
    h2 {
        color: @black;
        font-size: 33px;
        padding: 0 0 30px;
    }
    p {
        color: @dark-grey;
        font-size: 20px;
        line-height: 35px;
        padding: 0 0 40px;
    }
}
.login {
    padding: 40px 0;
    h4 {
        // border-bottom:1px solid @grey;
        // padding:0 0 20px 0;
    }
    hr {
        border-bottom: 1px solid @grey;
    }
}
.login_content {
    background: @dark-white;
    padding: 20px;
    border: 1px solid @grey;
    .roundBorders(4px);
    .login_form {
        padding: 0 30px;
        a.login_fb {
            color: @white;
            display: block;
            margin: 30px 0;
            .transition(all 200ms linear);
            span {
                display: inline-block;
                background: @blue;
                margin: 0;
                .roundBorders(5px);
                padding-right: 10px;
                img {
                    height: 45px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-right: 1px solid @blue;
                    margin-right: 10px;
                }
            }
            &:hover {
                opacity: 0.9;
            }
        }
        .img-or {
            max-width: 100%;
            margin: 0 auto;
        }
    }
}
.col-center {
    margin: 0 auto !important;
    float: none !important;
}
.subsList {
    margin-top: 20px;
    .roundBorders(0 0 4px 4px);
    background-color: @white;
    padding: 20px;
    li {
        padding: 20px 0;
        border-top: 1px solid @grey;
        overflow: hidden;
        h4 {
            float: left;
        }
        &:first-child {
            border-top: none;
            border-top: 1px solid @grey;
        }
    }
}
.btn-icn {
    width: 135px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 15px;
    font-size: 18px;
    white-space: normal;
    img {
        display: block;
        width: 75px;
        margin: 0 auto;
    }
}
.btn-icn span, .btn-wide-icn span {
    background-color: @brown;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    text-align: center;
    color: @white;
    line-height: 30px;
    .roundBorders(4px);
    z-index: 1000;
}
.allIn {
    padding: 20px 0 40px;
    border-bottom: 1px solid @grey;
}
.practice_form {
    padding: 0 0 10px;
    .number {
        display: inline-block;
        color: @white;
        background-color: @green;
        font-size: 24px;
        width: 42px;
        height: 42px;
        .roundBorders(21px);
        line-height: 42px;
        text-align: center;
        margin: 0 5px 0 10px;
    }
    .sub {
        margin: 10px 48px 20px 30px;
        border-left: 1px solid @green;
        padding: 10px 20px;
    }
    h4 {
        padding: 0;
        line-height: 25px;
        display: inline;
    }
}
.rp_rating {
    background: url('../images/results_page_16.png') no-repeat;
    width: 126px;
    height: 23px;
    display: block;
    margin-top: 32px;
}
.rp_motivational_1 {
    font-size: 74px;
    padding-top: 10px;
    line-height: 74px;
    color: @black;
    margin-bottom: 0;
}
.rp_motivational_2 {
    font-size: 20px;
    line-height: 30px;
    color: @black;
    margin-top: 0;
}
.result {
    padding: 0 30px 40px;
}
.rp_show_report {
    min-height: 117px;
    background-color: @light-grey;
    .roundBorders(4px);
    margin-top: 32px;
    border: 1px solid @grey;
    .boxShadow(inset 0 0 10px @black);
    padding: 0 10px;
}
.rp_analysis {
    min-height: 267px;
    background: @white;
    border: 1px solid @light-grey;
    .roundBorders(4px);
    margin: 50px 0;
    h4 {
        font-size: 26px;
        line-height: 14px;
        text-align: center;
        padding-top: 30px;
        clear: both;
    }
}
.analysis_1, .analysis_2 {
    border-left: 1px solid @light-grey;
    height: 100%;
    text-align: center;
}
.analysis_1 {
    .num {
        font-size: 73px;
        color: @green;
        padding-right: 70px;
        hr {
            margin: 0;
            transform: rotate(7deg);
            -moz-transform: rotate(7deg);
            -webkit-transform: rotate(7deg);
            -ms-transform: rotate(7deg);
        }
    }
}
.analysis_2 {
    div {
        background: @green;
        .roundBorders(50%);
        display: inline-block;
        padding: 0;
        height: 130px;
        width: 130px;
        span {
            display: block;
            text-align: center;
        }
    }
}
.analysis_3 {
    text-align: center;
}
.mark_1 {
    line-height: 45px;
}
.g1 {
    padding-top: 45px;
    font-size: 23px;
    line-height: 14px;
    color: @white;
}
.g2 {
    padding-top: 24px;
    font-size: 30px;
    line-height: 14px;
    color: @limon-yellow;
}
.timing {
    border: 10px solid @green;
    .roundBorders(50%);
    display: inline-block;
    padding: 0;
    padding-top: 25px;
    height: 130px;
    width: 130px;
    span {
        display: inline-block;
        text-align: center;
    }
}
.max_timing {
    padding-top: 25px;
    text-align: center;
}
.t1 {
    color: @green;
    font-size: 28px;
}
.t2 {
    font-size: 16px;
}
.t3 {
    font-size: 15px;
    color: @dark-grey;
}
.t4 {
    color: @brown;
    font-size: 25px;
    padding-right: 5px;
}
.main-inner {
    padding: 20px;
}
.questions_bulk {
    padding: 5px;
    margin-bottom: 10px;
    .kv {
        margin: 10px;
    }
}
.report_content {
    .quest_no {
        border: 1px solid @grey;
        .roundBorders(4px);
        padding: 20px;
    }
    .div_title {
        font-size: 22px;
        display: block;
        color: @black;
        line-height: 24px;
    }
    p {
        font-size: 18px;
        color: @grey;
        padding: 0 0 20px;
    }
    .chart_values {
        position: relative;
        margin: 20px 0 0;
        margin: auto;
        height: 195px;
        width: 240px;
        .correct {
            width: 165px;
            position: absolute;
            top: 0;
            left: 28px;
            height: 165px;
        }
        .wrong {
            width: 150px;
            position: absolute;
            top: 21px;
            left: 49px;
            height: 150px;
        }
        .skipped {
            width: 135px;
            position: absolute;
            top: 42px;
            left: 69px;
            height: 135px;
        }
    }
}
.circle {
    display: inline-block;
    vertical-align: top;
    position: relative;
    canvas {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.red {
    color: @red;
}
.blue {
    color: @blue;
}
.yellow {
    color: @yellow;
}
.quest_data .col-md-4 {
    border-left: 1px solid @grey;
    border-right: 0px;
    &:first-child {
        border: none;
    }
}
.exam_level {
    border: 1px solid @grey;
    .roundBorders(4px);
    padding: 20px;
    margin: 0 0 20px;
    text-align: center;
    .draw_bar {
        padding: 10px 0 0;
        .grade {
            display: block;
            float: left;
            color: @white;
            width: 35px;
            height: 35px;
            padding-top: 8px;
            .roundBorders(500px);
            font-size: 10px;
            text-align: center;
            vertical-align: middle;
            line-height: 12px;
            &.selected {
                width: 80px;
                height: 80px;
                .roundBorders(65px);
                margin: -30px 0 0;
                font-size: 20px;
                padding: 33px 10px 0;
                &.lx2 {
                    line-height: 20px;
                    padding-top: 20px;
                }
            }
        }
        .red_img {
            background-color: @brown;
        }
        .green_img {
            background-color: @green;
        }
        .yellow_img {
            background-color: @yellow;
        }
    }
    .s_dash {
        width: 50px;
        height: 10px;
        display: block;
        float: left;
        border-bottom: 1px dotted @black;
        margin: 6px 0 0;
    }
    .l_dash {
        width: 45px;
        height: 10px;
        display: block;
        float: left;
        border-bottom: 1px dotted @black;
        margin: 6px 0 0;
    }
    .txt_bar span {
        display: block;
        float: left;
        font-size: 15px;
        color: @black;
        width: 45px;
        height: 20px;
        line-height: 20px;
        margin: 0 60px 0 1px;
    }
}
.exam_time {
    border: 1px solid @grey;
    .roundBorders(4px);
    padding: 20px;
    overflow: hidden;
    h5 > span {
        color: @red;
        font-size: 25px;
        line-height: 24px;
    }
    .time_circle {
        .circle4 {
            width: 110px;
            height: 110px;
            .txt1, .txt2 {
                text-align: center;
                display: block;
            }
            .txt1 {
                font-size: 31px;
                color: @green;
                margin-top: 45px;
                line-height: 20px;
            }
            .txt2 {
                font-size: 18px;
                color: @black;
                margin-top: 55px;
                line-height: 18px;
            }
        }
    }
}
.stars {
    display: block;
    height: 16px;
    width: 80px;
    margin: 10px 0;
    span {
        display: block;
        height: 16px;
        width: 16px;
        float: left;
        .y_star {
            background: url('../images/y_star.png') no-repeat;
        }
        .g_star {
            background: url('../images/g_star.png') no-repeat;
        }
    }
}
.conclusion, .recommendations, .awards {
    border: 1px solid @grey;
    .roundBorders(4px);
    padding: 20px;
    margin: 20px 0;
}
.conclusion {
    .col-md-9 {
        margin: 40px 0 0;
    }
    .col-md-2 {
        span {
            &:first-child {
                font-size: 12px;
                color: @grey;
                text-align: center;
                display: block;
                padding: 10px 0 5px;
            }
            &.degree {
                span {
                    .roundBorders(4px);
                    background-color: @grey;
                    width: 6px;
                    height: 15px;
                    margin: 0 auto 5px;
                    display: block;
                    padding: 0;
                }
                .green {
                    background-color: @green;
                }
                .orange {
                    background-color: @orange;
                }
            }
        }
        h6 {
            color: @black;
            text-align: center;
            padding: 0 0 25px;
            margin-bottom: 0;
        }
    }
    .con-inner {
        .roundBorders(4px);
        background-color: @dark-white;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}
.chart {
    width: 220px;
    height: 220px;
    position: relative;
    float: right;
    margin: 20px 20px 0 0;
}
.doughnutSummary {
    position: absolute;
    top: 50%;
    left: 50%;
    color: @grey;
    text-align: center;
    text-shadow: 0 -1px 0 @black;
    cursor: default;
    font-size: 0;
    text-indent: 0;
    background: url('../images/brain.png') no-repeat center center;
}
.doughnutSummaryTitle {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -27%;
    font-size: 22px;
    letter-spacing: .06em;
    display: none;
}
.doughnutSummaryNumber {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -15%;
    font-size: 55px;
    display: none;
}
.awards {
    .prizes {
        width: 150px;
        margin: 0 auto;
        background: url('../images/sprite2.png') no-repeat 0 -717px;
        padding: 150px 0 0;
        span {
            display: block;
            font-size: 18px;
            color: @black;
            text-align: center;
            &:first-child {
                font-size: 12px;
                color: @grey;
            }
        }
    }
    .social {
        width: 75px;
        margin: 15px auto;
        a.fb {
            display: block;
            background: url('../images/sprite2.png') no-repeat 0 -973px;
            float: right;
            width: 10px;
            height: 24px;
            margin: 0 10px 0 0;
        }
        a.twit {
            display: block;
            background: url('../images/sprite2.png') no-repeat -20px -971px;
            float: right;
            width: 22px;
            height: 24px;
            margin: 0 10px 0 0;
        }
        a.google {
            display: block;
            background: url('../images/sprite2.png') no-repeat -52px -970px;
            float: right;
            width: 23px;
            height: 24px;
        }
    }
}
.recommendations {
    li {
        padding: 0 0 0 120px;
        margin: 20px 0 0;
        min-height: 85px;
        h4 {
            font-size: 22px;
            color: @black;
            line-height: 24px;
            padding: 15px 0 0;
        }
        h5 {
            font-size: 16px;
            color: @orange;
            line-height: 24px;
            padding: 5px 0 0;
        }
        &.icn1 {
            background: url('../images/sprite2.png') no-repeat left -126px;
        }
        &.icn2 {
            background: url('../images/sprite2.png') no-repeat left 0;
        }
        &.icn3 {
            background: url('../images/sprite2.png') no-repeat left -248px;
        }
    }
    .button {
        padding-top: 30px;
    }
}
.student-inputs {
    display: none;
}
.payment {
    background-color: @white;
    border: 1px solid @grey;
    .roundBorders(4px);
    padding: 20px;
    position: relative;
    width: 1110px;
    margin: 70px auto;
}
.recip {
    padding: 33px 10px 0 40px;
    background: url('../images/recip.png') no-repeat;
    width: 299px;
    height: 370px;
    position: absolute;
    left: 15px;
    top: -78px;
    h4 {
        color: @black;
        background: url('../images/icn.png') no-repeat 95% 50%;
        padding: 0 35px 0 25px;
        margin: 0;
        border-bottom: 1px dotted @black;
        line-height: 45px;
    }
    li {
        height: 60px;
        border-top: 1px dotted @black;
        padding: 10px;
        position: relative;
        span {
            display: block;
            font-size: 16px;
            color: @green;
            font-weight: bold;
            &:first-child {
                font-size: 18px;
                color: @black;
            }
            .free {
                color: @orange;
                font-size: 15px;
                position: absolute;
                left: 10px;
                top: 25px;
            }
        }
        &:first-child {
            border-top: none;
        }
    }
    .total {
        font-size: 20px !important;
    }
}
.payment_method {
    .method {
        border: 2px solid @dark-grey;
        .roundBorders(4px);
        padding: 10px;
        width: 220px;
        height: 70px;
        margin: 0 50px 0 0;
        cursor: pointer;
        .transition(background-color 500ms linear);
        &.selected {
            background-color: @green;
            .transition(background-color 500ms linear);
            cursor: pointer;
            &:hover {
                background-color: @green;
            }
        }
        &:hover {
            background-color: @light-grey;
        }
        span {
            &:first-child {
                display: block;
                color: @red;
                position: absolute;
            }
            .radio {
                display: block;
                float: right;
                input {
                    display: block;
                    float: right;
                    left: 0;
                }
                label {
                    display: block;
                    float: right;
                    font-size: 15px;
                    color: @black;
                    cursor: pointer;
                }
            }
        }
        img {
            float: right;
        }
    }
    .button {
        margin: 30px 50px 0 0;
    }
}
.student_profile {
    border: 1px solid @grey;
    .roundBorders(4px);
    background-color: @white;
}
.student_info, .st_conclusion {
    margin: 55px;
    border-bottom: 1px solid @grey;
}
.student_info {
    hr {
        border-color: @grey;
    }
    img {
        .roundBorders(120px);
    }
    div.right {
        padding: 15px 30px;
        border-left: 1px solid @grey;
        h1 {
            font-size: 50px;
            color: @black;
            padding: 15px 0 25px;
        }
        span {
            display: block;
            font-size: 25px;
            color: @green;
            padding: 0 0 8px;
        }
    }
    div.left {
        span {
            display: block;
            font-size: 25px;
            color: @green;
        }
    }
}
.st_awards {
    text-align: center;
    padding: 0 50px;
    margin: 55px;
    span {
        margin: 30px 0;
        background: url('../images/sprite2.png') no-repeat 0 -717px;
        padding: 160px 0 0;
        display: block;
        font-size: 18px;
        color: @dark-grey;
    }
}
.st_conclusion div h2, .st_awards h2 {
    font-size: 50px;
    color: @dark-grey;
}
.bordered-block {
    margin: 0 0 20px;
    border: 1px solid @grey;
    .roundBorders(3px);
    padding: 20px;
    h3 {
        color: @black;
        padding: 0 0 10px;
        margin: 0 0 20px;
        border-bottom: 1px solid @light-grey;
    }
    h4 {
        display: inline-block;
    }
    .btn {
        float: right;
    }
}
.icn7 {
    background-color: @green;
    margin: 0 37px;
    .roundBorders(500px);
    padding: 40px 0 0;
    width: 130px;
    height: 130px;
    text-align: center;
    .grade {
        font-size: 16px;
        color: @white;
    }
    .percent {
        font-size: 30px;
        color: @limon-yellow;
    }
}
.btn-wide-icn {
    padding: 19px 10px;
    color: @white;
    font-size: 23px;
    .roundBorders(4px);
    margin-bottom: 10px;
    position: relative;
    white-space: normal;
    width: 100%;
}
.open_hidden {
    background: @light-grey url('../images/arr5.png') 15px 50% no-repeat;
    padding: 9px 20px 9px 40px;
    width: 230px;
    .roundBorders(4px);
    margin: 20px 0;
    height: 35px;
    cursor: pointer;
}
.test_load {
    h1 {
        color: @black;
        padding: 20px 0;
    }
    .inner_progress {
        height: 12px;
        .roundBorders(10px);
        background-color: @green;
        float: left;
        width: 0;
        .transition(width 3s ease 0.5s);
    }
    .outer_progress {
        height: 12px;
        .roundBorders(10px);
        width: 440px;
        background: @black;
        &.load .inner_progress {
            width: 100%;
        }
    }
}
.load_content {
    border: 2px solid @grey;
    background-color: @light-grey;
    .roundBorders(4px);
    padding: 15px;
    .time {
        font-size: 40px;
        color: @green;
        padding: 0 0 5px;
        display: block;
        line-height: 28px;
    }
    .hint {
        font-size: 18px;
        color: @black;
        display: block;
    }
    div.right {
        border: 10px solid @grey;
        width: 130px;
        height: 130px;
        .roundBorders(500px);
        padding: 32px 0 0;
        text-align: center;
    }
    ul {
        width: 100%;
        li {
            font-size: 13px;
            display: inline-block;
            padding: 5px;
            background-color: #a2c400;
            margin: 0 5px 5px 0;
            color: #fff;
            .roundBorders(3px);
        }
    }
}
.thanks {
    h1 {
        color: @black;
        font-size: 50px;
    }
    p {
        color: @dark-grey;
        font-size: 22px;
        line-height: 28px;
    }
    .right {
        padding-top: 160px;
    }
    .left {
        padding-top: 80px;
    }
}
.thanks_content {
    margin: 60px;
}
#gauge-container {
    position: relative;
    display: inline-block;
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    height: 400px;
    cursor: pointer;
    .pin {
        position: absolute;
        left: 50%;
        bottom: 7px;
        margin-left: -12px;
        width: 24px;
    }
}
canvas#gauge {
    cursor: default;
}
#canvas-overlay {
    position: absolute;
    top: 16px;
    left: 21px;
    opacity: 0;
}
.difficulty_level {
    .circle-big {
        position: absolute;
        top: 81px;
        left: 50%;
        margin-left: -78px;
        height: 180px;
        width: 180px;
        .roundBorders(50% 50%);
        z-index: 0;
    }
    .circle {
        width: 4px;
        height: 5px;
        background-color: red;
        display: block;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        margin: -15px;
        -webkit-backface-visibility: hidden;
        .transition(0.5s);
    }
}
.circle-big {
    .seventeen {
        -webkit-transform: rotate(-10deg) translate(100px);
        background-color: #ff3d2f;
        -ms-transform: rotate(-10deg) translate(100px);
    }
    .sixteen {
        -webkit-transform: rotate(-20deg) translate(100px);
        background-color: #ff412d;
        -ms-transform: rotate(-20deg) translate(100px);
    }
    .fiveteen {
        -webkit-transform: rotate(-30deg) translate(100px);
        background-color: #ff4b27;
        -ms-transform: rotate(-30deg) translate(100px);
    }
    .fourteen {
        -webkit-transform: rotate(-40deg) translate(100px);
        background-color: #ff5e1d;
        -ms-transform: rotate(-40deg) translate(100px);
    }
    .thirteen {
        -webkit-transform: rotate(-50deg) translate(100px);
        background-color: #ff9202;
        -ms-transform: rotate(-50deg) translate(100px);
    }
    .tweleve {
        -webkit-transform: rotate(-60deg) translate(100px);
        background-color: #ff9500;
        -ms-transform: rotate(-60deg) translate(100px);
    }
    .eleven {
        -webkit-transform: rotate(-70deg) translate(100px);
        background-color: #ff9500;
        -ms-transform: rotate(-70deg) translate(100px);
    }
    .ten {
        -webkit-transform: rotate(-80deg) translate(100px);
        background-color: #ff9500;
        -ms-transform: rotate(-80deg) translate(100px);
    }
    .nine {
        -webkit-transform: rotate(-90deg) translate(100px);
        background-color: #ff9500;
        -ms-transform: rotate(-90deg) translate(100px);
    }
    .eight {
        -webkit-transform: rotate(-100deg) translate(100px);
        background-color: #ff9500;
        -ms-transform: rotate(-100deg) translate(100px);
    }
    .seven {
        -webkit-transform: rotate(-110deg) translate(100px);
        background-color: #fb9700;
        -ms-transform: rotate(-110deg) translate(100px);
    }
    .six {
        -webkit-transform: rotate(-120deg) translate(100px);
        background-color: #e7a100;
        -ms-transform: rotate(-120deg) translate(100px);
    }
    .five {
        -webkit-transform: rotate(-130deg) translate(100px);
        background-color: #cfad00;
        -ms-transform: rotate(-130deg) translate(100px);
    }
    .four {
        -webkit-transform: rotate(-140deg) translate(100px);
        background-color: #bab800;
        -ms-transform: rotate(-140deg) translate(100px);
    }
    .three {
        -webkit-transform: rotate(-150deg) translate(100px);
        background-color: #adbe00;
        -ms-transform: rotate(-150deg) translate(100px);
    }
    .two {
        -webkit-transform: rotate(-160deg) translate(100px);
        background-color: #a6c200;
        -ms-transform: rotate(-160deg) translate(100px);
    }
    .one {
        -webkit-transform: rotate(-170deg) translate(100px);
        background-color: #a3c300;
        -ms-transform: rotate(-170deg) translate(100px);
    }
}
.easy {
    color: @green;
    font-size: 11pt;
    position: absolute;
    left: 70px;
    bottom: 22px;
}
.medium {
    color: @orange;
    font-size: 14pt;
    position: absolute;
    left: 138px;
    bottom: 90px;
}
.hard {
    color: @red;
    font-size: 11pt;
    position: absolute;
    right: 75px;
    bottom: 25px;
}
.or1 {
    display: inline-block;
    color: @grey;
    margin: 0 5px 10px;
}
.back {
    display: inline-block;
    font-size: 15px;
    color: @black;
}
.taqreerFullTimer {
    padding: 20px;
    margin-right: 25px;
    text-align: center;
}
.taqreerT1 {
    color: @green;
    font-size: 65px;
}
.taqreerT1 span, .taqreerTimer span {
    padding: 0 10px;
}
.taqreerTimer {
    font-size: 40px;
}
.taqreerCircle {
    background-color: @green;
    .roundBorders(80px);
    float: left;
    text-align: center;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    line-height: 50px;
    font-size: 25px;
    padding-top: 25px;
    &.red {
        background: #b50000;
    }
}
.taqreerNum {
    color: @white;
}
.mCSB_vertical .mCSB_dragger_bar {
    background-color: @green !important;
    width: 6px !important;
}
.contain-stats {
    position: absolute;
    .subj_numbers {
        position: relative;
        background: @red;
        padding: 10px;
        top: 15px;
        right: 10px;
        .roundBorders(5px);
        .boxShadow(1px 1px 10px @black);
        z-index: 999;
        .l1, .l2 {
            color: @white;
            div {
                span.value {
                    padding: 3px;
                    margin-top: 7px;
                    /*height:30px;*/

                    font-size: 13px;
                    margin-right: 15px;
                    text-align: center;
                    background-color: @brown;
                    .roundBorders(3px);
                    width: 30px;
                }
            }
        }
        &:before {
            bottom: 100%;
            left: 20px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: @red;
            border-width: 15px;
        }
    }
}
.enter_subject {
    background: @brown;
    .roundBorders(3px);
}
.main_overlay, .main_overlay2, .modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}
.main_overlay {
    .add_students, .add_teachers {
        background: url('../images/bg.jpg') repeat-y;
        width: 500px;
        height: 325px;
        position: absolute;
        top: 20%;
        left: 50%;
        background-color: @white;
        .roundBorders(4px);
        margin-left: -250px;
    }
    h1 {
        padding: 15px 0 10px;
        text-align: center;
        color: @black;
        border-bottom: 1px solid @light-grey;
        margin: 0 0 15px;
    }
}
.main_overlay2 .notice {
    width: 800px;
    margin: 100px auto;
    .roundBorders(4px);
    background-color: @white;
    height: 285px;
    position: relative;
    padding: 65px 50px 0;
    a.close {
        top: 15px;
        left: 20px;
        float: none;
        position: absolute;
        height: 32px;
    }
    div {
        background: url('../images/icn16.png') no-repeat right top;
        padding: 30px 140px 0 0;
    }
    h2 {
        font-size: 30px;
        color: @grey;
        padding: 0 0 73px;
    }
    a.go {
        text-align: center;
        background-color: @green;
        display: block;
        .roundBorders(4px);
        height: 50px;
        line-height: 50px;
        font-size: 22px;
        color: @white;
        width: 255px;
        margin: 0 130px 0 0;
    }
}
a.close {
    float: left;
    display: block;
    width: 14px;
    height: 14px;
    margin: 10px 0 0;
    background: url('../images/sprite.png') no-repeat 0 -1875px;
}
a.mswda:hover {
    color: @white;
    text-decoration: none;
}
.mswda {
    .roundBorders(0 4px 4px 0);
    width: 80px;
    height: 100px;
    color: @white;
    line-height: 100px;
    text-align: center;
    position: absolute;
    background-color: @black;
    font-size: 20px;
    left: 0;
    top: 130px;
    cursor: pointer;
}
#mewseda {
    width: 0;
    height: 847px;
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 1001;
    background: @black;
    opacity: 0;
    display: none;
    padding-top: 30px;
    a {
        position: absolute;
        display: block;
        width: 90px;
        height: 99px;
        top: 11px;
        right: -76px;
    }
    span {
        color: @green;
        font-size: 11pt;
        display: none;
        margin-right: 14px;
    }
    textarea {
        position: absolute;
        top: 55px;
        right: 0;
        resize: none;
        width: 90%;
        padding: 5%;
        height: 75%;
        background: @black;
        border: none;
        color: @white;
        overflow: hidden;
        text-indent: 6px;
    }
}
#questions .question {
    display: none;
}
.title {
    margin: 30px 0 0;
    display: table;
    .qContainer {
        display: table-cell;
        vertical-align: top;
        padding: 0 10px 0 0;
        #q {
            display: inline-block;
            height: 34px;
            background-color: @green;
            .roundBorders(4px);
            width: 30px;
            line-height: 34px;
            text-align: center;
            color: @white;
            font-size: 22px;
        }
    }
    h4 {
        display: table-cell;
        p:nth-child(1) {
            display: inline-block;
        }
    }
    div.droppable {
        display: inline;
    }
}
.categorize_content, .multi_choice_content, .true_false_content, .connect_content {
    padding: 10px 0;
    position: relative;
}
.createTask {
    .radio, .checbox {
        label {
            width: 100%;
        }
    }
}
.categorize_content {
    h3 {
        color: @dark-grey;
        border-bottom: 2px solid @dark-white;
        padding: 0 0 10px;
        margin: 0 70px 20px;
    }
    .answers {
        position: relative;
        z-index: 1000;
        margin: 0 70px 440px;
        li {
            background-color: @blue;
            .roundBorders(2px);
            color: @white;
            display: block;
            float: left;
            font-size: 16px;
            height: 34px;
            line-height: 34px;
            margin: 20px 13px 0;
            min-height: 34px;
            min-width: 90px;
            padding: 0 10px;
            text-align: center;
        }
    }
}
.draggble, .draggble2 {
    cursor: move;
}
.answers_box {
    border-bottom: 1px solid @grey;
    border-top: 1px solid @grey;
    background: @light-grey;
    padding: 20px 0;
    margin: 30px 0;
    position: absolute;
    top: 230px;
    z-index: 0;
    width: 100%;
}
.ques_answer .true_false_answer span.image,
.answers_box span.image,
.true_false_content span.image,
.multi_choice_content span.image,
.connect_content span.image,
.quest_answer span.image,
.answers_box2 span.image {
    display: block;
    position: absolute;
    top: -5px;
    right: 80px;
}
.answers_box, .answers_box2 {
    .box_content{
        float: left;
        margin: 30px 15px 20px;
        width: 280px;
        &:nth-child(2) {
            margin-right: 90px;
        }
        .box {
            border: 1px solid @dark-grey;
            border-top: none;
            height: 120px;
            .roundBorders(0 0 4px 4px);
            margin: 0 0 20px;
        }
        .title {
            display: block;
            text-align: center;
            color: @black;
            font-size: 26px;
        }
        &:nth-child(4) {
            margin-left: 90px;
        }
    }
}
.fillBlankAnswer {
    color: @blue;
}
div.btns {
    width: 250px;
    margin: 0 auto;
    position: relative;
}
.question_data {
    .time li.current span.circle, .numbers li.current span.txt {
        background-color: @orange;
    }
    .timer {
        width: 160px;
        float: left;
        margin: 30px 0 0;
        #countdown {
            width: 134px;
            height: 134px;
            background: url('../images/timer.png') no-repeat -11px 11px;
            padding: 7px;
            float: left;
        }
    }
    #ms_timer {
        font-size: 36px;
        color: @orange;
        position: absolute;
        width: 88px;
        top: 79px;
        text-align: center;
        right: 34px;
    }
    .minute {
        font-size: 14px;
        color: @black;
        position: absolute;
        width: 50px;
        top: 122px;
        text-align: center;
        right: 52px;
    }
    div.right {
        width: 248px;
        position: relative;
        float: left;
    }
    span.right_data {
        display: block;
        float: left;
        width: 77px;
        margin: 100px 0 0;
        .img2 {
            float: right;
            display: block;
            background: url('../images/clock2.png') no-repeat;
            width: 40px;
            height: 20px;
            margin: 0 0 10px;
        }
        .txt3 {
            display: block;
            font-size: 14px;
            color: @green;
            float: right;
            margin: 1px 0 0 7px;
        }
    }
    div.left {
        position: relative;
        width: 742px;
        overflow: hidden;
        direction: rtl;
    }
    .numbers {
        direction: ltr;
        width: 2770px;
        height: 165px;
        li {
            position: relative;
            float: right;
            height: 160px;
            span.txt {
                margin: 120px 0 0;
                display: block;
                float: right;
                width: 30px;
                height: 30px;
                .roundBorders(19px);
                background-color: @grey;
                color: @white;
                text-align: center;
                line-height: 30px;
                font-size: 15px;
            }
            &.done span.txt {
                background-color: @green;
                cursor: pointer;
            }
            &.error {
                cursor: pointer;
            }
        }
        &.numbers2 li {
            float: left;
        }
    }
}
.numbers {
    li {
        &.current {
            background: url("../images/orange_circles.gif") no-repeat 11px 76px;
        }
        span.dash {
            display: block;
            float: right;
            width: 20px;
            height: 1px;
            border-bottom: 1px dotted @grey;
            margin: 137px 0 0;
        }
        .tooltip {
            width: 40px;
            height: 50px;
            .roundBorders(4px);
            position: absolute;
            top: 33px;
            left: -17px;
            text-align: center;
            opacity: 0;
            z-index: -1;
            padding: 10px;
            span {
                .arrow {
                    width: 0px;
                    height: 0px;
                    border: 8px solid;
                    position: absolute;
                    top: 70px;
                    left: 26px;
                }
                .text {
                    font-size: 13px;
                    color: @white;
                    line-height: 18px;
                    display: block;
                }
            }
        }
        &.done .tooltip span.arrow {
            border-color: @green transparent transparent transparent;
        }
    }
}
.true_false_answer, .multi_choice_answer, .quest_answer, .connect_answer {
    border-bottom: 1px solid @grey;
    border-top: 1px solid @grey;
    background: @light-grey;
    padding: 20px;
    /*We should use bootstrap for this*/
    /*margin:30px 0;*/
    position: relative;
}
.choose {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid @grey;
    li {
        margin: 0 0 10px;
        input {
            display: block;
            float: left;
            margin: 2px 0 0 5px;
        }
        label {
            display: block;
            float: left;
            font-size: 18px;
            color: @black;
            cursor: pointer;
        }
    }
}
.quest_content .true_false_quest span {
    background-color: @green;
    color: @white;
}
.true_false_quest h4, .choose_quest h4 {
    float: left;
    color: @black;
    font-size: 22px;
    line-height: 34px;
    margin: 0 10px;
}
.true_false_answer {
    a {
        display: block;
        float: left;
        margin: 0 10px 0 0;
        width: 85px;
        height: 85px;
        .roundBorders(55px);
        &.true {
            background: @black url('../images/sprite2.png') no-repeat 22px -492px;
            &.clicked, &:hover {
                background-color: @green;
            }
        }
        &.false {
            background: @black url('../images/sprite2.png') no-repeat 22px -584px;
            &.clicked, &:hover {
                background-color: @red;
            }
        }
    }
}
.question_data .time li.done span.circle,
.numbers li.done .tooltip {
    background-color: @green;
}
.choose_quest {
    margin: 0 70px;
    span {
        width: 32px;
        height: 36px;
        border: 1px solid @grey;
        float: left;
        display: block;
        .roundBorders(4px);
        margin: 0 0 0 10px;
    }
}
div.line {
    transform-origin: 0 100%;
    height: 3px;
    background: @green;
    z-index: 999;
}
.ui-draggable-dragging {
    z-index: 99999;
}
.connect_answer {
    .answers {
        display: inline-block;
        min-width: 100px;
        li {
            display: block;
            font-size: 16px;
            color: @white;
            .roundBorders(2px);
            background-color: @blue;
            padding: 0 10px;
            line-height: 34px;
            min-height: 34px;
            text-align: center;
            margin: 10px;
            img {
                max-width: 100%;
                padding: 10px 0;
            }
        }
    }
}
.multi_choice_answer {
    .answers {
        li {
            font-size: 16px;
            color: @white;
            display: inline-block;
            .roundBorders(2px);
            background-color: @blue;
            padding: 0 10px;
            line-height: 34px;
            text-align: center;
            margin: 10px;
        }
    }
}
.choose_answers {
    width: 400px;
    margin: 0 auto 30px;
    height: 36px;
    li {
        display: block;
        float: left;
        height: 37px;
        background-color: @green;
        .roundBorders(4px);
        width: 34px;
        line-height: 37px;
        text-align: center;
        color: @white;
        font-size: 22px;
        margin: 0 20px;
        z-index: 100;
    }
}
.ques_answer {
    border-top: 1px solid @grey;
    padding: 30px 0;
    margin: 30px 0 0;
    display: none;
}
.answers_box2 {
    border-bottom: 1px solid @grey;
    border-top: 1px solid @grey;
    background: @light-grey;
    padding: 20px 0;
    margin: 30px 0;
    z-index: 0;
    width: 100%;
    position: relative;
    li {
        font-size: 16px;
        color: @white;
        display: block;
        float: left;
        .roundBorders(2px);
        background-color: @blue;
        padding: 0 10px;
        height: 34px;
        line-height: 34px;
        width: 90px;
        text-align: center;
        margin: 20px 13px 0;
    }
}
.school_admin li span.img {
    display: block;
    margin: 0 10px;
    border-bottom: 1px solid @grey;
    height: 270px;
    span.txt {
        margin: 15px 0 0;
        display: block;
        text-align: center;
        color: @black;
        font-size: 30px;
    }
}
.subjects {
    li {
        div:first-child h2 {
            color: @black;
            margin: 0;
        }
        .sub1 {
            margin-bottom: 10px;
        }
    }
}
.add_student, .add_teacher, .teacher_jop {
    min-height: 500px;
    position: relative;
}
.add_teacher h4 {
    padding: 0;
}
.grades a {
    font-size: 18px;
    color: @dark-grey;
}
form {
    .group {
        cursor: pointer;
        display: inline-block;
        padding: 20px 20px 20px 40px;
        .roundBorders(3px);
        background: @light-grey;
        label, input {
            cursor: pointer;
        }
        &.checked {
            background: @green;
            color: @white;
        }
    }
}
#addPart, #addQuestion {
    margin: 0 75px 0;
    color: @orange;
}
.inheritColor, .inheritColor:hover {
    color: inherit;
}
.teacher_landing {
    h2 {
        color: @black;
    }
    .bordered-block {
        position: relative;
        h2 small {
            font-size: 16px;
            display: block;
        }
        img {
            margin-top: 15px;
        }
        .buttons {
            padding-left: 30px;
            border-left: 1px solid @grey;
        }
        .overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            .btn {
                z-index: 99999;
                position: absolute;
                top: 30%;
                right: 35%;
            }
        }
    }
}
table.custom-table {
    width: 100%;
    thead {
        font-size: 18px;
        color: @black;
    }
    tr {
        border-bottom: 1px solid @light-grey;
        &.no-attend {
            background: @red;
            a {
                color: @white;
            }
            &:hover a {
                color: @brown;
            }
        }
    }
    td {
        padding: 5px 10px;
    }
    tbody {
        tr:hover {
            background: @light-grey;
        }
        td {
            padding: 20px 10px;
        }
    }
}
.content {
    height: 400px;
}
footer hr {
    border-color: @grey;
}
.custom-datepicker {
    right: auto;
    direction: ltr;
}
.faq-navigation {
    width: 100%;
    ul {
        border: 1px solid @light-grey;
        .roundBorders(3px);
        li {
            a {
                display: block;
                padding: 10px 20px;
                background: @dark-white;
                border-bottom: 1px solid @light-grey;
                color: @dark-grey;
                font-size: 16px;
                text-decoration: none;
                &:hover, &.active {
                    background: @dark-white;
                    color: @orange;
                }
            }
        }
    }
}
.faq-content {
    .faq {
        display: none;
        h3 {
            font-size: 30px;
            font-weight: 400;
            color: @black;
            margin-top: 0;
        }
        h4 {
            color: @orange;
            font-size: 25px;
            font-weight: 400;
            padding: 0;
        }
        hr {
            margin: 0;
            border-bottom: 1px solid @light-grey;
            height: 1px;
            border-top: none;
        }
    }
    .faq.active {
        display: block;
    }
}
.task-container {
    padding: 5px;
    .block-update-card {
        height: 100%;
        border: 1px @white solid;
        padding: 10px;
        .boxShadow(1px 1px 8px @grey);
        background-color: @white;
        h3 {
            border-bottom: 1px solid @light-grey;
            margin-bottom: 5px;
            padding-bottom: 5px;
            margin-right: 5px;
        }
        .h-status {
            width: 100%;
            height: 7px;
            background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
        }
        .v-status {
            width: 5px;
            height: 80px;
            float: right;
            margin-right: 5px;
            background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
        }
        .update-card-MDimentions {
            width: 80px;
            height: 80px;
        }
        .update-card-body {
            margin-top: 10px;
            margin-left: 5px;
            h4 {
                color: @dark-grey;
                font-weight: bold;
                font-size: 13px;
            }
            > h3 {
                border-bottom: 1px solid @black;
            }
            .dl-horizontal {
                color: @dark-grey;
                font-size: 12px;
                width: 300px;
                display: inline-block;
            }
        }
        .card-action-pellet {
            padding: 5px;
            div {
                margin-right: 10px;
                font-size: 15px;
                cursor: pointer;
                color: @light-grey;
                &:hover {
                    color: @dark-grey;
                }
            }
        }
        .card-bottom-status {
            color: @grey;
            font-weight: bold;
            font-size: 14px;
            border-top: @light-grey 1px solid;
            padding-top: 5px;
            margin: 0px;
            &:hover {
                background-color: @brown;
                color: @white;
                cursor: pointer;
            }
        }
    }
}
.small-update-card-body {
    .update-card-body {
        height: auto!important;
    }
}
.card-body-social {
    font-size: 30px;
    margin-top: 10px;
    .twitter {
        color: #19c4ff;
        cursor: pointer;
        margin-left: 10px;
    }
    .google-plus {
        color: #dd4b39;
        cursor: pointer;
        margin-left: 10px;
    }
    .facebook {
        color: #49649f;
        cursor: pointer;
        margin-left: 10px;
    }
}
.createTask {
    .title {
        h4 {
            display: block;
            p {
                word-wrap: break-word;
                max-width: 100%;
            }
        }
    }
}
label span, .panel-body h4, .panel-body span {
  // word-wrap: break-word;
}
.music-card {
    background-color: @green;
}
.upload_img {
    border: 1px solid #dce0e3;
    .roundBorders(4px);
    background-color: @white;
    height: 122px;
    div {
        border: 2px dashed @light-grey;
        height: 118px;
        h5 {
            font-size: 14px;
            margin: 23px 25px;
            color: @black;
            background: url('../images/icn1.png') no-repeat top center;
            padding: 35px 0 0 0;
            text-align: center;
        }
    }
}
.form-group.form-inline label {
    padding: 6px 0 0 6px;
}
hr.spacing {
    margin: 15px 30px;
}
.numerical_questions .equation {
    overflow: hidden;
    margin-bottom: 10px;
}
.noborder {
    border: none!important;
}
.divider {
    margin: 10px auto;
}
.course {
    .bordered-block;
    padding: 0;
    .btn {
        float: none;
    }
    .course-body {
        padding-top: 10px;
        border-bottom: @grey 1px solid;
        overflow: hidden;
        min-height: 100px;
        padding-bottom: 10px;
        img {
            float: left;
            display: block;
            max-width: 55px;
            max-height: 75px;
        }
        h3.name {
            margin-top: 0;
            border-bottom: 0px;
            padding-bottom: 0px;
            margin-bottom: 5px;
        }
        .buttons {
            padding-left: 30px;
            border-left: 1px solid @grey;
        }
    }
    .course-footer {
        background: @light-grey;
        min-height: 75px;
        .transition(background 0.5s);
        padding: 20px 0;
    }
    &:hover {
        .boxShadow(0px 0px 2px 1px @grey);
    }
}
.exam-item {
    .bordered-block;
    padding: 0;
    background: @white;
    margin-right: 20px;
    margin-top: 20px;
    .roundBorders(3px);
    border: 1px solid @light-grey;
    .exam-body {
        padding-top: 10px;
        border-bottom: @grey 1px solid;
        overflow: hidden;
        min-height: 80px;
        padding-bottom: 10px;
        h3.name {
            margin-top: 0;
            border-bottom: 0px;
            padding-bottom: 0px;
            margin-bottom: 5px;
        }
        .buttons {
            padding-left: 30px;
            border-left: 1px solid @grey;
        }
    }
    .exam-footer {
        background: @light-grey;
        height: 75px;
        .transition(background 0.5s);
        padding: 20px 0;
        dl {
            display: inline-block;
        }
    }
    &:hover {
        .boxShadow(0 0 2px 1px @grey);
    }
}
.dl-horizontal {
    .key {
        width: 130px;
        display: inline-block;
    }
    .value {
        width: 130px;
        display: inline-block;
    }
}
.attachment-list-item {
    border: 1px solid @dark-grey;
    .roundBorders(5px);
    margin: 4px 0;
    padding: 0 10px 10px 10px;
    background-color: @dark-white;
    .actions {
        margin-top: 15px;
        button {
            margin: 2px;
        }
    }
    &.selected {
        background-color: @dark-white;
    }
}
.list-container {
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
}
.linkitem {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: @black;
    margin-bottom: 5px;
    position: relative;
    &:hover {
        background-color: @dark-white;
        text-decoration: none;
    }
    .bodycontainer {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        padding: 2px;
        .title {
            margin-top: 0;
            color: @black;
        }
        /*@ligh-greytion {*/
            /*color: @black;*/
        /*}*/
    }
    .imagecontainer {
        margin: 5px;
        padding: 2px;
        display: inline-block;
        height: 44px;
    }
    .item-container {
        border: 1px solid @grey;
        .roundBorders(3px);
        overflow: hidden;
        min-height: 63px;
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 9%;
        > button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            line-height: 2.33;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }
    .buttons {
        position: absolute;
        top: 0;
        right: 9%;
        background-color: #5cb85c;
        padding: 0;
        width: 0px;
        height: 63px;
        overflow: hidden;
        .roundBorders(3px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        opacity: 0;
        transition: all 0.5s linear;
        &.opened {
            opacity: 1;
            width: 91%;
        }
        ul {
            text-align: center;
            margin: 0;
            li {
                display: inline-block;
            }
        }
        .btn {
            line-height: 2.33;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }
}
.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.dnd_content {
    display: block;
    .title {} .choices {
        display: block;
        .choice {
            display: inline-block;
            padding: 10px;
            margin: 5px;
            color: @white;
            background-color: @blue;
            position: relative;
            .roundBorders(5px);
            .removeChoice {
                .roundBorders(500px);
                width: 20px;
                height: 20px;
                font-size: 10px;
                padding: 0;
                line-height: 1;
                position: absolute;
                top: 2px;
                right: 2px;
            }
        }
    }
    .buckets {
        padding: 10px;
        background-color: @light-grey;
        .roundBorders(15px);
        .bucket {
            display: inline-block;
            padding: 10px;
            width: 50%;
            vertical-align: top;
            .content {
                width: 100%;
                height: auto;
                min-height: 150px;
                overflow: hidden;
                border: 1px solid @black;
                border-top: 0px solid @black;
                .roundBorders(10px);
                background-color: @white;
                .choices {
                    .choice {
                        padding-right: 25px;
                    }
                }
            }
            .title {
                text-align: center;
                display: block;
                margin: 5px 0 0;
            }
        }
    }
}
// Captcha
.reloadCaptcha {
    margin-top: 5px;
}
#recaptcha_image {
    display: block;
    margin: 0 auto !important;
    width: 100%!important;
    img {
        // width: 100%;
        max-width: 373px;
        // height: auto;
    }
}
.recaptchatable .recaptcha_r1_c1,
.recaptchatable .recaptcha_r2_c1,
.recaptchatable .recaptcha_r2_c2,
.recaptchatable .recaptcha_r3_c1,
.recaptchatable .recaptcha_r3_c2,
.recaptchatable .recaptcha_r3_c3,
.recaptchatable .recaptcha_r4_c1,
.recaptchatable .recaptcha_r4_c2,
.recaptchatable .recaptcha_r4_c4,
.recaptchatable .recaptcha_r7_c1,
.recaptchatable .recaptcha_r8_c1 {
    background: none !important;
}
.recaptcha_only_if_privacy,
.recaptchatable td img,
#recaptcha_reload,
#recaptcha_switch_audio,
#recaptcha_switch_img,
#recaptcha_whatsthis {
    display: none;
}
#recaptcha_response_field {
    line-height: 19px;
    padding-left: 3px;
}
.mobileMenuBtn,
.mobileMenuBtn:focus {
    position: absolute;
    right: 10px;
    top: 10px;
    color: @white;
}

#recaptcha_logo {
    display: none;
}
.recaptchatable {
    width: 100%;
}
#recaptcha_table {
    tr {
        td {
            display: none;
              padding: 5px!important;
        }
        td:first-child {
            display: block;
            width: 100%;
        }
    }
    input {
        .form-control;
        border-color: #ccc!important;
        width: 100%!important;
    }
    .recaptcha_image_cell {
        background: transparent;
    }
}

@loading_bar_color: @orange;
#loading-bar-spinner .spinner-icon {
    border-top-color: @loading_bar_color;
    border-left-color: @loading_bar_color;
}
#loading-bar .bar {
    background-color: @loading_bar_color;
}
.img-circle {
    margin: 0 auto;
}
.add_more_options {
    margin: auto 2px;
}
ul.progressBar {
    li {
        margin: 10px auto 0;
        width: 30px;
        a {
            .roundBorders(500px);
            width: 30px;
            height: 30px;
            background: @grey;
            color: @white;
            display: block;
            text-align: center;
            line-height: 32px;
            &:hover {
                text-decoration: none;
                background: @black;
            }
        }
        &.examQuestionCurrent {
            a {
                background: @orange;
            }
        }
        &.examQuestionAnswered {
            a {
                background: @green;
            }
        }
        &.examQuestionSkipped {
            a {
                background: @red;
            }
        }
    }
}
.progressTimer {
    font-size: 36px;
    color: @orange;
    text-align: center;
}
.progressTxt {
    font-size: 14px;
    color: @black;
    text-align: center;
    border-bottom: 1px solid @light-grey;
    padding-bottom: 10px;
}

.reportTotalDuration {
    overflow: hidden;
    width: 348px;
    margin: 0 auto 30px;
    .reportTimeBlock {
        float: left;
        .reportTime, .reportColon {
            color: #a2c400;
            font-size: 65px;
            float: left;
            line-height: 1;
        }
        .reportTxt {
            font-size: 18px;
            text-align: center;
            padding-right: 18px;
        }
    }
}

.questionRTL {
    direction: rtl;
    text-align: right;
    .radio, .checkbox {
        label {
            padding-left: 0;
            padding-right: 20px;
            input {
                margin-left: 0;
                margin-right: -20px;
            }
        }
    }
    .true_false_answer {
        a {
            float: right;
        }
    }
}
.questionLTR {
    direction: ltr;
    text-align: left;
}

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
  min-height: 50px;
    &:hover {
      color: #438eb9;
      border-color: #dce2e8;
    }
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.success-flash{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.error-flash{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.socialShare {
    a {
        color: @white;
        &.facebook {
            background: #3b5998;
            &:hover {
                color: #3b5998;
            }
        }
        &.twitter {
            background: #00aced;
            &:hover {
                color: #00aced;
            }
        }
        &.googleplus {
            background: #dd4b39;
            &:hover {
                color: #dd4b39;
            }
        }
        &:hover, &:focus {
            background: #e3e3e3;
        }
    }
}
.result {
    .socialShare {
        padding-top: 25px;
    }
}
.facebookAuth {
    padding-top: 20px;
    text-align: center;
    h4 {
        display: inline;
    }
    .fa-square {
        color: #3b5998;
    }
}
.opacity{
  opacity: 0.7;
}
.plan-card {
    .plan-details {
        position: absolute;
        background: #f0ad4e;
        color: #fff;
        padding: 10px;
        border-radius: 3px;
        margin-top: 5px;
        z-index: 999;
    }
}
tags-input {
  display: block;
}
tags-input *, tags-input *:before, tags-input *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
tags-input .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}
tags-input .host:active {
  outline: none;
}

tags-input .tags {
  padding: 1px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: text;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  height: 100%;
}
tags-input .tags.focused {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
}
tags-input .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
tags-input .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 26px;
  line-height: 25px;
  border: 1px solid #cccccc;
  color: #333333;
  border-radius: 3px;
  background-color: #ffffff;
}
tags-input .tags .tag-item.selected {
  background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
  background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}
tags-input .tags .tag-item .remove-button {
  margin: 0 0 0 5px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
  font: bold 16px Arial, sans-serif;
  color: #585858;
}
tags-input .tags .tag-item .remove-button:active {
  color: red;
}
tags-input .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
tags-input .tags .input.invalid-tag {
  color: red;
}
tags-input .tags .input::-ms-clear {
  display: none;
}
tags-input.ng-invalid .tags {
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}
tags-input[disabled] .host:focus {
  outline: none;
}
tags-input[disabled] .tags {
  background-color: #eeeeee;
  cursor: default;
}
tags-input[disabled] .tags .tag-item {
  opacity: 0.65;
  background: -webkit-linear-gradient(top, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
}
tags-input[disabled] .tags .tag-item .remove-button {
  cursor: default;
}
tags-input[disabled] .tags .tag-item .remove-button:active {
  color: #585858;
}
tags-input[disabled] .tags .input {
  background-color: #eeeeee;
  cursor: default;
}

tags-input .autocomplete {
  margin-top: 5px;
  position: absolute;
  padding: 5px 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
tags-input .autocomplete .suggestion-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 280px;
  overflow-y: auto;
  position: relative;
}
tags-input .autocomplete .suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
tags-input .autocomplete .suggestion-item.selected {
  color: white;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item.selected em {
  color: white;
  background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}
/**Watermark***/
.ribbon-wrapper-green {
  width: 88px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -6px;
  right: 11px;
  z-index: 999;
}
.ribbon-green {
    font: bold 15px Sans-Serif;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 20px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
    &:before, &:after {
      content: "";
      border-top:   3px solid #6e8900;
      border-left:  3px solid transparent;
      border-right: 3px solid transparent;
      position:absolute;
      bottom: -3px;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
}

.examHint {
    padding: 20px 15px;
}
.dropdown-menu {
    z-index: 16000003;
}
.img {
    height: 183px;
    display: block;
}
.btn {
    position: relative;
    &:focus, &:active {
        outline: none !important;
    }
}
svg.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
svg.ripple circle {
  fill: rgba(255,255,255,0.1);
}
.response {
  color: @light-grey;
  &.error-result {
    color: @red;
    transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
  }
  &.loading-result {
    color: @yellow;
    transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
  }
  &.success-result {
    color: @green;
    transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
  }
}
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(256,256,256,0.9);
    z-index: 99999999;
    color: @black;
    display: table;
    .loader-msg {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        i {
            margin-right: 10px;
        }
    }
}
.spacing-fix {
    &.s-1x {
        margin-bottom: 10px;
    }
    &.s-2x {
        margin-bottom: 20px;
    }
}

/* Responsive */
@media only screen and (min-width: 768px) {
    .rnav.collapse.in {
        display: none!important;
    }
}
@media only screen and (max-width: 767px) {
    .awards {
        .no-prizes {
            h4 {
                img {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
    .test_container {
        padding: 15px;
    }
    .true_false_answer {
        a {
            width: 75px;
            height: 75px;
            &.true {
                background-position: 17px -492px;
            }
            &.false {
                background-position: 17px -584px;
            }
        }
    }
    .mark_1, .mark_2 {
        padding: 0;
        margin: 0;
        line-height: 1;
        .num {
            font-size: 28px;
            padding: 5px 0;
            display: inline-block;
        }
    }
    .rp_analysis h4 {
        padding-bottom: 5px;
    }
    .draw_bar {
        .s_dash, .l_dash, .grade {
            display: none!important;
        }
        .selected {
            display: block!important;
            margin: -30px auto 0!important;
            float: none!important;
        }
    }
    .exam_time {
        h5.pull-right {
            clear: both;
            float: none!important;
            text-align: center;
            span {
                display: block;
            }
        }
        .time_circle {
            .circle4 {
                margin: auto;
                float: none;
                display: block;
                .txt1 {
                    position: relative;
                    top: 35px;
                    margin-top: 0;
                }
                .txt2 {
                    position: relative;
                    top: 35px;
                }
            }
        }
        .time_data {
            span {
                margin: 10px auto;
            }
        }
        .col-md-3 {
            text-align: center;
            clear: both;
            img {
                float: none!important;
            }
        }
    }
    .col-md-4 {
        padding: 0;
    }
    header {
        .pull-left {
            margin: 6px auto;
            float: none!important;
            text-align: center;
            width: 100%;
            span.logo_img {
                background: none;
                float: none;
            }
        }
        .pull-right {
            .navMenu {
                display: none;
            }
            position: absolute;
            left: 0px;
            top: 0;
            width: 100%;
            text-align: center;
            a.user_name {
                border: none;
                padding: 7px;
                float: none!important;
                img {
                    display: none;
                }
                .user-name {
                    line-height: 25px;
                }
            }
        }
    }
    .searchform {
        float: none!important;
    }
    .forgot_password {
        padding: 0 15px;
    }
    .btn-group-register.btn-group-vertical {
        width: 100%;
    }
    .profile_container {
        padding: 10px 0;
        .edit_form {
            padding: 10px 0;
            h3 {
                padding-left: 10px;
            }
        }
    }
    h3.landing_title {
        overflow: hidden;
        background-position: left 22px;
        .btn {
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .course {
        .course-body {
            .buttons {
                padding: 0 10px;
                border: none;
            }
        }
        .course-footer {
            padding: 5px 0 0 0;
        }
    }
    .btn-block-xs {
        width: 100%;
        margin: 0 0 5px;
    }
    .result {
        padding: 0;
    }
    .analysis_1, .analysis_2 {
        border: none;
    }
    .analysis_1 .num {
        padding: 0;
    }
    .daraga {
        display: block;
    }
    .recommendations {
        li {
            padding: 0;
            background: none!important;
        }
        .button {
            padding: 0;
        }
    }
    .time_circle .circle4 .txt2 {
        margin-top: 0;
        font-size: 12px;
    }
    .quest_data .col-md-4 {
        border: none;
    }
    // Captcha
    #recaptcha_image {
        display: block;
        margin: 0 auto !important;
        width: 100%!important;
    }
    #recaptcha_challenge_image {
        width: 100%!important;
    }
    .recaptchatable #recaptcha_response_field {
        width: 100%!important;
    }
    .recaptchatable .recaptcha_r1_c1,
    .recaptchatable .recaptcha_r2_c1,
    .recaptchatable .recaptcha_r2_c2,
    .recaptchatable .recaptcha_r3_c1,
    .recaptchatable .recaptcha_r3_c2,
    .recaptchatable .recaptcha_r3_c3,
    .recaptchatable .recaptcha_r4_c1,
    .recaptchatable .recaptcha_r4_c2,
    .recaptchatable .recaptcha_r4_c4,
    .recaptchatable .recaptcha_r7_c1,
    .recaptchatable .recaptcha_r8_c1 {
        background: none !important;
    }
    .recaptcha_only_if_privacy,
    .recaptchatable td img,
    #recaptcha_reload,
    #recaptcha_switch_audio,
    #recaptcha_switch_img,
    #recaptcha_whatsthis,
    #recaptcha_logo {
        display: none;
    }
    .taqreerCircle {
        .roundBorders(0px);
        width: 100%;
        margin: 0;
    }
    .draw_bar {
        .s_dash {
            display: none;
        }
    }
}

@media only screen and (max-width: 480px) {
    .btn-group-responsive {
        width: 100%;
        &.btn-group > .btn {
          display: block;
          float: none;
          margin-left: 0;
          border-bottom: 0;
          &:first-child:not(:last-child) {
            border-radius: 4px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
          }
          &:last-child:not(:first-child) {
            border-radius: 4px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
          }
        }
    }
}
