<content-header>
  <h3 class="landing_title">
    {{pageTitle}}
  </h3>
  <link-item class="col-md-6 col-sm-12" ng-repeat="question in questions | orderBy:'description'"
    title="{{$root.lang.question}}: {{::question.description}}" 
    description="
      {{$root.lang.difficulty}}: {{$root.lang['difficulty_' + question.difficulty]}} -
      {{$root.lang.questionstype}}: {{$root.lang['type_' + question.question_type]}}">

    <a href="#/sme/course/{{courseid}}/duplications/{{question.id}}" class="btn btn-primary btn-sm btn-block">
        <i class="fa fa-lg fa-clock-o"></i> {{$root.lang.preview}} 
    </a>

    <button ng-click="deleteQuestion(question)"
      class="btn btn-danger btn-sm btn-block">
      <i class="fa fa-times"></i> {{$root.lang.del}}
    </button>
  </link-item>
</content-header>
