<div ng-init="TYPE=$root.USER.type" class="subsList content">
  <ul>
    <li ng-repeat="instance in instances">
      <h4>
        <i>{{instance.exam.name}}</i>
        <br>
        <small>{{timeOf(instance.start_time) | date:'dd MMM yyyy - hh:mm a' }}</small>
      </h4>
      <a class="btn btn-success btn-lg pull-right flip"
        href="#/{{::TYPE}}/son/{{::studentid}}/course/{{::courseid}}/exam/{{instance.id}}"
        ng-if="TYPE === 'parent'"> {{$root.lang.details}} </a>
      <a class="btn btn-success btn-lg pull-right flip"
        href="#/{{::TYPE}}/course/{{::courseid}}/exam/{{instance.id}}/report"
        ng-if="TYPE === 'student'"> {{$root.lang.details}} </a>
    </li>
  </ul>
</div>
