<div class="col-md-6 col-xs-12">
  <div class="reportTotalDuration">
    <div class="reportTimeBlock text-right">
      <span class="reportTime">{{reportDays}}</span>
      <span class="reportTime">,</span>
      <div class="reportTxt">{{$root.lang.days}}</div>
    </div>
    <div class="reportTimeBlock text-center">
      <span class="reportTime reportHours">{{reportHours}}</span>
      <span class="reportTime">:</span>
      <div class="reportTxt">{{$root.lang.hours}}</div>
    </div>
    <div class="reportTimeBlock text-center">
      <span class="reportTime reportMinutes">{{reportMinutes}}</span>
      <span class="reportTime">:</span>
      <div class="reportTxt">{{$root.lang.minutes}}</div>
    </div>
    <div class="reportTimeBlock text-left">
      <span class="reportTime reportSecondss">{{reportSeconds}}</span>
      <div class="reportTxt">{{$root.lang.seconds}}</div>
    </div>
  </div>

</div>
<div class="col-md-6 col-xs-12">
  <div class="col-md-6">
    <div class="taqreerCircle">
      <span class="taqreerNum">{{$root.lang.maxdegree}}</span>
      <br>
      <span class="g2 max_degree">{{model.max_degree}}</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="taqreerCircle red">
      <span class="taqreerNum">{{$root.lang.mindegree}}</span>
      <br>
      <span class="g2 min_degree">{{model.min_degree}}</span>
    </div>
  </div>
</div>
