<div class="exam_time">
  <h4 class="pull-left flip">{{$root.lang.examtime}}</h4>
  <h5 class="pull-right flip">{{$root.lang.maxexamtime}}
    <span>{{time | durationFormat : 'seconds' : 'mm:ss'}} {{$root.lang.minutes}}</span>
  </h5>
  <div class="clear"></div>
  <div class="col-md-3">
    <div class="time_circle">
      <span class="circle4 circle" data-percent="{{elapsedtimepercentage}}">
        <span class="txt1">{{examtime | durationFormat : 'seconds' : 'mm:ss'}}</span>
        <span class="txt2">{{$root.lang.studenttime}}</span>
      </span>    
    </div>
  </div>
  <div class="col-md-6">
    <div class="time_data">
      <span class="stars">
        <span ng-class="{y_star: elapsedtimepercentage>10, g_star: elapsedtimepercentage<=10}"></span>
        <span ng-class="{y_star: elapsedtimepercentage>30, g_star: elapsedtimepercentage<=30}"></span>
        <span ng-class="{y_star: elapsedtimepercentage>50, g_star: elapsedtimepercentage<=50}"></span>
        <span ng-class="{y_star: elapsedtimepercentage>70, g_star: elapsedtimepercentage<=70}"></span>
        <span ng-class="{y_star: elapsedtimepercentage>90, g_star: elapsedtimepercentage<=90}"></span>
      </span>
      <h4 ng-if="timediff > 0">{{$root.lang.precedeexamlimits}}
        <div class="yellow" style="display: inline-block;">
          {{timediff | durationFormat : 'minutes' : 'mm:ss'}} {{$root.lang.minutes}}</div>
      </h4>
      <h4 ng-if="timediff < 0">{{$root.lang.passexamlimits}}
        <div class="red" style="display: inline-block;">
          {{timediff | durationFormat : 'minutes' : 'mm:ss'}} {{$root.lang.minutes}}</div>
      </h4>
    </div>
  </div>
  <div class="col-md-3">
    <img src="images/img06.jpg" alt="" class="pull-right flip">
  </div>
</div>
