<div class="exam_level">
  <h4>{{$root.lang.yourexamgrade}}</h4>
  <div class="draw_bar">
    <span class="s_dash"></span>
    <span class="grade green_img" ng-class="{selected: model==='grade_a'}">{{$root.lang.grade_a}}</span>
    <span class="l_dash"></span>
    <span class="grade green_img" ng-class="{selected: model==='grade_b'}">{{$root.lang.grade_b}}</span>
    <span class="l_dash"></span>
    <span class="grade green_img" ng-class="{selected: model==='grade_c'}">{{$root.lang.grade_c}}</span>
    <span class="l_dash"></span>
    <span class="grade yellow_img" ng-class="{selected: model==='grade_d'}">{{$root.lang.grade_d}}</span>
    <span class="l_dash"></span>
    <span class="grade red_img" ng-class="{selected: model==='grade_e'}">{{$root.lang.grade_e}}</span>
    <span class="l_dash"></span>
    <span class="grade red_img" ng-class="{selected: model==='grade_f'}">{{$root.lang.grade_f}}</span>
    <span class="s_dash"></span> 
    <br class="clear"/>
  </div><!-- draw_bar -->
</div>
