<div class="conclusion" ng-if="TYPE == 'parent'">
  <span class="div_title">{{$root.lang.examconclusion}}</span>
  <div class="col-md-9">
    <div class="col-md-2">
      <div class="con-inner">
        <span>{{$root.lang.abilityto}}</span>
        <h6>{{$root.lang.knowledge}}</h6>
            <span class="degree">
              <span class=""></span>
              <span class=""></span>
              <span class="green"></span>
            </span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="con-inner">
        <span>{{$root.lang.abilityto}}</span>
        <h6>{{$root.lang.comprehension}}</h6>
            <span class="degree">
              <span class=""></span>
              <span class=""></span>
              <span class="green"></span>
            </span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="con-inner">
        <span>{{$root.lang.abilityto}}</span>
        <h6>{{$root.lang.application}}</h6>
            <span class="degree">
              <span class=""></span>
              <span class="green"></span>
              <span class="orange"></span>
            </span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="con-inner">
        <span>{{$root.lang.abilityto}}</span>
        <h6>{{$root.lang.analysis}}</h6>
            <span class="degree">
              <span class=""></span>
              <span class=""></span>
              <span class="green"></span>
            </span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="con-inner">
        <span>{{$root.lang.abilityto}}</span>
        <h6>{{$root.lang.evaluation}}</h6>
            <span class="degree">
              <span class=""></span>
              <span class=""></span>
              <span class="green"></span>
            </span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="con-inner">
        <span>{{$root.lang.abilityto}}</span>
        <h6>{{$root.lang.synthesis}}</h6>
            <span class="degree">
              <span class="dark_green"></span>
              <span class="green"></span>
              <span class="orange"></span>
            </span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div id="doughnutChart" class="chart"></div>
  </div>
  <br class="clear"/>
</div>
