<div class="quest_no">
  <h4>{{$root.lang.totalquestions}}: {{model.total}}</h4>
  <br class="clear"/>
  <div class="chart_values">
    <span class="correct circle" data-percent="{{100 - (model.correct * 100 / model.total)}}"></span>    
    <span class="wrong circle" data-percent="{{100 - (model.wrong * 100 / model.total)}}"></span>
  </div>
  <div class="quest_data text-center">
    <div class="col-md-6">
      <h3>{{$root.lang.correctanswers}}</h3>
      <h2 class="green"> {{model.correct * 100 / model.total | number:2}}%</h2>
    </div>
    <div class="col-md-6">
      <h3>{{$root.lang.wronganswers}}</h3>
      <h2 class="red">{{model.wrong * 100 / model.total  | number:2}}%</h2>
    </div>
    <br class="clear"/>
  </div>
</div>
