<div class="recommendations" ng-if="recommendedExam">
  <h4> {{$root.lang.recommendations}} </h4>
  <ul>
    <li class="icn1">
    <div class="col-md-10">
      <h4 >{{$root.lang.take_exam_on}}
           {{recommendedExam.name}}
      </h4>
    </div>
    <div class="col-md-2 button">
      <a
        href="#/student/course/{{courseid}}/exam/{{recommendedExamInstance.id}}/take"
        class="btn btn-danger btn-lg btn-block" 
       
        ng-disabled="!recommendedExam">{{$root.lang.takeexam}}</a>
    </div>
    </li>
    <li class="icn2">
    <div class="col-md-10">
      <h4>{{$root.lang.take_practice_on}}
          {{recommendedPractice.name}}
      </h4>
    </div>
    <div class="col-md-2 button">
      <a
        href="#/student/course/{{courseid}}/exam/{{recommendedPracticeInstance.id}}/take"
        class="btn btn-danger btn-lg btn-block"
        
        ng-disabled="!recommendedPractice">{{$root.lang.practice}}</a>
    </div>
    </li>
    <li class="icn3">
    <div class="col-md-10">
      <h4>{{$root.lang.studythefollowing}}
          {{recommendedStudy.element_type.name +' - '+ recommendedStudy.name}}
      </h4>
    </div>
    <br class="clear"/>
    </li>
  </ul>
  <br class="clear"/>
</div>

<div class="recommendations" ng-if="no_recommended">
  <h4> {{$root.lang.motivational_message}} </h4>
</div>
