<content-header>
<h2>{{student.user.full_name}}</h2>
  <table class="table">
	<thead>
	  <tr>
	      <td>{{$root.lang.exam}}</td>
	      <td>{{$root.lang.examresult}}</td>
	    </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="examInstance in examInstances">
	      <td><a>{{examInstance.exam.name}}</a></td>
	      <td>{{examInstance.degree || 0}}</td>
	  </tr>
	</tbody>
  </table>
</content-header>