<content-header>
<h3 class="landing_title">
	{{$root.lang.perfectanswers}}
	<a href="#/student/course/{{courseid}}/exam/{{examid}}/result" class="btn btn-primary pull-right flip">{{$root.lang.gobacktoresults}}</a>
</h3>
<div class="col-md-2">
  <ul class="progressBar">
    <li ng-class="{examQuestionCurrent: $index == questionIndex}"
    ng-repeat="question in questions">
      <a href="" ng-click="jump({{$index}})">
      {{$index+1}}
      </a>
    </li>
  </ul>
</div>
<div class="col-md-10">
  <question-preview></question-preview>
</div>
</content-header>
