<content-header>
  <div class="col-xs-12">
    <course-total-report-exam student="studentid" course="courseid"></course-total-report-exam>
  </div>
  <div class="col-xs-12">
    <course-report-exam-item model="model" courseid="courseid" studentid="studentid"></course-report-exam-item>
  </div>
</content-header>

