<div class="container test_container">
  <div class="row">
    <breadcrumbs crumbs="crumbs"></breadcrumbs>
    <h2 class="quest1">{{$root.lang.choosedifficultylevel}}</h2>
    <div class="main-inner text-center">
      <!-- difficulty_level -->
    </div>
  </div>
</div>

