<div class="container test_container">
  <div class="row">
    <breadcrumbs crumbs="crumbs"></breadcrumbs>
    <div class="main-inner">
      <div class="col-md-9">
        <h2 class="quest1">{{$root.lang.exam}}</h2>
        <div class="test_load">
          <h1>{{$root.lang.getreadyforexam}}</h1>
          <div class="load_content">
            <div class="col-md-3">
              <div class="right">
                <span class="time">٢٢:٤٥</span>
                <span class="hint">{{$root.lang.examtime}}</span>
              </div>
            </div><!-- right -->
            <div class="col-md-9">
              <ul>
                <li>{{$root.lang.subject}}: {{title.name}}</li>
                <li>{{$root.lang.term}}: الثاني</li>
                <li>{{$root.lang.devision}}: نصوص</li>
                <li>{{$root.lang.unit}}: الثاني</li>
                <li>{{$root.lang.chapter}}: الأول</li>
                <li>{{$root.lang.lesson}}: نمو النباتات</li>
              </ul>
              <br class="clear"/>
              <div class="outer_progress">
                <div class="inner_progress"></div>
              </div>
            </div><!-- left -->
            <br class="clear"/>
          </div><!-- load_Content -->
        </div>
      </div><!-- test_load -->
      <div class="col-md-3">
        <img src="images/img04.png" alt="">
      </div>
    </div>
  </div>
</div>

