<content-header>
<h3 class="landing_title" ng-show="loaded">{{pageTitle}} </h3>
<div class="report" ng-show="loaded">
  <div class="report_content">
    <div class="col-md-5">
      <questions-count model="questionsCount"></questions-count>
    </div>
    <div class="col-md-7">
      <exam-grade model="model.level"></exam-grade>
      <exam-time time="model.time" examtime="time"></exam-time>
    </div>
    <br class="clear"/>
    <div class="awards">
      <h4 ng-if="studentprizes.length<0">{{$root.lang.prizes}}</h4>
      <!-- <h4 ng-if="studentprizes.length==0">{{$root.lang.noprizes}}</h4> -->
      <div class="no-prizes" ng-if="studentprizes.length==0 && model.result_grade!=model.grade">
        <h4 class="text-center">
          <img src="images/grades/pass.png" height="100"> {{$root.lang.noprizes}}
        </h4>
      </div>
      <div class="no-prizes" ng-if="studentprizes.length==0 && model.result_grade==model.grade">
        <h4 class="text-center">
          <img src="images/grades/pass.png" height="100"> {{$root.lang.noprizesthere}}
        </h4>
      </div>
      <div ng-repeat="studentprize in studentprizes" class="prizes">
        <span>{{studentprize.prize.name}}</span>
        <span>{{studentprize.prize.exams_count}} {{$root.lang.exams}} </span>
        <span class="social">
          <facebook picture="studentprize.prize.image" message="shareMessage"
          caption="studentprize.prize.description" description="studentprize.prize.description" name="studentprize.prize.name"></facebook>
          <a class="twit" title="Twitter"
            socialshare socialshare-via="ELProff"
            socialshare-provider="twitter" socialshare-text="{{shareMessage}}"
            socialshare-hashtags="ELProff">
          </a>
          <a class="google" title="Google"
            socialshare
            socialshare-provider="google+"
            socialshare-text="{{shareMessage}}"
            socialshare-url="{{baseURL}}{{studentprize.prize.image}}">
          </a>
          <br class="clear"/>
        </span>
      </div>
    </div>
    <br class="clear"/>
    <div class="col-md-12">
      <exam-recommendations answers="answers" model="model" instanceid="{{instanceid}}"></exam-recommendations>
    </div>
  </div>
</div>
</content-header>


