<content-header>
<h3 class="landing_title"> {{pageTitle}} </h3>

<div class="result">
  <div class="col-md-3">
    <img ng-src="images/grades/{{model.level}}.png" alt="" ng-show="model.level">
  </div>
  <div class="col-md-6">
    <div class="col-md-12 col-xs-9">
      <span class="rp_rating" ng-if="blah"></span>
      <h2 class="rp_motivational_1">{{$root.lang['motivation_' + model.level]}}</h2>
      <h3 class="rp_motivational_2">{{$root.lang['motivation_desc_' + model.level]}}</h3>
      <div class="rp_show_answer">
        <button class="btn btn-primary" ng-click="showAnswers()">
          <i class="fa fa-check"></i>{{$root.lang.showperfectanswers}}</button>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-xs-12">
    <div class="socialShare">
      <h5>{{$root.lang.shareWithFriends}}</h5>
      <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://beta.elproff.com&p[images][0]=http://beta.elproff.com/images/socialshare.jpg&p[title]=البروف&p[summary]={{$root.lang.finishedExamShare}}" class="btn btn-block facebook"><i class="fa fa-facebook"> {{$root.lang.shareFacebook}}</i></a>
      <a target="_blank" href="https://twitter.com/intent/tweet?url=http://beta.elproff.com/&amp;text={{$root.lang.finishedExamShare}}&amp;via=ElproffEdu" class="btn btn-block twitter"><i class="fa fa-twitter"> {{$root.lang.shareTwitter}}</i></a>
      <a target="_blank" href="https://plus.google.com/share?url=http://beta.elproff.com/" class="btn btn-block googleplus"><i class="fa fa-google-plus"> {{$root.lang.shareGoogleplus}}</i></a>
    </div>
  </div>
  <div class="clear"></div>
  <div class="rp_show_report">
    <div class="col-md-8">
      <h3>{{$root.lang.detailedreport}}</h3>
      <span>{{$root.lang.detailedreport_description}}</span>
    </div>
    <div class="pull-right flip">
      <h3>
        <button class="btn btn-warning btn-lg" ng-click="showReport()">
          <i class="fa fa-line-chart"></i>{{$root.lang.viewreport}}
        </button>
      </h3>
    </div>
    <div class="clear"></div>
  </div>

  <div class="col-md-12">
    <div class="rp_analysis">
      <div class="col-md-4 analysis_1">
        <h4>{{$root.lang.examDegree}}</h4>
        <p class="mark_1">
        <span class="num" id="grade-num">{{model.result_grade | number:0}}</span>
        <!-- <span class="daraga">{{$root.lang.grade}}</span> -->
        </p>
        <hr>
        <p class="mark_2">
        <span class="num">{{model.grade | number:0}}</span>
        <!-- <span class="daraga">{{$root.lang.grade}}</span> -->
        </p>
      </div>
      <div class="col-md-4 analysis_2">
        <h4>{{$root.lang.level}}</h4>
        <div class="text-center">
          <span class="g1">{{$root.lang[model.level]}}</span>
          <span class="g2" id="grade-percent">{{model.fraction_grade * 100 | number:0}} %</span>
        </div>
      </div>
      <div class="col-md-4 analysis_3">
        <h4>{{$root.lang.time}}</h4>
        <p class="timing">
        <span class="t1" id="grade-time">
          {{time | durationFormat : 'second' : 'mm:ss'}}
        </span>
        <span class="t2">{{$root.lang.studenttime}}</span>
        </p>
        <p class="max_timing" ng-if="blah">
        <span class="t3">{{$root.lang.maxexamtime}}</span>
        <span class="t4">00:30 {{$root.lang.minute}}</span>
        </p>
      </div>
    </div>
  </div>
</div>
</content-header>
