<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<div class="col-md-9">
  <div class="test_load">
    <h1>{{$root.lang.getreadyforexam}}</h1>
    <div class="load_content">
      <div class="col-md-3">
        <div class="right">
          <span class="time">{{model.exam.time | durationFormat:'seconds': 'mm:ss' }}</span>
          <span class="hint">{{$root.lang.examtime}}</span>
        </div>
      </div><!-- right -->
      <div class="col-md-9">
        <p> <strong>{{$root.lang.course}}:</strong> {{model.exam.course.name}} </p>
        <p> <strong>{{$root.lang.course_element}}:</strong> </p>
        <ul>
          <li ng-repeat="element in model.exam.course_element">{{element.name}}</li>
        </ul>
        <br class="clear"/>
        <div class="outer_progress" ng-class="{load: loaded}">
          <div class="inner_progress"></div>
        </div>
      </div><!-- left -->
      <br class="clear"/>
    </div><!-- load_Content -->
  </div>
</div><!-- test_load -->
<div class="col-md-3">
  <img src="images/img04.png" alt="">
</div>
</content-header>
