<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <div class="form-group">
  	<label for="image" class="btn btn-primary" id="fielUploadBtn">{{$root.lang.uploadImage}}<span></span></label>
    <input type="file" id="image" name="image"
    file-model="image" class="hidden" onchange="angular.element(this).scope().fileNameChanged(this)" required/>
  </div>
  <translatable model="name"><input-name></input-name></translatable>
  <translatable model="description"><input-description></input-description></translatable>
  <input-submit id="course-save" is-loading="isLoading"></input-submit>
</form>
</content-header>
