<content-header>
<h3 class="landing_title">
  {{course.name || pageTitle}}
  <a id="create-prize"
     href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/course/{{courseid}}/prize/create"
     class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
    {{$root.lang.createprize}} </a>
  <a id="update-course"
     href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/course/{{courseid}}/update"
    class="btn btn-primary pull-right flip"> {{$root.lang.update}} </a>
</h3>
<div class="row">
  <div class="col-xs-3">
    <stats-number title="questions"
    count="{{stats.questions || 0}}"></stats-number>
  </div>
  <div class="col-xs-3">
    <stats-number title="acceptedquestions"
    count="{{stats.reviewed_questions || 0}}"></stats-number>
  </div>
  <div class="col-xs-3">
    <stats-number title="percent"
    count="{{Math.floor(stats.reviewed_questions * 100 / stats.questions) || 0}}%"></stats-number>
  </div>
  <div class="col-xs-3">
    <stats-number title="tasks" count="{{stats.tasks || 0}}"></stats-number>
  </div>
  <div class="col-xs-3">
    <stats-number title="taskscompleted"
    count="{{stats.tasks_completed || 0}}"></stats-number>
  </div>
  <div class="col-xs-3">
    <stats-number title="tasksreviewed"
    count="{{stats.tasks_reviewed || 0}}"></stats-number>
  </div>
  <div class="col-xs-3">
    <stats-number title="examstaken" count="{{stats.exams || 0}}"></stats-number>
  </div>
</div>
<div class="clear"></div>
<h3 class="landing_title">
{{$root.lang.theprizes}}
</h3>
<div class="col-md-6" ng-repeat="entity in entities">
  <link-item title="{{$root.lang.i18n(entity, 'name')}}"
href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/course/{{courseid}}/prize/update/{{entity.id}}"
imgsrc="{{::entity.image}}" entity="entity"></link-item>
</div>

</content-header>
