<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>

      <!-- <course-classes-list></course-classes-list> -->
  <link-item class="col-md-6" title="{{$root.lang.i18n(classObj, 'name')}}"
	href="#/schoolteacher/course/{{courseid}}/class/{{classObj.id}}"
	ng-repeat="classObj in courseClasses | orderBy:'id'">

  </link-item>

</content-header>
