<h6 class="test_title">
  <div class="crumbs pull-left flip">
    <img src="images/icn01.png" alt="" style="margin: auto 5px;">
    <span ng-repeat="crumb in crumbs" ng-class="{green: $last}">
      <span ng-if="!$first"> / </span>
      <a href="{{crumb.link}}" ng-if="!$last" id="crumb_{{$index}}">
        {{$root.lang[crumb.title] || $root.lang.i18n(crumb, 'title')}}</a>
      <span ng-if="$last" id="crumb_{{$index}}"> {{$root.lang[crumb.title] || $root.lang.i18n(crumb, 'title')}} </span>
    </span>
  </div>

  <form name="searchform" class="form-inline pull-right flip searchform col-md-3" role="search"
    ng-submit="searchform.$valid && search()" novalidate ng-if="searchable">
    <div class="form-group">
      <div class="input-group input-group-sm">
        <input class="form-control" placeholder="{{$root.lang.search}}"
        ng-model-options="{debounce: {default: 500}, blur: 0}" 
        type="text" ng-model="model.query" aria-describedby="{{$root.lang.search}}">
        <a href="" class="input-group-addon btn btn-success" id="searchButton"
          ng-click="search()"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </form>
</h6>
