<div class="edit_form col-md-12">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <form name="form" ng-submit="form.$valid && save(form)"  novalidate>
    <div class="form-group">
      <label>{{$root.lang.currentpassword}}</label>
      <input id="currentcurrent_password" name="current_password"
      type="password" class="form-control" minlength="6"
      maxlength="20" ng-model="model.current_password" required
      ng-model-options="{debounce: {default: 500}, blur: 0}" />
      <div ng-messages="form.current_password.$error"
        ng-messages-include="views/messages.html"
        ng-if="form.$submitted || form.current_password.$touched">
      </div>
    </div>

    <input-password></input-password>
    <input-cpassword></input-cpassword>
    <input-submit title="update"></input-submit>
  </form>
</div>

