<div class="container test_container" >
  <div class="row">

    <breadcrumbs crumbs="crumbs" searchable="searchable"></breadcrumbs>

    <div class="main-inner">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}"
        close="closeAlert($index)">{{alert.msg}}</alert>
        <ng-transclude></ng-transclude>
        <div class="col-md-12 text-center" ng-controller="PaginatorCtrl">
          <pagination total-items="pagination.total_count" ng-if="pagination"
          ng-model="pagination.page" rotate="false" class="pagination-sm"
          ng-show="pagination.total_count > pagination.limit" 
          next-text="{{$root.lang.next}}" previous-text="{{$root.lang.previous}}"
          items-per-page="20" max-size="5"></pagination>
        </div>
    </div>
  </div>
  <div class="push"></div>
</div>

