<div class="course" ng-class="{'opacity': isdisabled}" ng-init="TYPE=$root.USER.type" id="course_{{::course.id}}">
  <div ng-if="isdisabled" class="ribbon-wrapper-green"><div class="ribbon-green">{{$root.lang.soon}}</div></div>
  <div class="course-body">
    <div class="col-md-2 col-xs-3">
      <img ng-src="{{::course.image}}" alt="{{$root.lang.i18n(course, 'name')}} image"
      ng-if="course.image.indexOf('/media') == 0">
      <img ng-src="/media/{{::course.image}}" alt="{{::course.name}} image"
      ng-if="course.image.indexOf('/media') < 0"></div>
    <div class="col-md-6 col-xs-9">
      <h3 class="name">
        <a href="#/{{::TYPE}}/country/{{course.grade.system.country.id}}/educationalsystem/{{course.grade.system.id}}/grade/{{course.grade.id}}/course/{{course.id}}" class="inheritColor"
          ng-if="TYPE === 'admin'"> {{$root.lang.i18n(course, 'name')}} </a>
        <a href="#/{{::TYPE}}/course/{{course.id}}" class="inheritColor"
          ng-if="TYPE != 'parent' && TYPE != 'admin' && !isdisabled"> {{$root.lang.i18n(course, 'name')}} </a>
        <a href class="inheritColor"
           ng-if="TYPE != 'parent' && TYPE != 'admin' &&isdisabled"> {{$root.lang.i18n(course, 'name')}} </a>
        <a href="#/{{::TYPE}}/son/{{::student.id}}/course/{{::course.id}}/report"
          class="inheritColor" ng-if="TYPE == 'parent'" ng-disabled="isdisabled">
          {{$root.lang.i18n(course, 'name')}} </a>
      </h3>
      <small>{{$root.lang.i18n(course.grade, 'name')}}</small>
      <small> - {{$root.lang.i18n(course.grade.system, 'name')}}</small>
      <small> - {{$root.lang.i18n(course.grade.system.country, 'name')}}</small>
    </div><!-- right -->
    <div class="col-md-4 col-xs-12">
      <div class="buttons">

        <!-- parent buttons -->
        <div class="parent" ng-if= "TYPE=== 'parent'">
          <a href="#/{{::TYPE}}/son/{{::student.id}}/course/{{::course.id}}/report"
            class="btn btn-danger btn-block course-report" ng-if="subscribed=='true'" ng-disabled="course.disabled">
            <i class="fa fa-pie-chart"></i> {{$root.lang.reports}}</a>
          <a href="#/{{::TYPE}}/son/{{::student.id}}/course/{{::course.id}}/subscribe"
            class="btn btn-danger btn-block course-subscribe" ng-if="subscribed=='false'" ng-disabled="course.disabled">
            <i class="fa fa-shopping-cart"></i> {{$root.lang.subscribe}}</a>
        </div>

        <!-- schoolteacher buttons -->
        <div class="schoolteacher" ng-if= "TYPE=== 'schoolteacher'">
          <a href="#/{{::TYPE}}/course/{{::course.id}}/exams/create"
            class="btn btn-danger btn-block">{{$root.lang.createexam}}</a>
          <!-- <a href="#/{{::TYPE}}/course/{{::course.id}}/homeworks/create"
            class="btn btn-danger btn-block">{{$root.lang.createhomework}}</a>
          <a href="#/{{::TYPE}}/course/{{::course.id}}/reports"
            class="btn btn-success btn-block">{{$root.lang.reports}}</a> -->
        </div>

        <!--admin buttons-->
        <div class="admin" ng-if="TYPE==='admin'">
          <a href="#/{{::TYPE}}/country/{{course.grade.system.country.id}}/educationalsystem/{{course.grade.system.id}}/grade/{{course.grade.id}}/course/{{course.id}}"
            class="btn btn-primary btn-block view_course">
            <i class="fa fa-lg fa-clock-o"></i> {{$root.lang.manage}} </a>
          <button ng-click="remove(course)" class="btn btn-danger btn-block">
            <i class="fa fa-minus"></i> {{$root.lang.del}}</button>
        </div>

        <!--student buttons-->
        <div class="student" ng-if= "TYPE=== 'student'">
          <a href="#/{{::TYPE}}/course/{{course.id}}/exam/create"
            class="btn btn-danger btn-block" ng-if="subscribed=='true'" ng-disabled="course.disabled">
            <i class="fa fa-lg fa-clock-o"></i> {{$root.lang.exam}}</a>
          <a href="#/{{::TYPE}}/course/{{::course.id}}/subscribe"
            class="btn btn-danger btn-block" ng-if="subscribed=='false'" ng-disabled="course.disabled">
            <i class="fa fa-shopping-cart"></i> {{$root.lang.subscribe}}</a>
        </div>

        <!-- Author Buttons -->
        <div class="author" ng-if="TYPE === 'author' || TYPE === 'reviewer'">
          <a href="#/{{::TYPE}}/course/{{course.id}}/task"
            class="btn btn-danger btn-block">
            <i class="fa fa-lg fa-clock-o"></i> {{$root.lang.tasks}}</a>
        </div>

        <!-- Private Teacher Buttons -->
        <div class="author" ng-if="TYPE === 'privateteacher'">
          <a href="#/{{::TYPE}}/course/{{::course.id}}/exam/create"
             class="btn btn-danger btn-block">{{$root.lang.createexam}}</a>
          <!--<a href="#/{{::TYPE}}/course/{{::course.id}}/homeworks/create"
             class="btn btn-danger btn-block">{{$root.lang.createhomework}}</a>-->
          <!--<a href="#/{{::TYPE}}/course/{{::course.id}}/reports"
             class="btn btn-success btn-block">{{$root.lang.reports}}</a>-->
          <a href="#/{{::TYPE}}/course/{{::course.id}}"
             class="btn btn-success btn-block">{{$root.lang.groups}}</a>
        </div>
        <!-- Schooladmin Buttons -->
        <div class="author" ng-if="TYPE === 'schooladmin'">
          <button ng-click="remove(course)" class="btn btn-danger btn-block">
            <i class="fa fa-minus"></i> {{$root.lang.del}}
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="course-footer" ng-if="TYPE === 'student' && subscribed=='true'"
    ng-init="hidestats=true">
    <div class="col-sm-6 col-xs-12">
      <button class="btn btn-success btn-block-xs pull-left flip" ng-click="hidestats=!hidestats" ng-disabled="course.disabled">
        <i class="fa fa-lg fa-bar-chart"></i> {{$root.lang.statistics}}</button>
      <div class="contain-stats">
        <div class="subj_numbers" ng-hide="hidestats">
          <div class="l1">
            <kv k="questions" v="{{stats.questions}}"></kv>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6 col-xs-12">
      <a href="#/{{::TYPE}}/course/{{course.id}}"
        class="btn btn-success btn-block-xs pull-right flip" ng-disabled="course.disabled">
        <i class="fa fa-book"></i> {{$root.lang.entercourse}}</a>
    </div>
    <div class="clear"></div>
  </div>
</div>

