<div class="group" ng-init="TYPE=$root.USER.type" id="class_{{::classObj.id}}">
  <div class="bordered-block">
    <div class="col-md-12">
      <h2>
        <a
          class="inheritColor">{{$root.lang.i18n(classObj, 'name')}}</a>
      </h2>
      <small>{{$root.lang.i18n(classObj, 'name')}}</small>
    </div>
    <!-- right -->
    <div class="col-md-12">
      <hr/>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
        <a href="#/{{::TYPE}}/course/{{course.id}}/exam/create"
          class="btn btn-danger btn-block">{{$root.lang.createexam}}</a>
      </div>
    </div>
    <!-- left -->
    <br class="clear"/>
  </div>
</div>
