<div class='attachment-list-item col-md-12'
  ng-class="{selected: model.selected.id === item.id}">
  <div class="body col-md-9 col-xs-12">
    <h3 class="name"> {{::item.name}} </h3>
    <small> {{::item.description}} </small>
  </div>
  <div class="actions col-md-3 col-xs-12">

    <button class="btn btn-danger pull-right flip" ng-click="removing=true; remove()"
      tooltip="{{$root.lang.remove}}" tooltip-placement="bottom"
      ng-if="item.owner" ng-disabled="removing">
      <i class="fa fa-times" ng-if="!removing"></i>
      <i class="fa fa-spin fa-spinner" ng-if="removing"></i>
    </button>

    <button class="btn btn-success pull-right flip" ng-click="use()"
      tooltip="{{$root.lang.select}}" tooltip-placement="bottom"
      ng-disabled="removing">
      <i class="fa fa-check"></i> </button>

    <button class="btn btn-primary pull-right flip"
      tooltip-html-unsafe="{{::item.preview}}" tooltip-placement="bottom"
      ng-disabled="removing">
      <i class="fa fa-eye"></i> </button>
  </div>
</div>
