<div class="questions_bulk bg-primary">
  <a href='' id="removeelement" type="button" class="pull-right flip"
    ng-click="removeElement()"> <i class="fa fa-remove"></i>
  </a>
  <div class="kv">
    <kv k='course' v='{{model.course.name}}'></kv>
    <kv k='courseelementtype' v='{{model.element_type.name}}'></kv>
    <kv k='course_element' v='{{model.name}}' limit="100"></kv>
  </div>
</div>
