<div class="row">
  <div class="col-xs-12">
    <textarea class="form-control" name="customEditor{{editorId}}" id="customEditor{{editorId}}"
      ng-model="model.description" data-provide="markdown" data-iconlibrary="fa">
    </textarea>
  </div>
</div>