<div class="edit_form col-md-12">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <form id="update_profile_form" name="form" ng-init="TYPE=$root.USER.type"
    ng-submit="form.$valid && save(form)" novalidate>
    <div class="col-md-8">
      <input-fullname></input-fullname>
      <input-gender ng-if="TYPE==='student'"></input-gender>
      <input-birthdate ng-if="TYPE==='student'"></input-birthdate>
      <input-phone></input-phone>
      <input-schoolname ng-if="TYPE==='student'"></input-schoolname>
      <input-address></input-address>
      <input-select-educational-system ng-if="TYPE==='student'"></input-select-educational-system>
      <input-select-grade ng-if="TYPE==='student'"></input-select-grade>
    </div>
    <!-- right -->
    <div class="col-md-4 profile_picture text-center">
      <label>{{$root.lang.profilepicture}}</label>
      <img ng-src="{{model.avatar}}" alt="{{model.name}}" class="img-circle
      img-responsive" ng-if="model.avatar!='/media/'">
      <img ng-src="images/default-user-icon-profile.png" alt="{{model.name}}"
      class="img-circle img-responsive" ng-if="model.avatar=='/media/'">
      <a href="" class="btn btn-success" ng-click="selectFile()">{{$root.lang.uploadImage}}</a>
      <div>{{avatar.name}}</div>
      <input type="file" id="avatar" name="avatar" file-model="avatar"
      class="hidden" />
    </div>
    <input-submit is-loading="isLoading"></input-submit>

  </form>
</div>
