<div class="exam-item" ng-init="TYPE=$root.USER.type">
  <div class="exam-body">
    <div class="col-md-6">
      <h3 class="name">
          {{model.exam.name}}
      </h3>
    </div>
    <div class="col-md-4" ng-if="TYPE == 'student'">
      <div class="buttons">
        <a href="#/{{::TYPE}}/course/{{courseid}}/exam/{{model.id}}/take"
          class="btn btn-danger btn-block" ng-if="model.exam.type == 'exam'">{{$root.lang.takeexam}}</a>

        <a href="#/{{::TYPE}}/course/{{courseid}}/exam/{{model.id}}/take"
          class="btn btn-danger btn-block" ng-if="model.exam.type == 'practice'">{{$root.lang.practice}}</a>
      </div>
    </div>
  </div>
</div>


