<form name="form" ng-submit="form.$valid && save()" novalidate>

  <input-title></input-title>
  <input-select-feedback-type></input-select-feedback-type>
  <input-description></input-description>
  <input-submit is-loading="isLoading"></input-submit>
</form>