<footer>
	<hr>
	<div class="container">
		<!--div class="row text-center">
			<div class="col-md-3">
				بالتعاون مع البوابة الإلكترونية<br>
		    	<img alt="وزارة التربية والتعليم" title="وزارة التربية والتعليم" src="images/moe.png">
			</div>
			<div class="col-md-3">
				الوكيل الحصري للمبيعات والتسويق<br>
				<img alt="نيو هوريزوز" title="نيو هوريزوز" src="images/nhlogo.png">
			</div>
		</div><!-- center -->
		<div class="clear"></div>
		<div class="row">
			<div class="col-md-12">
				<h6 class="pull-left flip">{{$root.lang.footerTxt}}</h6>
				<h6 class="pull-right flip">© 2015 <a href="http://www.elproff.com" target="_blank">{{$root.lang.elproff}}</a>. {{$root.lang.copyright}}.</h6>
			</div>
		</div>
	</div>
</footer>