<div class="subsList content" ng-init="TYPE=$root.USER.type" id="group_{{::group.id}}" style="height:400px;">
  <ul>
    <li ng-repeat="student in students">
      <a class="inheritColor pull-left flip" ng-click="viewStudent({{::student.id}})"  >{{::student.user.full_name}}</a>
      <button class="btn btn-danger btn-lg pull-right flip" ng-click="removeStudent(student.id)">{{$root.lang.delete}}
      </button>
      <div class="clear">
      </div>
    </li>
  </ul>
</div>

