<content-header>
<alert ng-repeat="alert in alerts" type="{{alert.type}}"
close="closeAlert($index)">{{alert.msg}}</alert>
<div class="invitation">
  <ul>
    <li ng-repeat="invitation in invitations | orderBy:'creation_date':true">
    <!-- Implemented orderBy the newest to the oldest invitations by their creation dates -->
    <div class="col-md-9">
      <h4>
      <i style="color: red">{{invitation.email}}</i>
        {{$root.lang.invited}} {{$root.lang.tobe}}
        {{$root.lang[invitation.invitation_type]}}
        <br>
        <i style="color: grey; font-size: .8em">
          {{timeOf(invitation) | date:'MMMM dd, yyyy, h:mm a'}}</i>
        <!-- Creation dates with Formation -->
      </h4>
    </div>
    <div class="col-md-3" ng-if="invitation.answered && !hideAnswered">
      <span>
        <i class="fa fa-refresh"></i> {{$root.lang.answered}}</span>
    </div>
    <div class="col-md-3" ng-if="!invitation.answered">
      <button class="btn btn-primary" ng-click="resend(invitation)">
        <i class="fa fa-refresh" ng-class="{'spin': isSending(invitation)[0]}"></i>
        {{$root.lang.resend}}</button>
      <button class="btn btn-danger" ng-click="delete_invitation(invitation)">
        <i class="fa fa-minus"></i>
        {{$root.lang.del}}</button>
    </div>
    <br class="clear" />
    </li>
  </ul>
</div>
</content-header>
