<form name="form" ng-submit="form.$valid && invite(form)" novalidate>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <multiple-emails></multiple-emails>
  <input-select-multi-courses ng-if="showCourses"></input-select-multi-courses>
  <input-select-country ng-if="type=='student'"></input-select-country>
  <input-select-multi-classes ng-if="type=='schoolteacher'"></input-select-multi-classes>
  <input-select-educational-system ng-if="type=='student'"></input-select-educational-system>
  <input-select-grade ng-if="type=='student'"></input-select-grade>
  <div class="form-group" ng-if="type=='student' || type=='parent'">
    <label for="parentrelation">{{$root.lang.parentrelation}}</label>
    <input type="text" class="form-control" name="parentrelation"
    id="parentrelation" placeholder='{{$root.lang.parentrelation_ie}}'
    ng-model="model.parent_relation"/>
  </div>
  <input-select-course ng-if="type=='privateteacher'"></input-select-course>
  <input-select-group ng-if="type=='privateteacher'"></input-select-group>
  <div class="form-group">
    <label for="title">{{$root.lang.invitationtitle}}</label>
    <input type="text" class="form-control" name="title" id="title"
    ng-model="model.title"/>
  </div>
  <div class="form-group">
    <label for="message">{{$root.lang.invitationmessage}}</label>
    <textarea class="form-control" name="message"
      id="message" ng-model="model.message"></textarea>
  </div>
  <input-captcha></input-captcha>
  <input-submit is-loading="isLoading" title="invite"></input-submit>
</form>
