<div class="linkitem" id="linkitem-{{id}}">
  <div class="item-container">
    <div class="col-md-12">
      <a ng-href="{{href}}">
        <div class="imagecontainer">
          <img ng-src="{{imgsrc}}" height="44" ng-if="imgsrc">
        </div>
        <div class="bodycontainer">
          <div class="col-md-12">
            <h3 class="title" ng-if="title">{{$root.lang[title] || title}}</h3>
            <small class="description">
              {{$root.lang[description] || description}}</small>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="menu" ng-class="{opened: showMenu}" ng-show="transcluding">
    <button class="btn btn-success btn-lg pull-right flip" ng-click="showMenu = !showMenu" ng-class="{'btn-danger': showMenu}"><i class="fa fa-bars" ng-if="!showMenu"></i><i class="fa fa-times" ng-if="showMenu"></i></button>
  </div>
  <div class="buttons col-xs-11" ng-class="{'opened': showMenu}">
    <ul>
      <ng-transclude></ng-transclude>
      <li ng-if="entity">
        <button ng-click="remove(entity)" class="btn btn-default btn-sm
          btn-block" tooltip="{{$root.lang.del}}" tooltip-append-to-body="true">
          <i class="fa fa-times"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
