<div class="profileControl">
  <div ng-repeat="profile in profiles | orderBy:'profile_type'" class="row">
    <div class="col-md-5 {{profile.profile_type}}">
      <h4>{{$root.lang[profile.profile_type]}}</h4>
    </div>
    <div class="col-md-7">
      <button class="btn btn-primary"ng-if="profile.is_deleted && !profile.is_add" ng-click="activate_profile(profile)">
         <i class="fa fa-refresh" ng-class="{'spin': isSending(profile)[0]}"></i>
           {{$root.lang.activateprofile}}</button>
      <button class="btn btn-danger" ng-if="!profile.is_deleted && !profile.is_add" ng-click="remove_profile(profile)">
        <i class="fa fa-minus"></i>
        {{$root.lang.unassignprofile}}
      </button>
      <button class="btn btn-primary" ng-if="profile.is_add" ng-click="add_profile(profile.profile_type)">
         <i class="fa fa-refresh" ng-class="{'spin': isSending(profile)[0]}"></i>
           {{$root.lang.activateprofile}}
      </button>
    </div>
  </div>
</div>
