<div>
  <ul>
    <li ng-repeat="element in elements" >
    <div class="col-md-12">
      <h4 class="col-md-5">
        <i style="color: red">{{element.name}}</i> 
      </h4>
      <div class="col-md-7 pull-right flip">
        <div class="form-group">
          <label for="parent">{{$root.lang.courseelementtype}}</label>
          <ui-select ng-model="element.element_type" name="element_type"
          on-select="save(element, $item)" id="element_type"
          required>
          <ui-select-match placeholder="{{$root.lang.selectelementtype}}">
          {{$root.lang.i18n(element.element_type, 'name')}}</ui-select-match>
          <ui-select-choices  repeat="type in types | filter: $select.search">
          <div ng-bind-html="$root.lang.i18n(type, 'name') | highlight: $select.search"></div>
          <small> type.ar_name </small>
          </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    </li>
  </ul>
</div>
