<header ng-class="{'header2 container': !$root.USER}">

<div ng-if="!$root.USER">
  <a href="#/" class="logo2" title="{{$root.lang.elproff}}"></a>
  <br class="clear"/>
</div>

<div class="container" ng-if="$root.USER">
  <div class="pull-left flip">
    <span class="logo_img">
      <img src="images/img03.png" alt="Upgrade Seventy Seven Logo" title="Upgrade Seventy Seven Logo"/>
    </span>
    <br class="clear"/>
  </div><!-- left -->
  <div class="pull-right flip">
    <a class="user_name" href="#/{{TYPE}}/profile">
        <span class="user-name">{{$root.USER.full_name}}</span>
        <span class="user-pp img-circle hidden-xs" style="background-image: url('{{$root.USER.avatar}}');" ng-if="$root.USER.avatar != '/media/'"></span>
        <span class="user-pp img-circle hidden-xs" style="background-image: url('images/default-user-icon-profile.png');" ng-if="$root.USER.avatar == '/media/'"></span>
    </a>
    <div class="navMenu">

      <div class="dropdown drop_down hidden-xs">
        <a class="navItem dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-expanded="true">
          {{$root.lang.settings}}
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="userMenu">
          <li class="dropdown-submenu">
            <a href="" ng-click="" id="userMenu_languages">{{$root.lang.languages}}</a>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="changelang('ar')" id="userMenu_arabic">
                <i class="fa" ng-class="{
                  'fa-check': $root.USER.lang == 'ar',
                  'fa-exchange': $root.USER.lang != 'ar'
                  }"></i>
                {{$root.lang.arabic}}</a></li>
              <li><a href="" ng-click="changelang('en')" id="userMenu_english">
                <i class="fa" ng-class="{
                  'fa-check': $root.USER.lang == 'en',
                  'fa-exchange': $root.USER.lang != 'en'
                  }"></i>
                {{$root.lang.english}}</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
          <a href="#/{{TYPE}}/profile" id="userMenu_profiles">{{$root.lang.profiles}}</a>
            <ul class="dropdown-menu" ng-style="$root.USER.type=='schooladmin' && {'width':'190px'}">
              <li ng-repeat="profile in profiles">
              <a href="" id="userMenu_{{profile.profile_type}}"
                ng-click="switchProfile(profile.profile_type)">
                <i class="fa" ng-class="{
                  'fa-check': $root.USER.type == profile.profile_type,
                  'fa-exchange': $root.USER.type != profile.profile_type
                  }"></i>
                {{$root.lang[profile.profile_type]}}
              </a>
              </li>
            </ul>
          </li>
          <li><a href="#/{{TYPE}}/profile/edit" id="userMenu_editProfile">{{$root.lang.editprofile}}</a></li>
          <li><a href="" ng-click="logout()" id="userMenu_logout">
            <i class="fa fa-off text-danger"></i> {{$root.lang.logout}}</a></li>
        </ul>
      </div>

      <a href="#/{{TYPE}}/help" class="navItem help hidden-xs">{{$root.lang.help}}</a>
      <!--
      <button class="btn btn-link navItem help hidden-xs" ng-click="sendDummyWS()">socket hi</button>
      -->
      <a href="#/{{TYPE}}/notifications" class="navItem message
        hidden-xs">{{$root.lang.notifications}}
        <span ng-if="notificationsCount"> {{notificationsCount}} </span></a>
      <a href="#/{{TYPE}}/" class="navItem dashboard hidden-xs">{{$root.lang.dashboard}}</a>
    </div>
  </div><!-- right -->
  <a data-toggle="collapse" onclick="return false;" href="#rnav" aria-expanded="false" aria-controls="rnav" class="mobileMenuBtn visible-xs"><i class="fa fa-bars fa-2x"></i></a>
</div><!-- center -->
<div class="rnav collapse" id="rnav" ng-if="$root.USER">
  <ul>
    <li><a href="#/{{TYPE}}/">{{$root.lang.dashboard}}</a></li>
    <li><a href="#/{{TYPE}}/notifications">{{$root.lang.notifications}}</a></li>
    <li><a href="#/{{TYPE}}/help">{{$root.lang.help}}</a></li>
    <li>
      <a data-toggle="collapse" onclick="return false;" href="#navCollapse-1" aria-expanded="false" aria-controls="navCollapse-1">{{$root.lang.languages}}<span class="caret"></span></a>
      <ul class="collapse" id="navCollapse-1">
        <li><a href="" ng-click="changelang('ar')">{{$root.lang.arabic}}</a></li>
        <li><a href="" ng-click="changelang('en')">{{$root.lang.english}}</a></li>
      </ul>
    </li>
    <li>
      <a data-toggle="collapse" onclick="return false;" href="#navCollapse-2" aria-expanded="false" aria-controls="navCollapse-2">{{$root.lang.profiles}}<span class="caret"></span></a>
      <ul class="collapse" id="navCollapse-2">
        <li ng-repeat="profile in profiles">
            <a href="" id="userMenu_{{profile.profile_type}}"
              ng-click="switchProfile(profile.profile_type)">
              <i class="fa" ng-class="{
                'fa-check': $root.USER.type == profile.profile_type,
                'fa-exchange': $root.USER.type != profile.profile_type
                }"></i>
              {{$root.lang[profile.profile_type]}}
            </a>
            </li>
      </ul>
    </li>
    <li><a href="#/{{TYPE}}/profile/edit">{{$root.lang.editprofile}}</a></li>
    <li><a href="" ng-click="logout()">{{$root.lang.logout}}</a></li>
  </ul>
  <div class="clear"></div>
</div>
</header>
