<content-header>
<div class="notification col-md-12" ng-repeat="notification in notifications">
  <div class="col-md-3">
    <h4 class="notification_title"><i class="fa fa-clock-o"></i> {{timeOf(notification)}}</h4>
  </div>
  <div class="col-md-7">
    <h4 class="notification_title">
      {{notification.sender.full_name}}
      {{$root.lang['notifications_' + notification.title]}}
      <span ng-if="notification.attrs.exam_instance" tooltip="{{$root.lang.start_time}} {{notification.examInstance.exam.start_time | dateFormatter }} {{$root.lang.end_time}} {{notification.examInstance.exam.end_time | dateFormatter}}"  tooltip-trigger="mouseenter" tooltip-placement="bottom"><i class="fa fa-calendar"></i></span>
    </h4>
  </div>
  <div class="col-md-2">
    <a href="" class="true" ng-click="accept(notification)"></a>
    <a href="" class="false" ng-click="reject(notification)"></a>
  </div>
</div>
</content-header>
