<alert ng-repeat="alert in alerts" type="{{alert.type}}"
close="closeAlert($index)">{{alert.msg}}</alert>
<form name="form" ng-submit="form.$valid && save()" novalidate>

  <div class="row">
    <div class="col-xs-6">
      <kv k="course" v="{{$root.lang.i18n(model.course_element.course, 'name')}}" limit="25"></kv>
      <kv k="course_element" v="{{$root.lang.i18n(model.course_element, 'name')}}" limit="25"></kv>
    </div>
    <div class="col-xs-6">
      <button id="addbulk" type="button" class="btn btn-primary pull-right flip"
        ng-click="addBulk()"> <i class="fa fa-plus"></i>
        {{$root.lang.addquestionsbulk}} </button>
    </div>
  </div>

  <input-title></input-title>
  <input-select-learning-outcome model="model"></input-select-learning-outcome>
  <input-description></input-description>

  <h2>{{$root.lang.questionsbulks}}</h2>
  <!-- Example row of columns -->
  <questions-bulk model='bulk' bulks="bulks" index="{{$index}}"
  ng-repeat="bulk in bulks | orderBy:'id'" class="col-md-4"></questions-bulk>
  <input-submit is-loading="isLoading" is-disabled="bulks.length == 0"></input-submit>
</form>
