<form name="form" ng-submit="form.$valid && save()" novalidate>

  <kv k="course" v="{{course.name}}" limit="25"></kv>
  <kv k="course_element" v="{{element.name}}" limit="25"></kv>

  <input-title></input-title>
  <input-select-learning-outcome></input-select-learning-outcome>
  <input-description></input-description>

  <div ng-repeat="bulk in bulks">
    <questions-bulk model='bulk' bulks="bulks" index="{{$index}}"
                    class="col-sm-12 col-md-6 col-lg-4"></questions-bulk>
  </div>
  <input-submit is-loading="isLoading" is-disabled="bulks.length == 0"></input-submit>
</form>
