<div class="task-container">
  <div class="row block-update-card plan-card" id="plan_{{model.id}}" data-id="{{model.id}}"
    ng-init="TYPE=$root.USER.type">
    <div class="col-xs-12 update-card-body">
      <h3>
        {{$root.lang.i18n(model, 'name')}}</h3>
      <kv k="grade" v="{{$root.lang.i18n(model.grade, 'name')}}" limit="25"></kv>
      <kv k="term" v="{{$root.lang.i18n(model.term, 'name')}}" limit="25"></kv>
      <kv k="fees" v="{{::model.fees}}" limit="25"></kv>
    </div>
    <div class="btn-group col-md-12">
      <div class="row">
        <div class="col-md-6"><button class="btn btn-warning btn-xs btn-block" ng-click="showdetails(model)">Details</button></div>
        <div class="col-md-6">
          <button ng-click="subscribe(model)"
            id="subscribe" class="btn btn-success btn-xs btn-block"
            ng-disabled="model.mine" ng-if="TYPE === 'parent' || TYPE === 'student'">
            <i class="fa" ng-class="{'fa-shopping-cart': !model.mine, 'fa-check': model.mine}"></i>
            {{$root.lang.subscribe}}
          </button>
        </div>
      </div>
      <div class="plan-details-container">
        <div class="plan-details" ng-show="planDetails">
          <kv k="academic_year" v="{{::model.academic_year}}" limit="25"></kv>
          <kv k="course" v="{{course.name}}" limit="25"
          ng-repeat="course in model.courses"></kv>
          <kv k="element" v="{{$root.lang.i18n(element, 'name')}}" limit="25"
          ng-repeat="element in model.courses_elements"></kv>
        </div>
      </div>
    </div>
  </div>
</div>

