<div class="student_info noborder">
    <div class="col-md-4">
        <img ng-src="{{$root.USER.avatar || 'images/default-user-icon-profile.png'}}"
        alt="{{$root.USER.name}}" class="img-circle img-responsive" ng-if="$root.USER.avatar != '/media/'">
        <img ng-src="images/default-user-icon-profile.png"
        alt="{{$root.USER.name}}" class="img-circle img-responsive" ng-if="$root.USER.avatar == '/media/'">
    </div>
    <div class="col-md-8">
        <div class="right">
            <h2>{{::$root.USER.full_name}}</h2>
            <div class="left">
              <span class="b_date" ng-if="$root.USER.birthdate">
                <i class="fa fa-birthday-cake"></i> {{::$root.USER.birthdate}}</span>
              <span class="gender" ng-if="$root.USER.gender">
                {{$root.lang[$root.USER.gender]}}</span>
              <span class="phone" ng-if="$root.USER.phone_number">
                <i class="fa fa-phone"></i> {{::$root.USER.phone_number}}</span>
            </div>
        </div>
    </div>
    <hr class="clear">
    <listprofiles userlist="userlist"></listprofiles>
</div>
