<div ng-if="model.question_type === 'fillblanks'" class="alert alert-info"
  role="alert">
  <strong>{{$root.lang.note}}</strong> 
  {{$root.lang.questionmakeheadernotefillblanks}}
</div>
<div  class="alert alert-info" role="alert">
  <strong>{{$root.lang.note}}</strong>
  {{$root.lang.questionmakeheadernotesolve}}
</div>
<div class="row">
  <div class="col-xs-12">
    <label for="questionHead">{{$root.lang.questionheader}}</label>
    <a target="_blank" class="pull-right flip" href="http://markdowntutorial.com/"
      tooltip="{{$root.lang.markdownlinkdescription}}"
      tooltip-placement="top"><i class="fa fa-question-circle"></i></a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <label for="minutes">{{$root.lang.minutes}}</label>
    <input type="number" class="form-control time-input" ng-model="model.minutes" min="0" max="120">
  </div>
  <div class="col-md-6">
    <label for="minutes">{{$root.lang.seconds}}</label>
    <input type="number" class="form-control time-input" ng-model="model.seconds" min="0" max="59">
  </div>
</div>
<custom-editor attachment-relation="course" question-model="model"></custom-editor>