<accordion class="col-md-12" ng-show="model.correct_answer">
  <accordion-group is-open="status.open" ng-if="model.correct_answer.perfect_answers.length">
    <accordion-heading>
      {{$root.lang.perfectanswer}}
         <i class="pull-right flip glyphicon" 
          ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <span ng-repeat="perfect_answer in model.correct_answer.perfect_answers">
      <span marked="perfect_answer.description"></span>
      <!-- <div>{{perfect_answer.description}}</div> -->
    </span>
  </accordion-group>
  <!--hints-->
    <accordion-group is-open="status.open" ng-if="model.correct_answer.hints.length">
    <accordion-heading>
      {{$root.lang.hints}}
       <i class="pull-right flip glyphicon" 
          ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </accordion-heading>
    <span ng-repeat="hint in model.correct_answer.hints">
      <pre marked="hint.description"></pre>
    </span>
  </accordion-group>
</accordion>