<div class="attachment" ng-if="model.attachment">
  <div marked="model.attachment.text"
    ng-if="model.attachment.attachment_type === 'text'">
  </div>
  <div ng-if="model.attachment.attachment_type !== 'text'">
    <img ng-src="{{model.attachment.attachment}}"/>
  </div>
</div>
<div class="title">
  <span class="qContainer">
    <span id="q"> {{$root.lang.Q}} </span>
  </span>
  <h4 ng-if="model.question_type !== 'fillblanks'">
    <div ng-repeat="line in model.description.split('\n') track by $index">
      <span marked="line"> </span>
    </div>
  </h4>
  <h4 ng-if="model.question_type === 'fillblanks'">
    <!--one based to avoid multiplying by 0 -->
    <div ng-repeat="line in model.description.split('\n') track by $index"
      ng-init="topIdx=$index+1">
      <span ng-repeat="head in (line + ' ').split('....') track by $index"
        ng-init="idx=(topIdx*($index+1))-1">
        <span marked="head"></span>
        <i id="bucket-{{idx}}" ng-drop="true" 
          ng-drop-success="onDropComplete($data, $event, idx)" 
          ng-if="!$last && !model.user.answer[idx]">
          ....
        </i>
        <i id="bucket-{{idx}}" ng-drop="true" 
          class="fillBlankAnswer"
          ng-drop-success="onDropComplete($data, $event, idx)" 
          ng-if="!$last && model.user.answer[idx]">
          <view-answer model="model.user.answer[idx]"></view-answer>
        </i>
      </span>
    </div>
  </h4>
</div>
