<div ng-if="!model.question_type || !questionAnswer && $root.USER.type === 'student'">
  {{$root.lang.loading}}
</div>
<div ng-if="model.question_type" ng-hide="!questionAnswer && $root.USER.type === 'student'" data-type="{{model.question_type}}">
  <question-take-header></question-take-header>
  <div ng-if="model.question_type === 'truefalse'">
    <div class="col-md-12"> <take-truefalse></take-truefalse> </div>
  </div>
  <div ng-if="model.question_type === 'dragdrop'">
    <div class="col-md-12"> <take-drag-drop></take-drag-drop> </div>
  </div>
  <div ng-if="model.question_type === 'mcq'">
    <div class="col-md-12"> <take-mcq></take-mcq> </div>
  </div>
  <div ng-if="model.question_type === 'multi_mcq'">
    <div class="col-md-12"> <take-mcq-multi></take-mcq-multi> </div>
  </div>
  <div ng-if="model.question_type === 'fillblanks'">
    <div class="col-md-12"> <take-fill-blanks></take-fill-blanks> </div>
  </div>
  <div ng-if="model.question_type === 'multi_fillblanks'">
    <div class="col-md-12"> <take-fill-blanks-multi></take-fill-blanks-multi> </div>
  </div>
  <div ng-if="model.question_type === 'connect'">
    <div class="col-md-12"> <take-connect></take-connect> </div>
  </div>

  <div class="col-xs-12 col-md-6" ng-if="exam && exam.type === 'exam' && !isLast">
    <button class="btn btn-danger btn-lg btn-block" ng-click="skip()">
      {{$root.lang.skip}}
      <i class="fa fa-angel-double-right"></i> </button>
  </div>

  <div class="col-xs-12 col-md-6" ng-if="exam && exam.type === 'exam' && !isLast">
    <button class="btn btn-success btn-lg btn-block"
      ng-click="nextExamQuestion()" ng-disabled="isLoading"> {{$root.lang.next}}
      <i class="fa fa-angel-right"></i> </button>
  </div>

  <div class="col-xs-12 col-md-6" ng-if="exam && exam.type === 'exam'">
    <button class="btn btn-success btn-lg btn-block"
      ng-click="addFeedback(model)" ng-disabled="isLoading"> {{$root.lang.questionfeedback}}
      <i class="fa fa-angel-right"></i> </button>
  </div>

  <div class="col-xs-12 col-md-6" ng-if="exam && exam.type === 'practice'">
    <button class="btn btn-success btn-lg btn-block"
      ng-click="nextPracticeQuestion()"> {{$root.lang.next}}
      <i class="fa fa-angel-right"></i> </button>
  </div>

  <div class="col-xs-12 col-md-6" ng-if="exam && exam.type === 'perfectanswers' && !isLast">
    <button class="btn btn-success btn-lg btn-block"
      ng-click="nextQuestionAnswer()"> {{$root.lang.next}}
      <i class="fa fa-angel-right"></i> </button>
  </div>

  <div class="col-xs-12 col-md-6" ng-if="exam && (isLast || exam.type === 'practice')">
    <button class="btn btn-success btn-lg btn-block" ng-click="finish()">
      {{$root.lang.finish}} <i class="fa fa-check"></i></button>
  </div>

  <question-take-footer></question-take-footer>
</div>
