<div class="row">
  <div  class="col-xs-12 perfect_answer"
    ng-if="model.correct_answer.perfect_answers">
    <h5>{{$root.lang.perfectanswer}}
      <button class="btn btn-xs btn-primary pull-right flip add_more_options"
        id="addMorePerfectAnswer"
        ng-click="model.correct_answer.perfect_answers.unshift({})">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">{{$root.lang.addperfectanswer}}</span></button>
    </h5>
    <div ng-repeat="answer in model.correct_answer.perfect_answers">
      <div class="form-group">
        <custom-editor attachment-relation="question" question-model="answer" editor-id="perfectanswer{{$index}}"></custom-editor>
      </div>
      <button class="btn btn-danger btn-xs btn-block"
        ng-click="removePerfectAnswer($index)"><i class="fa fa-remove"></i>
        {{$root.lang.remove}}
      </button>
    
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 perfect_answer_hint" id="hint" ng-if="model.correct_answer.hints">
    <h5>{{$root.lang.hints}} ({{$root.lang.visibleinpractice}})
      <button class="btn btn-xs btn-primary pull-right flip add_more_options"
        id="addMoreHint"
        ng-click="model.correct_answer.hints.unshift({})">
        <i class="fa fa-plus"></i> <span class="hidden-xs">{{$root.lang.addhint}}</span></button>
    </h5>
    <div ng-repeat="hint in model.correct_answer.hints">
      <div class="form-group">
        <custom-editor attachment-relation="question" question-model="hint" editor-id="questionhint{{$index}}"></custom-editor>
      </div>
      <button class="btn btn-danger btn-xs btn-block"
        ng-click="removeHint($index)"><i class="fa fa-remove"></i>
        {{$root.lang.remove}}
      </button>  
    </div>
  </div>
</div>
