<div class="question-info" ng-init="TYPE=$root.USER.type">
  <a href="#/author/courses/{{::courseid}}/tasks/{{::taskid}}/question/{{::model.id}}">
    <div class="bodycontainer">
      <h3 class="description">{{model.description}}</h3>
      <small class="type">{{model.question_type}}</small>
    </div>
  </a>
</div>
