<div class="questions_bulk bg-primary">
  <a href='' id="removebulk" type="button" class="pull-right flip"
    ng-click="removeBulk()" ng-if="!model.id"> <i class="fa fa-remove"></i>
  </a>
  <div class="kv">
    <kv k='questionscount' v='{{model.count}}' limit="22"></kv>
    <kv k='questionstype' v='{{model.questions_type.lang}}' limit="22"></kv>
    <kv k='difficulty' v='{{model.difficulty.lang}}' limit="22"></kv>
    <kv k='description' v='{{model.description}}' limit="22"></kv>
    <kv k='learningoutcome' v='{{model.learning_outcome.lang}}'
    ng-if="model.learning_outcome" limit="22"></kv>
    <kv k='tasks' v='{{model.tasks.length}}' limit="22"
    ng-if="model.tasks.length"></kv>
  </div>
  <div class="actions" ng-if="model.id">
  <!--USE Anchor here & DO not Use Button-->
    <a href class="btn btn-sm btn-success"
      ng-click="update()">{{$root.lang.edit}}</a>
  </div>
</div>
