<button type="button"  class="btn btn-xs btn-primary reloadCaptcha" ng-click="reloadCaptcha()"  ng-disabled="isReloadingCaptcha">  <i class="fa fa-refresh"    ng-class="{spin: isReloadingCaptcha}"></i>  {{$root.lang.reloadCaptcha}}</button>