<div class="right_menu">
  <ul>
    <li ng-class="{current: item.name === current}" ng-repeat="item in links">
    <a href="{{item.href}}" id="{{item.name}}">{{$root.lang[item.title]}}</a></li>
  </ul>
</div>
