<div class="subj">
  <div class="subj_name">
    <div class="col-md-2">
      <img ng-src="{{model.image}}">
    </div>
    <div class="col-md-7">
      <h3>{{model.name}}</h3>
    </div>
  </div>
  <div class="subj_data">
    <div class="col-md-6">
      <button class="btn btn-success">
        <img ng-src="images/icn_stats.png" alt="">{{$root.lang.statistics}}</button>
    </div>
    <div class="col-md-6">
      <a href="#/schooladmin/course/{{course.id}}" class="btn btn-success pull-right flip">
        <img ng-src="images/very_little_book.png" alt="">{{$root.lang.manage}}</a>
    </div>
  </div>
</div>

