<div class="col-md-4">
  <a href="" ng-click="changelang('ar')" 
    id="lang_ar"
    class="btn btn-default btn-block"
    ng-if="!$root.LANG_DIRECTION || $root.LANG_DIRECTION === 'ltr'">
		<i class="fa fa-exchange"></i>
	{{$root.lang.arabic}}</a>
<a href="" ng-click="changelang('en')" 
    id="lang_en" 
    class="btn btn-default btn-block"
    ng-if="$root.LANG_DIRECTION === 'rtl'">
		<i class="fa fa-exchange"></i>
	{{$root.lang.english}}</a>
</div>
