<div class="profile" ng-init='TYPE=$root.USER.type'>
  <div class="col-sm-12">
    <div class="col-xs-12 col-sm-8">
      <h2>{{model.user.full_name}}</h2>
      <p><strong>{{$root.lang.telephone}}: </strong> {{model.user.phone_number}}</p>
      <p><strong>{{$root.lang.email}}: </strong> {{model.user.email}}</p>
      <p><strong>{{$root.lang.joinedat}}: </strong> {{model.creation_date | date:'d MMM yyyy'}}</p>
      <div class="col-xs-12 divider">
        <link-item class="col-md-6" title="{{classObj.name}}"
          ng-repeat="classObj in model.classes">
        </link-item>
      </div>
    </div>             
    <div class="col-xs-12 col-sm-4 text-center">
      <figure>
      <img ng-src="{{model.user.avatar || 'images/default-user-icon-profile.png'}}" alt="" class="img-circle img-responsive">
      </figure>
    </div>
  </div>            
  <div class="col-xs-12 divider text-center">
    <div id="taskscreated" ng-if="type!='schoolteacher'" class="col-xs-12 emphasis" ng-class="type=='author' ? 'col-sm-3' : 'col-sm-4'">
      <h2><strong>{{model.tasks.length || 0}}</strong></h2>                    
      <p><small>{{$root.lang.taskscreated}}</small></p>
      <button id="taskscreatedbtn" class="btn btn-info btn-block"><span class="fa fa-eye"></span> {{$root.lang.inspect}} </button>
    </div>
    <div  id="taskscompleted" ng-if="type!='schoolteacher'" class="col-xs-12 emphasis" ng-class="type=='author' ? 'col-sm-3' : 'col-sm-4'">
      <h2><strong>{{completedTasks || 0}}</strong></h2>
      <p><small>{{$root.lang.taskscompleted}}</small></p>
      <button class="btn btn-info btn-block"><span class="fa fa-eye"></span> {{$root.lang.inspect}} </button>
    </div>
    <div id="questionsCreated" class="col-xs-12 emphasis" ng-if="type=='author'" ng-class="type=='author' ? 'col-sm-3' : 'col-sm-4'">
      <h2><strong>{{questionsCreated || 0}}</strong></h2>
      <p><small>{{$root.lang.questionscreated}}</small></p>
      <a class="btn btn-info btn-block" ng-if="TYPE=='admin' || TYPE=='sme'"
        href="#/{{TYPE}}/{{::type}}/{{::model.id}}/question">
        <span class="fa fa-eye"></span> {{$root.lang.inspect}} </a>
      <button class="btn btn-info btn-block" ng-if="TYPE!='sme' && TYPE !='admin'">
        <span class="fa fa-eye"></span> {{$root.lang.inspect}}
      </button>
    </div>
    <div id="rejectedprecentage" class="col-xs-12 col-sm-3 emphasis" ng-if="type=='author'">
      <h2><strong>{{rejectedPrecentage || 0}}%</strong></h2>
      <p><small>{{$root.lang.questionsrejected}}</small></p>
      <p ng-if="type=='author'">{{$root.lang.outof}} {{reviewedCount || 0}} {{$root.lang.reviewedquestions}}</p>
    </div>
    <div class="col-xs-12 col-sm-3 emphasis" ng-if="type=='reviewer'">
      <h2><strong>{{reviewed_questions_count || 0}}</strong></h2>
      <p><small>{{$root.lang.reviewedquestions}}</small></p>
    </div>
  </div>
  <br/>
  <div class="col-xs-12 divider" style="margin-top:10px">
    <button class="btn btn-primary btn-block" ng-click="addCourse()"
      ng-disabled="!model">
      <i class="fa fa-plus"></i> {{$root.lang.addcourse}} </button>
  </div>
  <div class="col-xs-12 divider">
      <div class="col-md-6" ng-repeat="course in model.courses">
        <course course="course" remove="remove"></course>
      </div>
  </div>
</div>                 
