<div class="linkitem">
  <div class="bodycontainer">
    <div class="col-md-12">
      <h2 class="count">{{count}}</h2>
    </div>
    <div class="col-md-12" ng-if="title">
      <h5 class="title">{{$root.lang[title] || title}}</h5>
    </div>
  </div>
</div>

