<form name="form" ng-submit="form.$valid && createPractice()" novalidate ng-init="TYPE=$root.USER.type">

  <div class="practice_form">
    <span class="number">{{$root.lang.n_1}}</span>
    <h4>{{$root.lang.selectcourseelements}}</h4>
    <br class="clear" />
    <div class="subs">
      <input-select-multi-course-element-subs>
      </input-select-multi-course-element-subs>
      <!--<div class="sub subject">-->
        <!--<input-select-multi-course-elements></input-select-multi-course-elements>-->
        <!--</div>-->
    </div>
  </div>

  <div class="practice_form">
    <span class="number">{{$root.lang.n_2}}</span>
    <h4>{{$root.lang.selectdifficulty}}</h4>
    <br class="clear">
    <div class="subs">
      <div class="sub subject">
        <input-select-difficulty></input-select-difficulty>
      </div>
    </div>
  </div>

  <div class="practice_form">
    <span class="number">{{$root.lang.n_3}}</span>
    <h4>{{$root.lang.selectquestionstype}}</h4>
    <br class="clear">
    <div class="subs">
      <div class="sub subject">
        <input-select-multi-questions-type></input-select-multi-questions-type>
      </div>
    </div>
  </div>

  <input type="submit" class="btn btn-success btn-lg btn-block" value="{{$root.lang.takepractice}}">
</form>
