<div class="task-container">
  <div class="row block-update-card" id="task_{{model.id}}" data-id="{{model.id}}"
    data-count="{{::model.count}}" data-remaining="{{model.count - model.questions.length}}"
    data-type="{{model.questions_bulk.questions_type}}"
    ng-init="TYPE=$root.USER.type">
    <div class="col-xs-12 update-card-body">
      <h3 ng-if="questionMode != 'yes'">
        {{$root.lang.i18n(model, 'description')}}
      </h3>
      <kv k="count" v="{{::model.count}}" limit="25"></kv>
      <kv k="questions" v="{{model.questions.length}}" limit="25"></kv>
      <kv k="type" v="{{$root.lang['type_' + model.questions_bulk.questions_type]}}" limit="25"></kv>
      <kv k="difficulty" v="{{$root.lang['difficulty_' + model.questions_bulk.difficulty]}}" limit="25"></kv>
      <kv k="objective" v="{{::model.objective}}" limit="25"></kv>
      <kv k="description" v="{{::model.questions_bulk.description}}" limit="25"></kv>
      <kv k="outcome" v="{{$root.lang['outcome_' + model.learning_outcome]}}" limit="25"></kv>
      <kv k="country" v="{{$root.lang.i18n(model.course_element.course.grade.system.country, 'name')}}" limit="25"></kv>
      <kv k="edu_system" v="{{$root.lang.i18n(model.course_element.course.grade.system, 'name')}}" limit="25"></kv>
      <kv k="grade" v="{{$root.lang.i18n(model.course_element.course.grade, 'name')}}" limit="25"></kv>
      <kv k="course" v="{{$root.lang.i18n(model.course_element.course, 'name')}}" limit="25"></kv>
      
      <kv k="elementparent" v="{{!model.course_element.parent ? '---' : $root.lang.i18n(model.course_element.parent,'name')}}" limit="25"></kv>
      
      <kv k="element" v="{{$root.lang.i18n(model.course_element,'name')}}" limit="25"></kv>
    </div>
    <div class="card-action-pellet btn-toolbar" role="toolbar"
      ng-if="TYPE === 'author' && courseid && questionMode != 'yes'|| TYPE === 'reviewer' && courseid && questionMode != 'yes'">
      <div class="btn-group">
        <span>
          <a ng-click="unassign(model)" id="selfunassign"
            class="btn btn-success btn-xs" ng-if="model.mine">
            <i class="fa fa-minus"></i> {{$root.lang.selfunassign}}
          </a>
          <a ng-click="assignToMe(model)" id="selfassign"
            class="btn btn-success btn-xs" ng-if="!model.mine">
            <i class="fa fa-plus"></i> {{$root.lang.selfassign}}
          </a>
        <span ng-if="TYPE === 'reviewer' && courseid && questionMode != 'yes'">
          <a href="#/reviewer/course/{{courseid}}/task/{{model.id}}/questions"
            class="btn btn-primary btn-xs" ng-if="model.mine">
            <i class="fa fa-list-ul"></i> {{$root.lang.questions}}
          </a>
        </span>
        </span>
        <span>
          <a href="#/author/course/{{courseid}}/task/{{model.id}}/question/create"
            class="btn btn-primary btn-xs" ng-if="TYPE === 'author' && model.mine" id="addquestions">
            <i class="fa fa-plus"></i> {{$root.lang.addquestions}}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
