<div class="group" ng-init="TYPE=$root.USER.type" id="group_{{::group.id}}">
  <div class="bordered-block">
    <div class="col-md-12">
      <h2>
        <a href="#/{{::TYPE}}/course/{{course.id}}/group/{{::group.id}}"
          class="inheritColor">{{$root.lang.i18n(group, 'name')}}</a>
      </h2>
      <small>{{$root.lang.i18n(group.course, 'name')}}</small>
      <small> - {{$root.lang.i18n(group.course.grade, 'name')}}</small>
      <small> - {{$root.lang.i18n(group.course.grade.system, 'name')}}</small>
      <small> - {{$root.lang.i18n(group.course.grade.system.country, 'name')}}</small>
    </div>
    <!-- right -->
    <div class="col-md-12">
      <hr/>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
        <a href="#/{{::TYPE}}/course/{{course.id}}/exam/create"
          class="btn btn-danger btn-block">{{$root.lang.createexam}}</a>
      </div>
      <div class="col-md-4">
        <a href="#/{{::TYPE}}/course/{{course.id}}/group/update/{{::group.id}}"
          class="btn btn-danger btn-block">{{$root.lang.edit}}</a>
      </div>
      <!-- <div class="col-md-4">
        <a href="#" class="btn btn-danger btn-block">{{$root.lang.createhw}}</a>
      </div> -->
    </div>
    <!-- left -->
    <br class="clear"/>
  </div>
</div>
