<ul>
  <li>
  <h4>لغة عربية / الصف الثانى الثانوى</h4>
  <div class="clear"></div>
  <div class="groups">
    <h5><a href="group_report.html">مجموعة 1</a> - <small>متوسط النتيجة: 87%</small></h5>
    <h5><a href="group_report.html">مجموعة 1</a> - <small>متوسط النتيجة: 87</small>%</h5>
    <h5><a href="group_report.html">مجموعة 1</a> - <small>متوسط النتيجة: 87</small>%</h5>
  </div>
  <hr>
  </li>
</ul>

