<form  novalidate>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="practice_form">
    <span class="number">{{$root.lang.n_1}}</span>
    <h4>{{$root.lang.examname}}</h4>
    <br class="clear" />
    <div class="questions">
      <div class="sub question">
        <input-name></input-name>
        <br class="clear" />
      </div>
      <!-- sub -->
    </div>
    <br class="clear">
  </div>
  <div class="practice_form">
    <span class="number">{{$root.lang.n_2}}</span>
    <h4>{{$root.lang.selectgroups}}</h4>
    <br class="clear" />
    <div class="sub" ng-if="type=='privateteacher'">

      <button id="toggle" class="btn btn-link btn-mini" ng-click="CheckAllGroups()">
        <span class="btn btn-success btn-lg" ng-show="checkChangeState">
          {{$root.lang.selectall}} </span>
        <span class="btn btn-danger btn-lg" ng-hide="checkChangeState">
          {{$root.lang.selectnone}}</span>
      </button>
      <div class="checkbox-inline group" id="group-{{group.id}}" model="groups"
        ng-repeat="group in groups">
        <input type="checkbox"id="group_{{group.id}}" ng-model="group.checked">
        {{$root.lang.i18n(group, 'name')}}
      </div>
    </div>
    <div class="sub" ng-if="type=='schoolteacher'">

      <button id="toggle" class="btn btn-link btn-mini" ng-click="CheckAllClasses()">
        <span class="btn btn-success btn-lg" ng-show="checkChangeState">
          {{$root.lang.selectall}} </span>
        <span class="btn btn-danger btn-lg" ng-hide="checkChangeState">
          {{$root.lang.selectnone}}</span>
      </button>
      <div class="checkbox-inline group" id="class-{{class.id}}" model="schoolclasses"
        ng-repeat="class in schoolclasses">
        <input type="checkbox"id="class_{{class.id}}" ng-model="class.checked">
        {{$root.lang.i18n(class, 'name')}}
      </div>
    </div>
    <!-- sub -->
    <span class="number">{{$root.lang.n_3}}</span>
    <h4>{{$root.lang.selectcourseelements}}</h4>
    <br class="clear" />
    <div class="subs">
      <div class="sub subject">
        <course-element model="element" ng-repeat="element in elements track by $index">
        </course-element>
        <div class="col-md-4 bg-info text-center" style="line-height: 180px;">
          <button ng-click="addElements()" class="btn btn-success btn-lg">
            <i class="fa fa-plus"></i> {{$root.lang.addnewpart}}</button>
        </div>
        <br class="clear" />
      </div>
      <!-- sub -->
    </div>
    <br class="clear">
  </div>
  <div class="practice_form">
    <span class="number">{{$root.lang.n_4}}</span>
    <h4>{{$root.lang.selectquestionstype}}</h4>
    <br class="clear" />
    <div class="questions">
      <div class="sub question">
        <questions-bulk model="question" ng-repeat="question in bulks">
        </questions-bulk>
        <div class="col-md-4 bg-info text-center" style="line-height: 180px;">
          <button ng-click="addBulk()" class="btn btn-success btn-lg">
            <i class="fa fa-plus"></i> {{$root.lang.addquestiontype}}</button>
        </div>
        <br class="clear" />
      </div>
      <!-- sub -->
    </div>
    <br class="clear">
  </div>
  <div class="practice_form">
    <span class="number">{{$root.lang.n_5}}</span>
    <h4>{{$root.lang.examtime}}</h4>
    <br class="clear" />
    <div class="sub">
      <div class="form-group">
        <label>{{$root.lang.examtime}} ({{$root.lang.minutes}})</label>
        <input type="number" min="1" class="form-control" ng-model="model.duration">
      </div>
      <br class="clear" />
    </div>
    <!-- sub -->
    <span class="number">{{$root.lang.n_6}}</span>
    <h4>{{$root.lang.exambeginningandend}}</h4>
    <br class="clear" />
    <div class="sub">
      <div class="form-group">
        <label>{{$root.lang.start_date}}</label>
        <input type="datetime-local" class="form-control time_input" ng-model="model.startTime">
      </div>
      <div class="form-group">
        <label>{{$root.lang.end_date}}</label>
        <input type="datetime-local" class="form-control time_input" ng-model="model.endTime">
      </div>
      <br class="clear" />
    </div>
    <!-- sub -->
    <br class="clear">
  </div>
  <hr>
  <br>
  <div class="text-center">
    <a class="btn btn-success btn-lg" ng-click="getQuestions()">
      {{$root.lang.next}}</a>
  </div>

</form>
