<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a href="#/author/course/{{courseid}}/task/create" class="btn btn-primary pull-right flip"
    style="margin-left:5px;"><i class="fa fa-plus"></i> {{$root.lang.add}} </a>
</h3>
<div class="col-md-4" ng-repeat="entity in entities | orderBy:'id':true"
  ng-show="entity.mine && entity.questions.length < entity.count">
  <task-list-item model="entity" courseid="courseid"></task-list-item>
</div>
</content-header>
