
<content-header>
  <h3 class="landing_title">
    {{pageTitle}}
    <a href="#/schooladmin/educationalsystems/{{systemid}}/grade/{{gradeid}}/class/{{classid}}/invite"
      class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
      {{$root.lang.invitestudent}}
    </a>
  </h3>
 
  <link-item class="col-md-4" title="{{student.user.full_name}}"
    ng-repeat="student in model.students" description="{{student.user.email}}">
  </link-item>
</content-header>
