<content-header>
<h2 class="quest1">{{$root.lang.subjectreport}}</h2>
<div class="subsList content">
    <table class="custom-table">
        <thead>
            <tr>
                <td>{{$root.lang.name}}</td>
                <td>{{$root.lang.answertime}}</td>
                <td>{{$root.lang.degree}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students" ng-class="{true: 'no-attend'}[student.attendance == 'no']">
                <td><a href="#/privateteacher/course/exam/reports/student">{{student.name}}</a></td>
                <td><a href="#/privateteacher/course/exam/reports/student">{{student.time}}</a></td>
                <td><a href="#/privateteacher/course/exam/reports/student">
                	{{{true: $root.lang.noattendance, false: student.degree+'%'}[student.attendance == 'no']}}
                </a></td>
            </tr>
        </tbody>
    </table>
</div>
</content-header>
