<content-header>
  <div ng-if="!model.question_type || !questionAnswer && $root.USER.type === 'student'" class="loader">
    <div class="loader-msg">
      <h1><i class="fa fa-spinner fa-spin"></i> {{$root.lang.loading}} </h1>
    </div>
  </div>
  <h3 class="landing_title">{{$root.lang.answerthequestion}}</h3>
  <div class="col-md-2" ng-if="exam && exam.type == 'exam' && questionAnswer">
    <timer interval="1000" countdown="examTimeLeft" ng-if="examTimeLeft">
      <div class="progressTimer">{{mminutes}}:{{sseconds}}</div>
      <div class="progressTxt">{{$root.lang.minutes}}</div>
    </timer>
    <ul class="progressBar">
      <li ng-class="{
      examQuestionCurrent: $index == questionIndex, 
      examQuestionAnswered: checkAnsweredQuestion($index) && $index !== questionIndex
      }"
      ng-repeat="question in allQuestions | orderBy:'id'">
        <a href="" ng-click="jump({{$index}})">
        {{$index+1}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-10" ng-class="questionDirection" ng-if="exam && exam.type == 'exam'">
    <question-preview></question-preview>
  </div>
  <div class="col-md-12" ng-class="questionDirection" ng-if="exam && exam.type == 'practice'">
    <question-preview></question-preview>
  </div>
</content-header>
