<content-header>
  <h3 class="landing_title">{{course.name || pageTitle}}</h3>
  <!-- Nested node template -->
  <script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
      <a id="collapse" class="btn btn-success btn-xs"
         ng-if="node.children && node.children.length > 0"
         data-nodrag ng-click="toggle(this)">
         <span class="glyphicon" ng-class="{
           'glyphicon-chevron-right': collapsed,
           'glyphicon-chevron-down': !collapsed}"></span></a>
     {{node | elementFilter}}
      <button class="btn btn-success btn-sm pull-right flip"
              ng-click="dialogBox(node)">{{$root.lang.objective}}</button>
    </div>
    <ol ui-tree-nodes=""
        ng-model="node.children"
        ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.children"
          ui-tree-node
          ng-include="'nodes_renderer.html'"></li>
    </ol>
  </script>
 <div class="col-md-8">
   <div ui-tree data-drag-delay="100"
        data-drag-enabled="true"
        callbacks="treeOptions"
        ui-tree-dir id="tree-root">
     <ol ui-tree-nodes="" ng-model="data">
       <li ng-repeat="node in data"
           ui-tree-node
           ng-include="'nodes_renderer.html'"></li>
     </ol>
   </div>
 </div>
</content-header>
