<content-header>
<h3 class="landing_title">
  {{$root.lang.i18n(course, 'name')}}
  <a href="#/sme/course/{{courseid}}/element/create" id="create_element"
    class="btn btn-primary pull-right flip">
    {{$root.lang.createcourseelement}}
    <i class="fa fa-plus"></i>
  </a>

  <a href="#/sme/course/{{courseid}}/elements" id="visualization" 
     class="btn btn-primary pull-right flip">
    {{$root.lang.visualization}}
    <i class="fa fa-eye"></i>
  </a>
  <a href="#/sme/course/{{courseid}}/duplications"
     class="btn btn-primary pull-right flip" ng-disabled="!duplicationsCount">
    {{$root.lang.duplications}}
    <span ng-if="duplicationsCount"> ({{duplicationsCount}}) </span>
  </a>
</h3>
<div ng-repeat="element in elements | orderBy:'id' ">
  <link-item class="col-md-4" title="{{$root.lang.i18n(element, 'name')}}"
  description="{{$root.lang.i18n(element.course, 'name')}} - {{$root.lang.i18n(element.course.grade, 'name')}}"
  href="#/sme/course/{{courseid}}/element/{{element.id}}" ng-if="!element.is_deleted">
    <li>
      <button ng-click="remove(element)"
          class="btn btn-default btn-sm" tooltip="{{$root.lang.del}}" ng-if="!element.is_deleted">
          <i class="fa fa-times"></i>
      </button>
    </li>
  </link-item>
  <link-item class="col-md-4" title="{{$root.lang.i18n(element, 'name')}}"
  description="{{$root.lang.i18n(element.course, 'name')}} - {{$root.lang.i18n(element.course.grade, 'name')}}" ng-if="element.is_deleted">
    <li>
      <button ng-click="reactivate(element)"
          class="btn btn-default btn-sm" tooltip="{{$root.lang.undodelete}}" ng-if="element.is_deleted">
          <i class="fa fa-times"></i>
      </button>
    </li>
  </link-item>
</div>

</content-header>

