<content-header>
  <h3 class="landing_title">{{$root.lang.i18n(group, 'name')}} {{$root.lang.examlist}}
  </h3>
  <div class="col-md-12" ng-repeat="exam in exams | orderBy:'id'">
    <link-item title="{{$root.lang.i18n(exam, 'name')}}" 
      href="#/{{::TYPE}}/course/{{courseid}}/group/{{groupid}}/exams/{{exam.id}}">
    </link-item>
  </div>
</content-header>
