<content-header>
<h2>{{student.user.full_name}}</h2>
  <table class="table">
	<thead>
	  <tr>
	      <td>{{$root.lang.exam}}</td>
	      <td>{{$root.lang.examresult}}</td>
	    </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="examInstance in examInstances">
	      <td><a href="#/{{::TYPE}}/course/{{courseid}}/group/{{groupid}}/student/{{studentid}}/exam/{{examInstance.id}}/report">{{examInstance.exam.name}}</a></td>
	      <td>{{examInstance.degree}}</td>
	  </tr>
	</tbody>
  </table>
</content-header>