<content-header>
  <h3 class="landing_title">{{$root.lang.editgroup}}
  </h3>
  <form name="form" ng-submit="form.$valid && save()" novalidate>
    <input-name></input-name>
    <input-select-course></input-select-course>
    <input-submit is-loading="isLoading"></input-submit>
  </form>
</content-header>
