<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <h4>{{$root.lang.course}} : {{model.course.name}}</h4>
  <input-name></input-name>
  <input-select-course-element-parent></input-select-course-element-parent>
  <input-select-course-element-type></input-select-course-element-type>
  <input-submit is-loading="isLoading"></input-submit>
</form>
</content-header>
