<content-header>
<h3 class="landing_title"> {{$root.lang.i18n(course, 'name')}} - {{$root.lang.i18n(element, 'name')}}
  <a href="#/sme/course/{{courseid}}/element/{{elementid}}/objective/create"
    class="btn btn-primary pull-right flip" id="create_objective">
    {{$root.lang.create}} {{$root.lang.objective}}
    <i class="fa fa-plus"></i>
  </a>
  <a href="#/sme/course/{{courseid}}/element/{{elementid}}/update"
    class="btn btn-primary pull-right flip" id="update_element">
    {{$root.lang.update}} {{$root.lang.element}}
    <i class="fa fa-pencil-square-o"></i>
  </a>

</h3>
<div class="row elements" ng-if="subelements && subelements.length">
    <div class="col-md-12"><h4>{{$root.lang.subelements}}</h4></div>
    <link-item class="col-md-6" title="{{$root.lang.i18n(subelement, 'name')}}"
    href="#/sme/course/{{course.id}}/element/{{subelement.id}}"ng-repeat="subelement in subelements"
    ng-if="!subelement.is_deleted">
      <li>
        <button ng-click="remove(subelement)"
            class="btn btn-default btn-sm" tooltip="{{$root.lang.del}}" ng-if="!subelement.is_deleted">
            <i class="fa fa-times"></i>
        </button>
      </li>
    </link-item>
    <link-item class="col-md-6" title="{{$root.lang.i18n(subelement, 'name')}}"
    ng-if="subelement.is_deleted" ng-repeat="subelement in subelements">
      <li>
        <button ng-click="reactivate(subelement)"
            class="btn btn-default btn-sm" tooltip="{{$root.lang.undodelete}}" ng-if="subelement.is_deleted">
            <i class="fa fa-undo"></i>
        </button>
      </li>
    </link-item>
  </div>
<div class="row objectives" ng-if="objectives && objectives.length">
  <div class="col-md-12 title"><h4>{{$root.lang.objectives}}</h4></div>
  <link-item class="col-md-6" title="{{$root.lang.i18n(objective, 'title')}}"
  ng-repeat="objective in objectives"
  href="#/sme/course/{{course.id}}/element/{{element.id}}/objective/{{objective.id}}">
    <li>
      <button ng-click="remove_objective(objective)"
          class="btn btn-default btn-sm" tooltip="{{$root.lang.del}}" ng-if="!objective.is_deleted">
          <i class="fa fa-times"></i>
      </button>
    </li>
    <li>
      <button ng-click="reactivate_objective(objective)"
          class="btn btn-default btn-sm" tooltip="{{$root.lang.undodelete}}" ng-if="objective.is_deleted">
          <i class="fa fa-undo"></i>
      </button>
    </li>
    <li>
      <button ng-click="changeCourseElement(objective)"
          class="btn btn-default btn-sm" tooltip="{{$root.lang.changecourseelement}}">
          <i class="fa fa-edit"></i>
      </button>
    </li>
  </link-item>
</div>
<div class="empty-page" ng-if="(!subelements || !subelements.length) && 
  (!objectives || !objectives.length)">
  {{$root.lang.empty_element}}
</div>
</content-header>

