<content-header>
<h3 class="landing_title">{{pageTitle}}
  <a href="#/admin/author/create" class="btn btn-primary pull-right flip">
    <i class="fa fa-envelope"></i>
    {{$root.lang.invite}}
  </a>
  <button class="btn btn-success pull-right flip" ng-click="exportreport()">
  <i class="fa-pulse fa fa-spinner" ng-show='isLoading'></i>
    {{$root.lang.exportreport}}
  </button>
</h3>
<authors-high-chart model="questions"></authors-high-chart>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:entity.user.email" ng-if="entity.user.is_active">
  <link-item href="#/admin/author/{{::entity.id}}"
	  title="{{::entity.user.full_name}}"
	  description="{{::entity.user.email}} - {{::entity.creation_date | date:'d MMM yyyy'}}"
	  imgsrc="{{::model.avatar || 'images/default-user-icon-profile.png'}}"
	  >
  </link-item>
</div>
</content-header>

