<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a id="create-country" href="#/admin/country/create" class="btn btn-primary pull-right flip">
    <i class="fa fa-plus"></i>
    {{$root.lang.create}}
  </a>
</h3>
<link-item class="col-md-6" title="{{$root.lang.i18n(entity, 'name')}}"
href="#/admin/country/{{entity.id}}"
ng-repeat="entity in entities | orderBy:'id'">
  <li>
    <button ng-click="deactivate(entity)"
      class="btn btn-default btn-sm" id="deactivate-course" ng-if="!entity.disabled" tooltip="{{$root.lang.deactivateforstudent}}">
      <i class="fa fa-power-off"></i>
    </button>
    <button ng-click="activate(entity)"
      class="btn btn-default btn-sm" id="activate-course" ng-if="entity.disabled" tooltip="{{$root.lang.activateforstudent}}">
      <i class="fa fa-check"></i>
    </button>
  </li>
  <li>
    <button ng-click="remove(entity)"
      class="btn btn-default btn-sm" id="remove-course" ng-if="!entity.is_deleted" tooltip="{{$root.lang.del}}">
      <i class="fa fa-times"></i>
    </button>
  </li>
</link-item>
</content-header>
