<content-header>
  <h3 class="landing_title"> 
    {{pageTitle}}

    <a id="create-edusys" href="#/admin/help_pages/create"
       class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
       {{$root.lang.create}}
    </a>
  </h3>
  <div class="clear"></div>
  <link-item class="col-md-6" title="Authors Pages" href="#/admin/help_pages/author"
    imgsrc="images/authors.png"></link-item>
  <link-item class="col-md-6" title="Reviewers Pages" href="#/admin/help_pages/reviewer"
    imgsrc="images/reviewers.png"></link-item>
  <link-item class="col-md-6" title="SME Pages" href="#/admin/help_pages/sme"
    imgsrc="images/sme.png"></link-item>
  <link-item class="col-md-6" title="Student Pages" href="#/admin/help_pages/student"
    imgsrc="images/img04.png"></link-item>
</content-header>
