<content-header>
<h3 class="landing_title">{{pageTitle}}
  <a href="#/admin/sme/create" class="btn btn-primary pull-right flip">
    <i class="fa fa-envelope"></i>
    {{$root.lang.invite}}
  </a>
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:entity.user.email" ng-if="entity.user.is_active">
  <link-item href="#/admin/sme/{{::entity.id}}"
	  title="{{::entity.user.full_name}}"
	  description="{{::entity.user.full_name}}"
	  imgsrc="{{::entity.user.avatar || 'images/default-user-icon-profile.png'}}">
  </link-item>
</div>
</content-header>
