
<content-header>
  <h3 class="landing_title">
    {{pageTitle}}
    <a href="#/schooladmin/educationalsystems/{{systemid}}/grade/{{gradeid}}/class/add"
      class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
      {{$root.lang.addclass}}
    </a>
  </h3>
 
  <link-item class="col-md-4" title="{{entity.name}}"
    href="#/schooladmin/educationalsystems/{{systemid}}/grade/{{gradeid}}/class/{{entity.id}}"
    ng-repeat="entity in model.classes" description="{{entity.name}}">
    <button ng-click="remove(entity)"
      class="btn btn-default btn-sm btn-block remove-course" 
      id="remove-course-{{$index}}" 
      tooltip="{{$root.lang.del}}">
      <i class="fa fa-times"></i>
    </button>
  </link-item>
</content-header>
