<content-header>
  <h3 class="landing_title">{{$root.lang.courses}}
    <a id="create-course" href=""
      class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
      {{$root.lang.addcourse}} 
    </a>
  </h3>
<div class="col-md-4" ng-repeat="entity in entities">
  <school-course model="entity"></school-course>
</div>
</content-header>

