<content-header>
<h3 class="landing_title">{{pageTitle}}
  <a href="#/schooladmin/manager/add"
    class="btn btn-primary pull-right flip">
    <i class="fa fa-plus"></i>{{$root.lang.addmanaagertothelist}}
  </a>
</h3>
  <link-item class="col-md-4" title="{{manager.user.full_name}}"
    ng-repeat="manager in managers" description="{{manager.user.full_name}}">
  </link-item>
</div>
</content-header>
