<div class="container profile_container">
  <div class="col-md-3">
    <right-menu current="view"></right-menu>
  </div>
  <div class="col-md-9">
    <div class="edit_form">
      <profile></profile>
    </div>
  </div>
  <br class="clear"/>
</div>
<div class="push"></div>

