<content-header>
  <h3 class="landing_title">
    {{pageTitle}}
    <a href="#/schooladmin/profile/school/{{model.id}}" class="btn btn-primary pull-right flip" ng-if="!model.grades.length || model.grades.length == 0">
    	<i class="fa"></i>
    	{{$root.lang.updateSchoolInfo}}
  	</a>
  </h3>
  <link-item class="col-md-4" title="{{entity.name}}"
    href="#/schooladmin/educationalsystems/{{entity.id}}"
    ng-repeat="entity in model.systems" description="{{entity.name}}">
  </link-item>
</content-header>
