<content-header>
<h3 class="landing_title">{{pageTitle}}
    <a href="#/schooladmin/teacher/add"
      class="btn btn-primary pull-right flip">
      <i class="fa fa-plus"></i>{{$root.lang.addteachertothelist}}
    </a>
</h3>

  <link-item class="col-md-4" title="{{entity.user.full_name}}"
  	href="#/schooladmin/teacher/{{entity.id}}"
    ng-repeat="entity in entities" description="{{entity.user.email}}">
  </link-item>

</content-header>

