<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <input-name></input-name>
  <div class="form-group">
    <label>{{$root.lang.main_element}}</label>
    <input type="checkbox" class="form-control" name="main_element"
    id="main_element" ng-model="model.main_element">
  </div>
  <input-submit is-loading="isLoading"></input-submit>
</form>
</content-header>

