<div class="test_container container">
  <div class="row">
    <breadcrumbs crumbs="crumbs"></breadcrumbs>
    <h3 class="landing_title">{{pageTitle}}</h3>
    <div class="all_subjects">
      <div class="col-md-6 objective" ng-repeat="entity in entities">
        <objective-view model="entity" generate="generate(entity)"></objective-view>
      </div>
    </div>
  </div>
</div>


