<content-header>
<h3 class="landing_title"> {{pageTitle}} </h3>

<div ng-if="!model">
  {{$root.lang.loading}}
</div>

<div class="row" ng-if="model">
  <div class="col-md-6 col-xs-12"> <question-make-preview></question-make-preview> </div>
  <div class="col-md-6 col-xs-12"> <question-preview></question-preview> </div>
</div>

<div class="clear"></div>

</content-header>