<content-header>
<h3 class="landing_title">{{$root.lang.subjectreport}}</h3>
<div class="subsList content">
    <ul>
        <li ng-repeat="course in courses">
            <h4>{{$root.lang.i18n(course, 'name')}}/{{course.grade}}</h4>
            <div class="clear"></div>
            <div class="groups">
              <h5 ng-repeat="group in course.groups">
                <a href="#/privateteacher/course/exam/reports/group">
                  {{$root.lang.i18n(group, 'name')}}</a> - <small>{{$root.lang.averagedegree}}: {{group.degree}}%</small></h5>
            </div>
            <hr>
        </li>
    </ul>
</div>
</content-header>
