<content-header>
  <h3 class="landing_title">{{$root.lang.reviewExamQuestions}}</h3>
  <form>
    <div class="practice_form">
      <span class="number">٧</span>
      <br class="clear"/>
      <div class="subsList content" style="height:auto;">
        <ul>
          <li ng-repeat="q in model.questions track by $index">
            <h4 id="{{q.question.id}}" class="pull-left flip">
              {{q.question.description}}
            </h4>
            <a class="btn btn-success btn-lg pull-right flip" ng-click="checkquestions(q, $index)">{{$root.lang.checkquestion}}</a>

            <a class="btn btn-warning btn-lg pull-right flip" ng-click="reject(q, $index)">{{$root.lang.rejectquestion}}</a>

            <div class="clear"></div>
          </li>
        </ul>
      </div>
      <br class="clear">
    </div>
    <hr><br>
    <div class="text-center">
      <a class="btn btn-success btn-lg" ng-click="verifyExam()"> {{$root.lang.sendExam}}</a>
    </div>
  </form>
</content-header>



