<content-header>
	<h3 class="landing_title"> {{pageTitle}} </h3>
	<div class="col-xs-12 small-update-card-body">
	  <task-list-item model="task" question-mode="yes"></task-list-item>
	</div>
	<div class="clear"></div>
	<div ng-if="!task">
	  {{$root.lang.loading}}
	</div>
	<div class="row createTask" ng-if="task">
	  <div id="question-make-container" class="col-md-6 col-xs-12"> <question-make-preview></question-make-preview> </div>
	  <div id="question-preivew-container" class="col-md-6 col-xs-12"> <question-preview></question-preview> </div>
	</div>
	<div class="spacing-fix s-1x"></div>
	<button class="btn btn-success btn-block" ng-disabled="isDisabled" ng-click="save()">
	  {{$root.lang.saveandcontinue}}
	</button>

</content-header>
