<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <translatable model="name"><input-name></input-name></translatable>

  <div id="startdate" class="form-group">
    <label>{{$root.lang.start_date}}</label>
    <p class="input-group col-md-6">
    <input type="text" class="form-control"
    datepicker-popup="shortDate" ng-model="model.start_date"
    max-date="model.end_date" datepicker-options="dateOptions"
    ng-required="true" close-text="Done" is-open="$parent.startDateOpened" disabled />
    <span class="input-group-btn">
      <button id="btn-startdate" type="button" class="btn btn-default"
        ng-click="openStartDate($event)">
        <i class="fa fa-calendar"></i></button>
    </span>
    </p>
  </div>

  <div id="enddate" class="form-group">
    <label>{{$root.lang.end_date}}</label>
    <p class="input-group col-md-6">
    <input type="text" class="form-control"
    datepicker-popup="shortDate" ng-model="model.end_date"
    min-date="model.start_date" datepicker-options="dateOptions"
    ng-required="true" close-text="Done" is-open="$parent.endDateOpened" disabled />
    <span class="input-group-btn">
      <button id="btn-enddate" type="button" class="btn btn-default"
        ng-click="openEndDate($event)">
        <i class="fa fa-calendar"></i></button>
    </span>
    </p>
  </div>
  <input-submit id="term-save" is-loading="isLoading"></input-submit>
</form>
</content-header>
