<div class="form-group end-{{index}}" 
ng-class="{'has-error': !answer_validate}">
  <custom-editor 
    attachment-relation="question" 
    question-model="model" 
    editor-id="choice{{index}}"
    name="composit-{{name}}-{{index}}" 
    id="composit-{{name}}-{{index}}">
  </custom-editor>
  <label ng-if="!model.description"
  class="control-label">{{$root.lang.error_required_field}}</label> 
</div><!--//End-form-group-->

<button type="button" class="btn btn-danger btn-xs btn-block"
  ng-click="remove({{index}})">
  <i class="fa fa-times"></i> {{$root.lang.remove}}
</button>