<div ng-if="model.question.choices" class="row">
  <div class="col-xs-12" ng-if="containsText">
  <button type="button" 
          class="close" 
          data-dismiss="alert">
    <span aria-hidden="true">&times;</span></button>
    <div class="alert alert-danger">{{$root.lang.error_add}}</div>
  </div>
  <h5 class="col-xs-12">{{$root.lang.choices}}
    <div class="pull-right flip" style="margin-top: 10px;">
      <button class="btn btn-success btn-xs show-choices"
        id="showChoices" ng-click="choicesHidden=false" ng-show="choicesHidden">
        <i class="fa fa-eye"></i>
        <span class="hidden-xs"> {{$root.lang.show}} </span>
      </button>

      <button class="btn btn-danger btn-xs hide-choices"
        id="hideChoices" ng-click="choicesHidden=true" ng-hide="choicesHidden">
        <i class="fa fa-eye-slash"></i>
        <span class="hidden-xs"> {{$root.lang.hide}} </span>
      </button>

      <button class="btn btn-primary btn-xs add_more_options"
        id="addMoreChoices" ng-click="addChoice()">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs"> {{$root.lang.addchoice}} </span>
      </button>
    </div>
  </h5>
  <div class="col-xs-12" ng-hide="choicesHidden">
    <div ng-repeat="choice in model.question.choices">
      <create-answer model="choice" index="choice{{$index}}" name="question-choice-{{$index}}"
      remove="removeChoice($index)" add="addChoice()">
      </create-answer>
    </div>
  </div>
</div>

<div ng-if="model.question.ends" class="row">
  <h5 class="col-xs-12">{{$root.lang.ends}}
    <div class="pull-right flip">
      <button class="btn btn-success btn-xs show-ends" id="showEnds"
        ng-click="endsHidden=false" ng-show="endsHidden">
        <i class="fa fa-eye"></i> 
        <span class="hidden-xs"> {{$root.lang.show}} </span>
      </button>

      <button class="btn btn-danger btn-xs hide-ends" id="hideEnds"
        ng-click="endsHidden=true" ng-hide="endsHidden">
        <i class="fa fa-eye-slash"></i>
        <span class="hidden-xs"> {{$root.lang.hide}} </span>
      </button>

      <button class="btn btn-primary btn-xs add_more_options"
        id="addMoreEnds" ng-click="addEnd()">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs"> {{$root.lang.addend}} </span>
      </button>
    </div>
  </h5>
  <div class="col-xs-12 question_ends" ng-hide="endsHidden">
    <div class="form-group" ng-repeat="end in model.question.ends">
      <create-answer model="end" 
      validate="containsText" 
      index="ends{{$index}}" 
      add="addEnd()"
      model="end"
      remove="removeEnd($index)" 
      name="question-end"></create-answer>
    </div>
  </div>
</div>
