<div class="connect_content">
  <div class="connect_answer row">
    <span class="image"><img title="img" alt="img" src="images/arr2.png"></span>
    <div class="question_body col-md-12">
      <ul class="answers choices col-md-6">
        <li class="choice" id="choice-{{$index}}"
        ng-repeat="choice in model.question.choices">
        <view-answer model="choice"></view-answer>
        </li>
      </ul>
      <ul class="answers ends col-md-6">
        <li id="end-{{$index}}" class="end"
        ng-repeat="end in model.question.ends">
        <view-answer model="end"></view-answer>
        </li>
      </ul>
    </div>
  </div>
</div>
