<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.css">
<link rel="stylesheet" href="/styles/style.css">
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/scripts/lib/jquery-ui.min.js"></script>
<script src="/scripts/lib/custom.js"></script>

<div class="choose_content">
    <h3>رتب الجمل الاتيه</h3>
    <br class="clear"/>
    <ul class="choose_answers">
        <li class="draggble2" id="answer-1">١</li>
        <li class="draggble2" id="answer-2">٢</li>
        <li class="draggble2" id="answer-3">٣</li>
    </ul>
    <br class="clear"/>
    <div class="choose_quest_content">
        <div class="choose_quest">
            <span class="droppable" id="droppable-1"></span>
            <h4>تنحى مبارك</h4>
            <br class="clear"/>
        </div>
        <div class="choose_quest">
            <span class="droppable" id="droppable-2"></span>
            <h4> قيام ثوره يناير</h4>
            <br class="clear"/>
        </div>
        <div class="choose_quest">
            <span class="droppable" id="droppable-3"></span>
            <h4> المستشار عدلى منصور تولى الحكم</h4>
            <br class="clear"/>
        </div>
        <br class="clear"/>
    </div>
</div>

<script>
// Dragging/Dropping
$(function() {
    $( ".draggble2" ).draggable({
        cursor: "move",
        snap: ".droppable",
        snapMode: "inner",
        refreshPositions: false,
        scroll: false,
        containment: "window",
        drag: function() {
            $(this).addClass("dragging");
            $(this).css("z-index", "99999999");
            // $(this).addClass("animate-draggable");
        },
        stop: function() {
            var draggingItem = $(this);
            $(this).removeClass("dragging");
            $(this).css("z-index", "1");
            // $(this).removeClass("animate-draggable");
            $(this).onPositionChanged(function(){
                if(draggingItem.css("left") === "0px") {
                    draggingItem.removeClass (function (index, css) {
                        return (css.match (/(^|\s)droppedIn-\S+/g) || []).join(' ');
                    });
                }
            });
        },
        revert : function(event, ui) {
            $(this).data("ui-draggable").originalPosition = {
                top : 0,
                left : 0
            };
            return !event;
        }
    });

    customDrop(1);
    customDrop(2);
    customDrop(3);
});
</script>
