<div class="true_false_content">
  <div class="true_false_answer">
    <span class="image">
      <img title="img" alt="img" src="images/arr2.png"/>
    </span>
    <a class="true" ng-class="{'clicked': model.user.answer == 'true'}"
      ng-click="model.user.answer = 'true'"></a>
    <a class="false" ng-class="{'clicked': model.user.answer == 'false'}"
      ng-click="model.user.answer = 'false'"></a>
    <br class="clear"/>
  </div>
  <br class="clear"/>
</div>
