<div class="dnd_content">
  <ul class="choices">
    <li ng-drag="true" 
        ng-drag-data="choice" 
        class="choice"
        id="choice-{{$index}}"
        ng-center-anchor="true"
        ng-drag-success="onDragComplete($data,$event)" 
        ng-repeat="choice in model.question.choices">
    <view-answer model="choice"></view-answer>
    </li>
  </ul>
  <div ng-class="{'buckets': model.question.ends.length > 0}">
    <div class="bucket" id="bucket-{{$index}}" 
      ng-drop="true" 
      ng-repeat="end in model.question.ends"
      ng-drop-success="onDropComplete($data,$event, end)">
      <div class="content">
        <ul class="choices" 
        ng-show="model.user.answer[end.text].length">
        <li class="choice" id="choice-{{$index}}"
        ng-repeat="choice in model.user.answer[end.text]">
        <span ng-drag="true" ng-drag-data="choice" 
          ng-drag-success="onDragComplete($data,$event, end)">
          <view-answer model="choice" > </view-answer>
        </span>
        <button ng-click="onRemove(choice, end)"
          class="btn btn-danger removeChoice"> <i class="fa fa-times"></i>
        </button>
        </li>
        </ul>
      </div>
      <span class="title">
        <view-answer model="end"></view-answer>
      </span>
    </div>
  </div>
</div>
