<div class="multi_choice_content">
  <div class="multi_choice_answer">
    <span class="image">
      <img title="img" alt="img" src="images/arr2.png">
    </span>
    <ul class="answers">
      <li ng-drag="true" ng-drag-data="choice" ng-center-anchor="true"
          ng-drag-success="onDragComplete($data,$event)"
          id="useranswer-{{$index}}" name="useranswer-{{$index}}"
          ng-repeat="choice in model.question.choices">
          <view-answer model="choice"></view-answer>
      </li>
    </ul>
  </div>
  <br class="clear"/>
</div>
