<div class="multi_choise_content">
  <!-- <h3>{{$root.lang.type_mcq}}</h3> -->
  <div class="multi_choise_answer">
    <span class="image"><img title="img" alt="img" src="images/arr2.png"></span>
    <div class="form-group" ng-repeat="choice in model.question.choices">
      <div class="checkbox">
        <label for="useranswer-{{$index}}">
          <input type="checkbox" id="useranswer-{{$index}}"
          name="useranswer" ng-model="model.user.answer[$index]">
          <view-answer model="choice"></view-answer>
        </label>
      </div>
    </div>
  </div>
</div>

