<div class="multi_choice_content">
  <div class="multi_choice_answer">
    <span class="image"><img title="img" alt="img" src="images/arr2.png"></span>
    <div class="form-group" ng-repeat="choice in model.question.choices">
      <div class="radio">
        <label for="useranswer-{{$index}}">
          <input type="radio" id="useranswer-{{$index}}" name="useranswer"
          value="{{$index}}" ng-model="model.user.answer">
          <view-answer model="choice"></view-answer>
        </label>
      </div>
    </div>
  </div>
</div>
