<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.css">
<link rel="stylesheet" href="/styles/style.css">
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/scripts/lib/jquery-ui.min.js"></script>
<script src="/scripts/lib/custom.js"></script>

<div class="wassal_content">
    <h3>وصّل بين الطرفين</h3>
    <br class="clear" />
    <ul class="col-md-6 first_col">
        <li class="draggble" id="asnwer-1">لون</li>
        <li class="draggble" id="asnwer-2">حيوان</li>
        <li class="draggble" id="asnwer-3">جماد</li>
        <li class="draggble" id="asnwer-4">بلد</li>
        <li class="draggble" id="asnwer-5">طائر</li>
    </ul>
    <ul class="col-md-6 thired_col">
        <li class="droppable" id="droppable-1">فلزات</li>
        <li class="droppable" id="droppable-2">لافلزات</li>
    </ul>
</div>

<script>
// Dragging/Dropping
$(function() {
    $(".draggble").draggable({
        cursorAt: {
            left: 5
        },
        helper: "clone",
        snap: ".droppable",
        snapMode: "inner",
        scroll: false,
        start: function(event, ui) {
            var x = $(this).offset().left;
            var y = $(this).offset().top;
            var lineId = "line-" + $(this).attr("id");
            var lineId = "line-" + $(this).attr("id");
            $("#" + lineId).remove();
            if (!$("#" + lineId).length) {
                createLine(x, y, x, y, lineId);
            }
        },
        drag: function(event) {
            // $(this).addClass("dragging");
            var x1 = $(this).offset().left;
            var y1 = $(this).offset().top;
            var x2 = event.pageX;
            var y2 = event.pageY;
            var lineId = "line-" + $(this).attr("id");
            modifyLine(x1, y1, x2, y2, lineId);
        },
        stop: function() {
            var draggingItem = $(this);
            // console.log(draggingItem.attr("id"));
            console.log(draggingItem.attr("id"));
            if (!$("#line-" + draggingItem.attr("id")).hasClass("lineIn")) {
                $("#line-" + draggingItem.attr("id")).remove();
                console.log("remove!");
            }
        },
        revert: function(event, ui) {
            // $(this).data("uiDraggable").originalPosition = {
            //     top : 0,
            //     left : 0
            // };
            return !event;
        }
    });

    linkDropMulti(1);
    linkDropMulti(2);
});
</script>
