<span ng-if="model.type === 'text'" ng-init="limit=75">
  <span tooltip="{{model.text}}" ng-if="model.text.length > limit">
    {{model.text | charlimit:limit}}</span>
  <span ng-if="model.text.length <= limit">
    {{model.text}}</span>
</span>
<span ng-if="model.type === 'image'">
  <img ng-src="{{model.image}}"/>
</span>
<span ng-if="model.type === 'equation'">
  <img ng-src="{{model.equation}}"/>
</span>
<span ng-if="model.type === 'composite'">
  <span marked="model.description"></span>
</span>
