<content-header>
	<h3 class="landing_title">{{pageTitle}}
	  <a id="create-coupons" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/coupons/create" class="btn btn-primary pull-right flip"
	    style="margin-left:5px;">
	    <i class="fa fa-plus"></i>
	    {{$root.lang.create}}
	  </a>

	</h3>
	<table class="custom-table">
		<thead>
			<tr>
				<td>{{$root.lang.name}}</td>
				<td>{{$root.lang.creationDate}}</td>
				<td>{{$root.lang.expirationDate}}</td>
				<td>{{$root.lang.couponsNumber}}</td>
				<td>{{$root.lang.availableCoupons}}</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr  ng-repeat="bulk in bulks">
				<td>{{bulk.title}}</td>
				<td>{{bulk.creation_date | date:"dd/MM/yyyy"}}</td>
				<td>{{bulk.plan.term.end_date | date:"dd/MM/yyyy"}}</td>
				<td>{{bulk.count}}</td>
				<td>{{bulk.available_coupons}}</td>
				<td>
					<a href ng-click="download({{bulk.id}})" class="btn btn-success"><i class="fa fa-download"></i> {{$root.lang.download}}</a>
					<a href ng-click="remove(bulk)" class="btn btn-danger"><i class="fa fa-times"></i> {{$root.lang.delete}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</content-header>
