<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a id="create-plan"
     href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/plan/create"
     class="btn btn-primary pull-right flip">
    <i class="fa fa-plus"></i> {{$root.lang.create}} </a>
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'id'">
  <link-item
    href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/plan/update/{{entity.id}}"
    title="{{$root.lang.i18n(entity, 'name')}}" entity="entity">
    <a ng-if="!entity.name"
      href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/plan/update/{{entity.id}}"
      ><h3 class="title marginReset-0">{{$root.lang.noname}}</h3></a>
  </link-item>
</div>
</content-header>
