<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a id="create-term" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/term/create" class="btn btn-primary pull-right flip">
    <i class="fa fa-plus"></i> {{$root.lang.create}} </a>
  <a id="create-plan" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/plan/create" class="btn btn-primary pull-right flip">
    <i class="fa fa-plus"></i> {{$root.lang.createplan}} </a>
</h3>


<link-item class="col-md-6" title="{{entity.name}}"
href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/term/update/{{entity.id}}"
entity="entity" ng-repeat="entity in entities | orderBy:'id'"></link-item>

</content-header>
