<content-header>
<h3 class="landing_title">
  {{pageTitle}}

</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'name'">
  <link-item
    href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/plan/update/{{entity.plan.id}}"
    title="{{::entity.plan.name}}"
    description="{{::entity.student.user.email}}"
  >
    <div class="row">
      <small class="description label label-default">
        {{$root.lang.created_at}}: {{::entity.plan.creation_date | date:'MMMM dd, yyyy, h:mm a'}}
      </small>
      <small class="description label label-default col-md-offset-1">
        {{entity.approved ? $root.lang.approved : $root.lang.not + ' ' + $root.lang.approved}}
      </small>
    </div>
  </link-item>
</div>
</content-header>
