<content-header>
  <h3 class="landing_title">{{$root.lang.i18n(classObj, 'name')}} {{$root.lang.examlist}}
  </h3>
  <div class="col-md-6" ng-repeat="exam in exams | orderBy:'id'">
    <link-item title="{{$root.lang.i18n(exam, 'name')}}" description="creation date: {{exam.creation_date}}"
      href="#/{{::TYPE}}/course/{{courseid}}/class/{{classid}}/exams/{{exam.id}}">
    </link-item>
  </div>
</content-header>