<content-header>
<h3 class="landing_title">{{pageTitle}}
    <a class="btn btn-success pull-right flip" 
       style="margin-left:5px;" href="#/schoolteacher/course/{{courseid}}/class/{{classid}}/exams">
      <i class="fa"></i>
      {{$root.lang.examlist}}
    </a>
</h3>

     <!-- <course-classes-list></course-classes-list> -->
  <link-item class="col-md-6" title="{{$root.lang.i18n(student.user, 'full_name')}}"
	href="#/schoolteacher/course/{{courseid}}/class/{{classid}}/student/{{student.id}}"
	ng-repeat="student in students | orderBy:'id'" description="{{student.user.email}}">

  </link-item>

</content-header>
