<content-header>
  <h3 class="landing_title">{{$root.lang.reviewQuestion}}</h3>
    <div class="practice_form">
      <span class="number">٧</span>{{$root.lang.review}}
      <br class="clear"/>
      <div class="subsList content" style="height:auto;">
        <ul>
          <li ng-repeat="q in model.reviews track by $index">
            <h4 id="{{q.id}}" class="pull-left flip">
              {{$root.lang.versionno}} {{q.version_no}}
            </h4>
            <a class="btn btn-success btn-lg pull-right flip" ng-click="view_question($index)">{{$root.lang.checkquestion}}</a>
            <div class="clear"></div>
          </li>
        </ul>
      </div>
      <br class="clear">
    </div>
</content-header>



