<content-header>
<h3 class="landing_title"> {{pageTitle}} </h3>
<div class="col-xs-12">
  <task-list-item model="task" question-mode="yes"></task-list-item>
</div>

<div class="clear"></div>

<div ng-if="!model">
  {{$root.lang.loading}}
</div>

<div class="row" ng-if="model">
  <div id="question-make-container" class="col-md-6 col-xs-12"> <question-make-preview></question-make-preview> </div>
  <div id="question-preivew-container" class="col-md-6 col-xs-12"> <question-preview></question-preview> </div>
</div>

<div class="clear"></div>


<div class="col-md-12 text-center">
    <button class="btn btn-success" ng-click="save()">{{$root.lang.save}}</button>
    <button class="btn btn-success" ng-click="cancel()">{{$root.lang.cancel}}</button>
    
</div>


</content-header>
