<content-header>
  <h3 class="landing_title">{{$root.lang.i18n(exam, 'name')}}

  </h3>
  <table class="table">
	<thead>
	  <tr>
	      <td>{{$root.lang.studentname}}</td>
	      <td>{{$root.lang.degree}}</td>
	    </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="student in students">
	      <td>{{student.user.full_name}}</td>
	      <td ng-if="student.degree != null">{{student.degree}}</td>
	      <td ng-if="student.degree == null">{{$root.lang.examnottaken}}</td>
	  </tr>
	</tbody>
  </table>
</content-header>
