<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
  <html class="no-js" ng-app="elproffApp" dir="{{$root.LANG_DIRECTION}}">
    <head>
      <meta charset="utf-8">
      <title>ElProff - {{pageTitle}}</title>
      <meta name="description" content="Elproff Project">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css(app/) styles/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
      <link rel="stylesheet" href="bower_components/morrisjs/morris.css" />
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
      <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
      <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
      <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
      <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />
      <!-- endbower -->
      <link rel="stylesheet" href="bower_components/bootstrap-markdown/css/bootstrap-markdown.min.css"/>
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:css(.tmp) styles/main.css -->
      <!-- endbuild -->
      <link rel="stylesheet" href="bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.css" ng-if="$root.LANG_DIRECTION === 'rtl'"/>
      <link rel="stylesheet" href="styles/style.css">
      <link rel="stylesheet" href="styles/style-rtl.css" ng-if="$root.LANG_DIRECTION === 'rtl'">
      <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '469021719915719']);
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', 'PixelInitialized', {}]);
      </script>
      <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=469021719915719&amp;ev=PixelInitialized" /></noscript>
    </head>
    <body>
      <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <!--
      IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
      For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
      -->
      <!--[if lt IE 9]>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
      <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
      </script>
      <![endif]-->

      <!-- Add your site or application content here -->
      <navheader></navheader>
      <div ng-view=""></div>
      <footerdir></footerdir>
      <!-- wrapper -->

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62022708-1');
        ga('send', 'pageview');
      </script>

      <!-- build:js(.) scripts/oldieshim.js -->
      <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.js"></script>
      <![endif]-->
      <!-- endbuild -->

      <script src='https://www.google.com/recaptcha/api.js' async></script>
      <!-- build:js(app/) scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/restangular/dist/restangular.js"></script>
      <script src="bower_components/d3/d3.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/angular-ui-select/dist/select.js"></script>
      <script src="bower_components/ngDraggable/ngDraggable.js"></script>
      <script src="bower_components/angular-re-captcha/angular-re-captcha.js"></script>
      <script src="bower_components/angular-messages/angular-messages.js"></script>
      <script src="bower_components/raphael/raphael.js"></script>
      <script src="bower_components/mocha/mocha.js"></script>
      <script src="bower_components/morrisjs/morris.js"></script>
      <script src="bower_components/jquery-ui/jquery-ui.js"></script>
      <script src="bower_components/jquery-flot/jquery.flot.js"></script>
      <script src="bower_components/jsPlumb/dist/js/dom.jsPlumb-1.7.8.js"></script>
      <script src="bower_components/angular-redactor/angular-redactor.js"></script>
      <script src="bower_components/marked/lib/marked.js"></script>
      <script src="bower_components/angular-marked/angular-marked.js"></script>
      <script src="bower_components/bootstrap-markdown/js/bootstrap-markdown.js"></script>
      <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
      <script src="bower_components/jquery.easy-pie-chart/src/renderer/canvas.js"></script>
      <script src="bower_components/jquery.easy-pie-chart/src/easypiechart.js"></script>
      <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
      <script src="bower_components/ngEnter/dist/ngEnter.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-moment/angular-moment.js"></script>
      <script src="bower_components/humanize-duration/humanize-duration.js"></script>
      <script src="bower_components/jquery-mousewheel/jquery.mousewheel.js"></script>
      <script src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
      <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
      <script src="bower_components/lodash-math/lodash.math.js"></script>
      <script src="bower_components/momentjs/moment.js"></script>
      <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
      <script src="bower_components/angular-prompt/dist/angular-prompt.js"></script>
      <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
      <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
      <script src="bower_components/highstock-release/highstock.js"></script>
      <script src="bower_components/highstock-release/highcharts-more.js"></script>
      <script src="bower_components/highstock-release/modules/exporting.js"></script>
      <script src="bower_components/angularjs-socialshare/dist/angular-socialshare.min.js"></script>
      <script src="bower_components/sticky-kit/jquery.sticky-kit.js"></script>
      <script src="bower_components/sockjs-client/dist/sockjs.js"></script>
      <script src="bower_components/angular-sockjs/socket.js"></script>
      <script src="bower_components/remarkable-bootstrap-notify/bootstrap-notify.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/lib/jquery.drawDonughnutChart.js"></script>
      <script src="scripts/lib/gauge.min.js"></script>
      <script src="scripts/i18n/english.js"></script>
      <script src="scripts/i18n/arabic.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/admin.js"></script>
      <script src="scripts/controllers/admin/author.js"></script>
      <script src="scripts/controllers/admin/country.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/course.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/course/view.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/course/prize/create.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/course/prize/update.js"></script>
      <script src="scripts/controllers/admin/profile.js"></script>
      <script src="scripts/controllers/admin/profile/changepassword.js"></script>
      <script src="scripts/controllers/admin/profile/edit.js"></script>
      <script src="scripts/controllers/admin/reviewer.js"></script>
      <script src="scripts/controllers/admin/sme.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription.js"></script>
      <script src="scripts/controllers/author.js"></script>
      <script src="scripts/controllers/forgotpassword.js"></script>
      <script src="scripts/controllers/login.js"></script>
      <script src="scripts/controllers/main.js"></script>
      <script src="scripts/controllers/parent.js"></script>
      <script src="scripts/controllers/parent/payment.js"></script>
      <script src="scripts/controllers/parent/son.js"></script>
      <script src="scripts/controllers/parent/son/course.js"></script>
      <script src="scripts/controllers/register.js"></script>
      <script src="scripts/controllers/register/thankyou.js"></script>
      <script src="scripts/controllers/reviewer.js"></script>
      <script src="scripts/controllers/sme.js"></script>
      <script src="scripts/controllers/student.js"></script>
      <script src="scripts/controllers/facebooklogin.js"></script>
      <script src="scripts/controllers/student/course.js"></script>
      <script src="scripts/controllers/student/course/exam/generate.js"></script>
      <script src="scripts/controllers/student/course/exam/difficulty.js"></script>
      <script src="scripts/controllers/student/course/exam/privateteachersuggested.js"></script>
      <script src="scripts/controllers/student/course/exam/question.js"></script>
      <script src="scripts/controllers/student/course/exam/report.js"></script>
      <script src="scripts/controllers/student/course/exam/result.js"></script>
      <script src="scripts/controllers/student/course/exam/schoolteachersuggested.js"></script>
      <script src="scripts/controllers/student/course/exam/suggested.js"></script>
      <script src="scripts/controllers/student/practice.js"></script>
      <script src="scripts/controllers/student/course/practice.js"></script>
      <script src="scripts/controllers/student/course/practice/generate.js"></script>
      <script src="scripts/controllers/student/help.js"></script>
      <script src="scripts/controllers/student/notifications.js"></script>
      <script src="scripts/controllers/student/parent.js"></script>
      <script src="scripts/controllers/student/private_teacher/exams.js"></script>
      <script src="scripts/controllers/student/private_teacher/practices.js"></script>
      <script src="scripts/controllers/student/profile.js"></script>
      <script src="scripts/controllers/student/profile/addparent.js"></script>
      <script src="scripts/controllers/student/profile/changepassword.js"></script>
      <script src="scripts/controllers/student/profile/edit.js"></script>
      <script src="scripts/controllers/student/school_teacher/exams.js"></script>
      <script src="scripts/controllers/student/school_teacher/practices.js"></script>
      <script src="scripts/controllers/student/system/exams.js"></script>
      <script src="scripts/controllers/student/system/practices.js"></script>
      <script src="scripts/directives/breadcrumbs.js"></script>
      <script src="scripts/directives/course.js"></script>
      <script src="scripts/directives/footer.js"></script>
      <script src="scripts/directives/nav.js"></script>
      <script src="scripts/directives/student/exam/suggested.js"></script>
      <script src="scripts/services/common.js"></script>
      <script src="scripts/services/course.js"></script>
      <script src="scripts/services/notifications.js"></script>
      <script src="scripts/services/subscription.js"></script>
      <script src="scripts/services/user.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/course/create.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/course/update.js"></script>
      <script src="scripts/services/lang.js"></script>
      <script src="scripts/services/grade.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/create.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/update.js"></script>
      <script src="scripts/services/educationalsystem.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/create.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/update.js"></script>
      <script src="scripts/controllers/admin/country/update.js"></script>
      <script src="scripts/controllers/admin/country/create.js"></script>
      <script src="scripts/services/country.js"></script>
      <script src="scripts/directives/filemodel.js"></script>
      <script src="scripts/services/prize.js"></script>
      <!-- <script src="scripts/controllers/admin/prize/create.js"></script>
      <script src="scripts/controllers/admin/prize/update.js"></script> -->
      <script src="scripts/services/subscriptionplan.js"></script>
      <script src="scripts/services/subscriptionterm.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/plan.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/plan/create.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/plan/update.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/term/update.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/term/create.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/term.js"></script>
      <script src="scripts/controllers/admin/element/type.js"></script>
      <script src="scripts/controllers/admin/element/type/create.js"></script>
      <script src="scripts/controllers/admin/element/type/update.js"></script>
      <script src="scripts/services/student.js"></script>
      <script src="scripts/services/courseelement.js"></script>
      <script src="scripts/services/courseelementtype.js"></script>
      <script src="scripts/controllers/admin/help.js"></script>
      <script src="scripts/controllers/admin/notifications.js"></script>
      <script src="scripts/controllers/sme/course.js"></script>
      <script src="scripts/controllers/sme/author.js"></script>
      <script src="scripts/controllers/sme/reviewer.js"></script>
      <script src="scripts/controllers/sme/notifications.js"></script>
      <script src="scripts/controllers/sme/help.js"></script>
      <script src="scripts/controllers/parent/help.js"></script>
      <script src="scripts/controllers/author/help.js"></script>
      <script src="scripts/controllers/reviewer/help.js"></script>
      <script src="scripts/controllers/schoolteacher/help.js"></script>
      <script src="scripts/controllers/privateteacher/help.js"></script>
      <script src="scripts/controllers/schooladmin/help.js"></script>
      <script src="scripts/controllers/sme/course/element/create.js"></script>
      <script src="scripts/controllers/sme/course/element/update.js"></script>
      <script src="scripts/services/task.js"></script>
      <script src="scripts/services/sme.js"></script>
      <script src="scripts/services/author.js"></script>
      <script src="scripts/services/reviewer.js"></script>
      <script src="scripts/controllers/sme/course/element/objective/create.js"></script>
      <script src="scripts/services/objective.js"></script>
      <script src="scripts/services/questionsbulk.js"></script>
      <script src="scripts/controllers/sme/course/element/objective/view.js"></script>
      <script src="scripts/services/questiontype.js"></script>
      <script src="scripts/services/learningoutcome.js"></script>
      <script src="scripts/services/difficulty.js"></script>
      <script src="scripts/directives/questionsbulk.js"></script>
      <script src="scripts/directives/tasklistitem.js"></script>
      <script src="scripts/directives/kv.js"></script>
      <script src="scripts/controllers/author/course/tasks.js"></script>
      <script src="scripts/controllers/author/course.js"></script>
      <script src="scripts/controllers/author/course/task/question.js"></script>
      <script src="scripts/controllers/author/profile.js"></script>
      <script src="scripts/controllers/author/course/task/create.js"></script>
      <script src="scripts/controllers/author/course/task/question/create.js"></script>
      <script src="scripts/controllers/admin/sme/view.js"></script>
      <script src="scripts/controllers/admin/author/view.js"></script>
      <script src="scripts/controllers/admin/reviewer/view.js"></script>
      <script src="scripts/directives/staffmember.js"></script>
      <script src="scripts/services/question.js"></script>
      <script src="scripts/directives/questioninfo.js"></script>
      <script src="scripts/directives/questions/taketruefalse.js"></script>
      <script src="scripts/directives/questions/takedragdrop.js"></script>
      <script src="scripts/directives/questionmakeheader.js"></script>
      <script src="scripts/directives/questionmakefooter.js"></script>
      <script src="scripts/directives/questions/takemcq.js"></script>
      <script src="scripts/directives/questions/takemcqmulti.js"></script>
      <script src="scripts/controllers/schooladmin.js"></script>
      <script src="scripts/controllers/schoolteacher.js"></script>
      <script src="scripts/controllers/privateteacher.js"></script>
      <script src="scripts/controllers/privateteacher/course/group/create.js"></script>
      <script src="scripts/controllers/privateteacher/course/group/update.js"></script>
      <script src="scripts/controllers/schooladmin/course.js"></script>
      <script src="scripts/controllers/schooladmin/teacher.js"></script>
      <script src="scripts/controllers/schooladmin/manager.js"></script>
      <script src="scripts/controllers/schooladmin/student.js"></script>
      <script src="scripts/services/parent.js"></script>
      <script src="scripts/controllers/parent/add.js"></script>
      <script src="scripts/directives/contentheader.js"></script>
      <script src="scripts/services/schoolteacher.js"></script>
      <script src="scripts/services/manager.js"></script>
      <script src="scripts/controllers/schooladmin/teacher/add.js"></script>
      <script src="scripts/controllers/schooladmin/manager/add.js"></script>
      <script src="scripts/controllers/schooladmin/course/add.js"></script>
      <script src="scripts/services/httpcache.js"></script>
      <script src="scripts/directives/schoolcourse.js"></script>
      <script src="scripts/services/classes.js"></script>
      <script src="scripts/controllers/schooladmin/profile.js"></script>
      <script src="scripts/controllers/schooladmin/profile/school.js"></script>
      <script src="scripts/controllers/schooladmin/profile/changepassword.js"></script>
      <script src="scripts/directives/changepassword.js"></script>
      <script src="scripts/controllers/schooladmin/school/grade/add.js"></script>
      <script src="scripts/controllers/schooladmin/school/grade.js"></script>
      <script src="scripts/directives/emailavailablevalidator.js"></script>
      <script src="scripts/services/school.js"></script>
      <script src="scripts/controllers/invitation.js"></script>
      <script src="scripts/services/invitation.js"></script>
      <script src="scripts/controllers/manager.js"></script>
      <script src="scripts/controllers/manager/profile.js"></script>
      <script src="scripts/controllers/manager/profile/changepassword.js"></script>
      <script src="scripts/controllers/manager/profile/edit.js"></script>
      <script src="scripts/controllers/manager/notifications.js"></script>
      <script src="scripts/controllers/schooladmin/notifications.js"></script>
      <script src="scripts/controllers/author/notifications.js"></script>
      <script src="scripts/controllers/schoolteacher/profile.js"></script>
      <script src="scripts/controllers/schoolteacher/profile/edit.js"></script>
      <script src="scripts/controllers/schoolteacher/profile/changepassword.js"></script>
      <script src="scripts/controllers/schoolteacher/notifications.js"></script>
      <script src="scripts/controllers/schooladmin/teacher/view.js"></script>
      <script src="scripts/controllers/privateteacher/profile/changepassword.js"></script>
      <script src="scripts/controllers/privateteacher/profile.js"></script>
      <script src="scripts/controllers/privateteacher/profile/edit.js"></script>
      <script src="scripts/controllers/privateteacher/notifications.js"></script>
      <script src="scripts/directives/rightmenu.js"></script>
      <script src="scripts/controllers/schoolteacher/course.js"></script>
      <script src="scripts/controllers/schoolteacher/course/reports.js"></script>
      <script src="scripts/controllers/schoolteacher/course/exams/reports.js"></script>
      <script src="scripts/controllers/schoolteacher/course/exams/create.js"></script>
      <script src="scripts/controllers/schoolteacher/course/homeworks/create.js"></script>
      <script src="scripts/controllers/schoolteacher/course/homeworks.js"></script>
      <script src="scripts/controllers/schoolteacher/course/homeworks/reports.js"></script>
      <script src="scripts/controllers/schoolteacher/course/view.js"></script>
      <script src="scripts/controllers/schoolteacher/course/grade.js"></script>
      <script src="scripts/controllers/schoolteacher/course/homeworks/questions/create.js"></script>
      <script src="scripts/controllers/schoolteacher/course/exams/questions/create.js"></script>
      <script src="scripts/controllers/schoolteacher/course/exams/questions.js"></script>
      <script src="scripts/controllers/schoolteacher/course/homeworks/questions.js"></script>
      <script src="scripts/controllers/privateteacher/course/exam/create.js"></script>
      <script src="scripts/controllers/privateteacher/course/homework/create.js"></script>
      <script src="scripts/directives/teacherexamslist.js"></script>
      <script src="scripts/directives/teachercreateexam.js"></script>
      <script src="scripts/directives/studentcreateexam.js"></script>
      <script src="scripts/directives/teacherexamstudentlist.js"></script>
      <script src="scripts/directives/teacherexamreport.js"></script>
      <script src="scripts/directives/teachercourseslist.js"></script>
      <script src="scripts/directives/teachercoursereport.js"></script>
      <script src="scripts/directives/courseelement.js"></script>
      <script src="scripts/controllers/modals/createcourseelement.js"></script>
      <script src="scripts/controllers/modals/createquestionsbulk.js"></script>
      <script src="scripts/controllers/modals/updatequestionsbulk.js"></script>
      <script src="scripts/controllers/modals/examskipquestion.js"></script>
      <script src="scripts/controllers/admin/sme/create.js"></script>
      <script src="scripts/directives/input/selecteducationalsystem.js"></script>
      <script src="scripts/directives/input/selectcountry.js"></script>
      <script src="scripts/directives/input/selectgrade.js"></script>
      <script src="scripts/directives/input/selectcourse.js"></script>
      <script src="scripts/directives/input/name.js"></script>
      <script src="scripts/directives/input/title.js"></script>
      <script src="scripts/directives/input/description.js"></script>
      <script src="scripts/directives/input/email.js"></script>
      <script src="scripts/controllers/privateteacher/course/exam/reports.js"></script>
      <script src="scripts/controllers/privateteacher/course/exam/reports/group.js"></script>
      <script src="scripts/controllers/privateteacher/course/exam/reports/student.js"></script>
      <script src="scripts/directives/input/captcha.js"></script>
      <script src="scripts/directives/invitation.js"></script>
      <script src="scripts/directives/input/selectmulticourses.js"></script>
      <script src="scripts/controllers/admin/author/create.js"></script>
      <script src="scripts/controllers/admin/reviewer/create.js"></script>
      <script src="scripts/directives/notifications.js"></script>
      <script src="scripts/controllers/parent/notifications.js"></script>
      <script src="scripts/controllers/reviewer/notifications.js"></script>
      <script src="scripts/directives/input/selectmultieducationalsystems.js"></script>
      <script src="scripts/directives/input/selectmultigrades.js"></script>
      <script src="scripts/directives/editprofile.js"></script>
      <script src="scripts/directives/profile.js"></script>
      <script src="scripts/controllers/author/profile/edit.js"></script>
      <script src="scripts/controllers/author/profile/changepassword.js"></script>
      <script src="scripts/controllers/parent/profile/changepassword.js"></script>
      <script src="scripts/controllers/parent/profile/edit.js"></script>
      <script src="scripts/controllers/parent/profile.js"></script>
      <script src="scripts/controllers/reviewer/profile.js"></script>
      <script src="scripts/controllers/reviewer/profile/edit.js"></script>
      <script src="scripts/controllers/reviewer/profile/changepassword.js"></script>
      <script src="scripts/controllers/sme/profile/changepassword.js"></script>
      <script src="scripts/controllers/sme/profile/edit.js"></script>
      <script src="scripts/controllers/sme/profile.js"></script>
      <script src="scripts/directives/input/selectcourseelement.js"></script>
      <script src="scripts/directives/input/selectmulticourseelements.js"></script>
      <script src="scripts/directives/input/selectcourseelementparent.js"></script>
      <script src="scripts/directives/input/selectcourseelementtype.js"></script>
      <script src="scripts/directives/input/submit.js"></script>
      <script src="scripts/controllers/modals/privateteacheraddsubject.js"></script>
      <script src="scripts/controllers/modals/assignstaffmembercourse.js"></script>
      <script src="scripts/directives/input/selectlearningoutcome.js"></script>
      <script src="scripts/directives/input/selectdifficulty.js"></script>
      <script src="scripts/directives/input/selectquestionstype.js"></script>
      <script src="scripts/directives/input/selectdifficultygauge.js"></script>
      <script src="scripts/services/exam.js"></script>
      <script src="scripts/controllers/student/course/exam.js"></script>
      <script src="scripts/services/examinstance.js"></script>
      <script src="scripts/directives/examitem.js"></script>
      <script src="scripts/controllers/student/course/exam/take.js"></script>
      <script src="scripts/controllers/student/course/exam/take/q.js"></script>
      <script src="scripts/services/questionanswer.js"></script>
      <script src="scripts/controllers/sme/author/create.js"></script>
      <script src="scripts/controllers/sme/reviewer/create.js"></script>
      <script src="scripts/directives/questions/takefillblanks.js"></script>
      <script src="scripts/directives/questions/takeconnect.js"></script>
      <script src="scripts/controllers/sme/author/view.js"></script>
      <script src="scripts/controllers/activate.js"></script>
      <script src="scripts/controllers/student/course/exam/answers.js"></script>
      <script src="scripts/directives/questionpreview.js"></script>
      <script src="scripts/directives/questiontakeheader.js"></script>
      <script src="scripts/directives/questiontakefooter.js"></script>
      <script src="scripts/controllers/sme/course/view.js"></script>
      <script src="scripts/controllers/sme/course/element/view.js"></script>
      <script src="scripts/filters/charlimit.js"></script>
      <script src="scripts/services/crumbs.js"></script>
      <script src="scripts/controllers/modals/addcourseelementresource.js"></script>
      <script src="scripts/services/courseelementattachment.js"></script>
      <script src="scripts/directives/courseelementattachmentlistitem.js"></script>
      <script src="scripts/controllers/paginator.js"></script>
      <script src="scripts/directives/linkitem.js"></script>
      <script src="scripts/controllers/reviewer/course.js"></script>
      <script src="scripts/controllers/reviewer/course/tasks.js"></script>
      <script src="scripts/controllers/reviewer/course/task/create.js"></script>
      <script src="scripts/controllers/reviewer/course/task/questions.js"></script>
      <script src="scripts/controllers/reviewer/course/task/question/view.js"></script>
      <script src="scripts/controllers/reviewer/course/task/question/reviewlist.js"></script>
      <script src="scripts/directives/input/password.js"></script>
      <script src="scripts/directives/input/cpassword.js"></script>
      <script src="scripts/directives/input/fullname.js"></script>
      <script src="scripts/directives/input/acceptlicence.js"></script>
      <script src="scripts/directives/input/schoolname.js"></script>
      <script src="scripts/directives/input/birthdate.js"></script>
      <script src="scripts/directives/input/address.js"></script>
      <script src="scripts/directives/input/phone.js"></script>
      <script src="scripts/directives/input/gender.js"></script>
      <script src="scripts/controllers/schooladmin/profile/edit.js"></script>
      <script src="scripts/controllers/resetpassword.js"></script>
      <script src="scripts/controllers/sme/reviewer/view.js"></script>
      <script src="scripts/directives/report/questionscount.js"></script>
      <script src="scripts/services/reports.js"></script>
      <script src="scripts/directives/report/examgrade.js"></script>
      <script src="scripts/directives/report/examtime.js"></script>
      <script src="scripts/controllers/admin/invitations.js"></script>
      <script src="scripts/controllers/sme/invitations.js"></script>
      <script src="scripts/directives/invtations.js"></script>
      <script src="scripts/controllers/parent/son/exam.js"></script>
      <script src="scripts/controllers/parent/son/course/subscribe.js"></script>
      <script src="scripts/directives/plan.js"></script>
      <script src="scripts/services/profile.js"></script>
      <script src="scripts/directives/questions/createanswer.js"></script>
      <script src="scripts/services/questionattachment.js"></script>
      <script src="scripts/directives/questions/viewanswer.js"></script>
      <script src="scripts/directives/input/translatable.js"></script>
      <script src="scripts/directives/questions/createanswercontainer.js"></script>
      <script src="scripts/directives/report/recommendations.js"></script>
      <script src="scripts/services/privateteacher.js"></script>
      <script src="scripts/controllers/parent/son/course/report.js"></script>
      <script src="scripts/directives/report/coursereportexamitem.js"></script>
      <script src="scripts/filters/duration_format.js"></script>
      <script src="scripts/filters/ordinal.js"></script>
      <script src="scripts/directives/smalllanguagebtns.js"></script>
      <script src="scripts/filters/examinstance.js"></script>
      <script src="scripts/directives/report/coursetotalreportexam.js"></script>
      <script src="scripts/controllers/student/course/exam/detailedreports.js"></script>
      <script src="scripts/directives/studentcreatepractice.js"></script>
      <script src="scripts/directives/input/selectmultiquestionstype.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/coupons.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/coupons/create.js"></script>
      <script src="scripts/directives/report/examreportconclusion.js"></script>
      <script src="scripts/services/coupon.js"></script>
      <script src="scripts/services/couponbulk.js"></script>
      <script src="scripts/services/validate.js"></script>
      <script src="scripts/controllers/modals/addcoupon.js"></script>
      <script src="scripts/controllers/student/course/subscribe.js"></script>
      <script src="scripts/controllers/modals/examskippedquestions.js"></script>
      <script src="scripts/controllers/sme/course/elements.js"></script>
      <script src="scripts/directives/question-make-preview.js"></script>
      <script src="scripts/controllers/student/course/practice/suggested.js"></script>
      <script src="scripts/controllers/privateteacher/course/group.js"></script>
      <script src="scripts/directives/teachergroupslist.js"></script>
      <script src="scripts/controllers/privateteacher/invitation.js"></script>
      <script src="scripts/services/group.js"></script>
      <script src="scripts/directives/input/selectgroup.js"></script>
      <script src="scripts/directives/input/selectterm.js"></script>
      <script src="scripts/directives/input/fees.js"></script>
      <script src="scripts/directives/input/suspended.js"></script>
      <script src="scripts/controllers/modals/listchildcourseelement.js"></script>
      <script src="scripts/controllers/privateteacher/course.js"></script>
      <script src="scripts/controllers/modals/createobjective.js"></script>
      <script src="scripts/controllers/modals/viewobjective.js"></script>
      <script src="scripts/directives/objectiveview.js"></script>
      <script src="scripts/directives/objectivecreate.js"></script>
      <script src="scripts/services/answersdegree.js"></script>
      <script src="scripts/controllers/admin/country/view.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/view.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/view.js"></script>
      <script src="scripts/directives/input/selectmulticourseelementsubs.js"></script>
      <script src="scripts/directives/groupstudentlist.js"></script>
      <script src="scripts/controllers/privateteacher/course/exam/review.js"></script>
      <script src="scripts/controllers/pre.js"></script>
      <script src="scripts/directives/listprofiles.js"></script>
      <script src="scripts/services/review.js"></script>
      <script src="scripts/controllers/admin/user/list.js"></script>
      <script src="scripts/controllers/privateteacher/course/group/studentview.js"></script>
      <script src="scripts/controllers/modals/userprofile.js"></script>
      <script src="scripts/directives/authorhighchart.js"></script>
      <script src="scripts/directives/authorshighchart.js"></script>
      <script src="scripts/directives/listelements.js"></script>
      <script src="scripts/controllers/modals/elementtype.js"></script>
      <script src="scripts/filters/elementfilter.js"></script>
      <script src="scripts/controllers/admin/author/question.js"></script>
      <script src="scripts/controllers/admin/author/task.js"></script>
      <script src="scripts/controllers/sme/author/task.js"></script>
      <script src="scripts/controllers/sme/author/question.js"></script>
      <script src="scripts/controllers/sme/author/question/view.js"></script>
      <script src="scripts/controllers/sme/author/task/view.js"></script>
      <script src="scripts/controllers/admin/author/task/view.js"></script>
      <script src="scripts/controllers/admin/author/question/view.js"></script>
      <script src="scripts/directives/input/multipleemails.js"></script>
      <script src="scripts/services/studentprize.js"></script>
      <script src="scripts/directives/facebook.js"></script>
      <script src="scripts/directives/reloadcaptcha.js"></script>
      <script src="scripts/directives/statsnumber.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/viewdel.js"></script>
      <script src="scripts/services/plumbendpoint.js"></script>
      <script src="scripts/controllers/sme/course/duplication/view.js"></script>
      <script src="scripts/controllers/admin/helppage.js"></script>
      <script src="scripts/services/help.js"></script>
      <script src="scripts/controllers/admin/helppages/reviewer/view.js"></script>
      <script src="scripts/controllers/admin/helppages/sme/view.js"></script>
      <script src="scripts/controllers/admin/helppages/author/view.js"></script>
      <script src="scripts/controllers/admin/helppages/student/view.js"></script>
      <script src="scripts/controllers/sme/course/duplication/question/view.js"></script>
      <script src="scripts/services/questionfeedback.js"></script>
      <script src="scripts/directives/feedbackcreate.js"></script>
      <script src="scripts/directives/input/selectfeedbacktype.js"></script>
      <script src="scripts/services/feedbacktype.js"></script>
      <script src="scripts/controllers/modals/addfeedback.js"></script>
      <script src="scripts/controllers/admin/country/educationalsystem/grade/subscription/view.js"></script>
      <script src="scripts/services/commoncache.js"></script>
      <script src="scripts/controllers/admin/helppages/create.js"></script>
      <script src="scripts/directives/input/selecthelpviewers.js"></script>
      <script src="scripts/directives/customeditor.js"></script>
      <script src="scripts/controllers/modals/imageattachment.js"></script>
      <script src="scripts/services/helpattachment.js"></script>
      <script src="scripts/controllers/admin/helppages/update.js"></script>
      <script src="scripts/controllers/modals/addedusysschool.js"></script>
      <script src="scripts/services/address.js"></script>
      <script src="scripts/controllers/schooladmin/student/educationalsystem.js"></script>
      <script src="scripts/controllers/schooladmin/student/grade/view.js"></script>
      <script src="scripts/controllers/schooladmin/student/grade/addclass.js"></script>
      <script src="scripts/services/teacherbuild.js"></script>
      <script src="scripts/services/questiongroup.js"></script>
      <script src="scripts/controllers/modals/viewquestiongroup.js"></script>
      <script src="scripts/controllers/modals/viewquestionversion.js"></script>
      <script src="scripts/controllers/privateteacher/course/group/examlist.js"></script>
      <script src="scripts/controllers/privateteacher/course/group/exams/view.js"></script>
      <script src="scripts/controllers/privateteacher/course/group/exams/report.js"></script>
      <script src="scripts/controllers/schooladmin/student/grade/class/view.js"></script>
      <script src="scripts/controllers/schooladmin/student/grade/class/invite.js"></script>
      <script src="scripts/directives/input/selectmulticlasses.js"></script>
      <script src="scripts/controllers/schoolteacher/course/exams/review.js"></script>
      <script src="scripts/directives/courseclasseslist.js"></script>
      <script src="scripts/controllers/schoolteacher/course/classes/view.js"></script>
      <script src="scripts/controllers/schoolteacher/course/classes/exams.js"></script>
      <script src="scripts/controllers/schoolteacher/course/student/examview.js"></script>
      <script src="scripts/controllers/modals/equationattachment.js"></script>
      <script src="scripts/controllers/parent/son/course/exam.js"></script>
      <script src="scripts/services/customeditor.js"></script>
      <script src="scripts/filters/dateformatter.js"></script>
      <!-- endbuild -->
      <script src="http://www.wiris.net/demo/editor/editor" async></script>
      <script>
      window.$zopim||(function(d,s) {
        var z=$zopim=function(c) {
          z._.push(c)
        }
        ,$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];
        z.set=function(o) {
          z.set.
              _.push(o)
        }
        ;
        z._=[];
        z.set._=[];
        $.async=!0;
        $.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?2uvS6e6h8fxUCs0KvRfudwjQVE6abRv8";
        z.t=+new Date;
        $.
            type="text/javascript";
        e.parentNode.insertBefore($,e);
      }
      )(document,"script");
      </script>
      <script ng-if="$root.LANG_DIRECTION === 'rtl'">
        $zopim(function() {
          $zopim.livechat.set({
            language: 'ar',
          });
        });
      </script>
      <script ng-if="$root.LANG_DIRECTION === 'ltr'">
        $zopim(function() {
          $zopim.livechat.set({
            language: 'en',
          });
        });
      </script>
      <script type='text/javascript'>
      (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=v3dwnnfo8fu7fehcfmkwbq';
        s.parentNode.insertBefore(bh, s);
        })(document, 'script');
      </script>
    </body>
  </html>
