<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <ui-select class="pull-right col-md-3 col-xs-12"  ng-model="model.users_type" name="users_type" id="users_type">
    <ui-select-match 
    placeholder="{{$root.lang.filteruserstype}}">
      {{$root.lang[model.users_type]}}
    </ui-select-match>
    <ui-select-choices repeat="type in model.types | filter: $select.search">
      <div ng-bind-html="$root.lang[type] | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <button class="btn btn-success pull-right flip" ng-click="exportusers()">
  <i class="fa-pulse fa fa-spinner" ng-show='exporting'></i>
    {{$root.lang.exportusers}}
  </button>
</h3>
<div class="col-md-6" ng-repeat="user in users | orderBy:'name'">
  <div class="linkitem" ng-class="{opacity: !user.is_active}">
    <div class="imagecontainer">
      <img ng-src="{{user.avatar || 'images/default-user-icon-profile.png'}}" height="65">
    </div>
    <div class="bodycontainer">
      <div class="col-md-12">
        <h3 class="title">{{user.full_name}}</h3>
        <small ng-if="user.email.length" class="description label label-default">
          {{user.email}}</small>
        <small ng-if="user.phone_number.length" class="description label label-default">
          {{user.phone_number}}</small>
        <small ng-if="user.user_type.length"  class="description label label-default">
          {{user.user_type}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <button ng-click="openProfile(user.id)" class="btn btn-warning btn-sm btn-block">
          {{$root.lang.profile}}
        </button>
      </div>
      <div class="col-md-6 col-sm-12" ng-if="user.is_active">
        <button ng-click="deactivate(user)" class="btn btn-danger btn-sm btn-block">
          {{$root.lang.deactivate}}
        </button>
      </div>
      <div class="col-md-6 col-sm-12" ng-if="!user.is_active">
        <button ng-click="activate(user)" class="btn btn-success btn-sm btn-block">
          {{$root.lang.activate}}
        </button>
      </div>
    </div>
  </div>
</div>
</content-header>

