<content-header>
  <h3 class="landing_title">{{$root.lang.i18n(group, 'name')}}
    <button class="btn btn-danger pull-right flip" ng-click="removeGroup()" style="margin-left:5px;">
      <i class="fa fa-minus"></i>
      {{$root.lang.removegroup}}
    </button>
    <a class="btn btn-success pull-right flip" 
       style="margin-left:5px;" href="#/privateteacher/course/{{courseid}}/group/{{groupid}}/exams">
      <i class="fa"></i>
      {{$root.lang.examlist}}
    </a>
    
  </h3>
<group-student-list></group-student-list>
</content-header>
