<content-header>
<h3 class="landing_title"> {{pageTitle}} </h3>
<div class="col-md-4" ng-repeat="entity in entities"
  ng-show="!entity.mine">
  <task-list-item model="entity" courseid="courseid" after-assign="afterAssign"></task-list-item>
</div>
</content-header>
