<content-header>
<h3 class="landing_title"> {{course.name}} - Task {{taskid}} </h3>
<link-item class="col-md-6" ng-repeat="question in questions"
title="{{$root.lang.question}} {{::question.id}}" 
description="
  {{$root.lang.difficulty}}: {{$root.lang['difficulty_' + question.difficulty]}} -
  {{$root.lang.questionstype}}: {{$root.lang['type_' + question.question_type]}}
"
href="#/{{::TYPE}}/course/{{courseid}}/task/{{taskid}}/question/{{question.id}}/reviewlist"></link-item>
</content-header>

