<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <div class="form-group">
    <label for="image" class="btn btn-primary" id="fielUploadBtn">{{$root.lang.uploadImage}} {{imageName}}<span></span></label>
    <input type="file" id="image" name="image"
    file-model="image" class="hidden" onchange="angular.element(this).scope().fileNameChanged(this)" required/>
  </div>
  <translatable model="name"><input-name></input-name></translatable>
  <translatable model="description"><input-description></input-description></translatable>
  <div class="form-group">
    <label>{{$root.lang.exams_count}}</label>
    <input type="number" class="form-control" name="exams_count"
    id="exams_count" ng-model="model.exams_count"/>
  </div>
  <div class="form-group">
    <label>{{$root.lang.questions_count}}</label>
    <input type="number" class="form-control" name="questions_count"
    id="questions_count" ng-model="model.questions_count"/>
  </div>
  <div class="form-group">
    <label>{{$root.lang.courses_count}}</label>
    <input type="number" class="form-control" name="courses_count"
    id="courses_count" ng-model="model.courses_count"/>
  </div>
  <input-submit id="prize-save" is-loading="isLoading"></input-submit>
</form>
</content-header>
