<content-header>
<h2 class="quest1">{{pageTitle}}</h2>
<form novalidate>
  <div class="practice_form">
    <span class="number">{{$root.lang.n_1}}</span>
    <h4>{{$root.lang.selectclasses}}</h4>
    <br class="clear"/>
    <div class="sub">
      <div class="checkbox-inline group" id="group-all">
        <input type="checkbox" name="group" id="input-group-all"> اختر الكل
      </div>
      <div class="checkbox-inline group" id="group-{{cls.id}}" ng-repeat="cls in classes">
        <input type="checkbox" name="cls" id="cls_{{cls.id}}">{{cls.name}}
      </div>
    </div><!-- sub -->
    <span class="number">{{$root.lang.n_2}}</span>
    <h4>{{$root.lang.selectcourseelements}}</h4>
    <br class="clear"/>
    <div class="subs">
      <div class="sub subject">
        <div class="field">
          <label>إختر المادة</label>
          <select class="form-control">
            <option>لغة عربية</option>
            <option> كيمياء</option>
            <option> فيزياء</option>
            <option>أحياء </option>
            <option> رياضيات</option>
          </select>
        </div>
        <span class="shift"></span>
        <div class="field">
          <label>إختر القسم</label>
          <select class="form-control">
            <option>القراءة</option>
            <option>القراءة</option>
            <option>القراءة</option>
            <option>القراءة</option>
            <option>القراءة</option>
            <option>القراءة</option>
          </select>
        </div>
        <span class="shift"></span>
        <div class="field">
          <label>إختر الباب</label>
          <select class="form-control">
            <option>الباب الأول</option>
            <option>الباب الثاني</option>
            <option>الباب الثالث</option>
            <option>الباب الرابع</option>
            <option>الباب الخامس</option>
          </select>
        </div>
        <span class="shift"></span>
        <div class="field">
          <label>إختر الوحدة</label>
          <select class="form-control" id="chapter">
            <option value="chapter1">الوحدة الاولي</option>
            <option value="chapter2">الوحدة الثانية</option>
            <option value="chapter3">الوحدة الثالثة</option>
            <option value="chapter4">الوحدة الرابعة</option>
          </select>
        </div>
        <br class="clear"/>
      </div><!-- sub -->
    </div>
    <a href="#" id="addPart">أضف جزء أخر</a>
    <br class="clear">
  </div>
  <div class="practice_form">
    <span class="number">{{$root.lang.n_3}}</span>
    <h4>اختر أنواع الأسئلة</h4>
    <br class="clear"/>
    <div class="questions">
      <div class="sub question">
        <div class="field">
          <label>نوع السؤال</label>
          <select class="form-control">
            <option>رتب </option>
            <option>صح وغلط</option>
            <option> اختر متعدد (اختيار واحد)</option>
            <option> اختر متعدد (متعدد الاختيارات)</option>
            <option>أكمل (فراغ واحد) </option>
            <option>أكمل (عدة فراغات) </option>
            <option>وصل (1-to-1) </option>
            <option>وصل (1-to-many) </option>
          </select>
        </div>
        <span class="shift"></span>
        <div class="field">
          <label>مستوى الصعوبة</label>
          <select class="form-control">
            <option>سهل</option>
            <option>متوسط</option>
            <option>صعب</option>
          </select>
        </div>
        <span class="shift"></span>
        <div class="field">
          <label>المعامل التعليمى</label>
          <select class="form-control">
            <option>تذكر</option>
            <option>فهم</option>
            <option>تظبيق</option>
            <option>تحليل</option>
            <option>تقويم</option>
            <option>اتكار</option>
          </select>
        </div>
        <span class="shift"></span>
        <div class="field">
          <label>عدد الأسئلة</label>
          <input type="number" min="1" class="form-control" value="1">
        </div>
        <br class="clear"/>
      </div><!-- sub -->
    </div>
    <a href="#" id="addQuestion">أضف نوع سؤال</a>
    <br class="clear">
  </div><!-- practice_form -->

  <div class="practice_form">
    <span class="number">{{$root.lang.n_4}}</span>
    <h4>وقت الامتحان</h4>
    <br class="clear"/>
    <div class="sub">
      <div class="field">
        <label>وقت الامتحان (دقيقة)</label>
        <input type="number" min="1" value="1" class="form-control">
      </div>
      <br class="clear"/>
    </div><!-- sub -->
    <span class="number">{{$root.lang.n_5}}</span>
    <h4>بداية وانتهاء الامتحان</h4>
    <br class="clear"/>
    <div class="sub">
      <div class="field">
        <label>بداية الامتحان</label>
        <input type="datetime-local" class="form-control time_input" value="2014-11-04T16:00:00">
      </div>
      <div class="shift"></div>
      <div class="field">
        <label>انتهاء الامتحان</label>
        <input type="datetime-local" class="form-control time_input" value="2014-11-10T16:00:00">
      </div>
      <br class="clear"/>
    </div><!-- sub -->
    <br class="clear">
  </div>
  <hr><br>
  <div class="text-center">
    <a class="btn btn-success btn-lg"
      href="#/schoolteacher/course/exams/questions/create">{{$root.lang.next}}</a>
  </div>

</form>

</content-header>
