<content-header>
<h3 class="landing_title"> {{pageTitle}}
  <a id="create-course-element-type" href="#/admin/element_type/create" class="btn btn-primary pull-right flip">
    {{$root.lang.create}} <i class="fa fa-plus"></i> </a>
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'name'">
  <link-item title="{{$root.lang.i18n(entity, 'name')}}"
  href="#/admin/element_type/update/{{entity.id}}"
  remove="openElementType(entity.id)">
  <li>
    <button ng-click="openElementType(entity)"
      class="btn btn-default btn-sm btn-block" tooltip="{{$root.lang.del}}">
      <i class="fa fa-times"></i>
    </button>
  </li>
  </link-item>
</div>
</content-header>
