<content-header>
<h3 class="landing_title" ng-show="loaded">{{pageTitle}} </h3>
<div class="report" ng-show="loaded">
  <div class="report_content">
    <div class="col-md-5">
      <questions-count model="questionsCount"></questions-count>
    </div><!--right -->
    <div class="col-md-7">
      <exam-grade model="model.level"></exam-grade>
      <exam-time time="time" examtime="model.exam.time"></exam-time>
    </div>
    <br class="clear"/>
    <exam-report-conclusion></exam-report-conclusion>
  </div>
</div>
</content-header>

