<div class="container profile_container">
  <div class="col-md-3">
    <right-menu current="addparent"></right-menu>
  </div>
  <div class="col-md-9">
    <div class="edit_form">
    	<invitation type="parent"></invitation>
    </div>
  </div>
</div><!-- profile_container -->
<div class="push"></div>

