<content-header>
<h3 class="landing_title">{{pageTitle}}
  <button id="addbulk" type="button" class="btn btn-primary pull-right flip"
    ng-click="addBulk()"> <i class="fa fa-plus"></i>
    {{$root.lang.addquestionsbulk}} </button>
</h3>
  <objective-create></objective-create>
</content-header>

