<div class="form-group">
  <span class="check">
    <input type="checkbox" name="accepted" id="accept"
    ng-model="model.accepted" required/>
    <label for="accept">{{$root.lang.agreeon}}
      <a href="">{{$root.lang.licenceagreement}}</a></label>
  </span>
  <div ng-messages="form.accepted.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted"></div>
</div>
