<input-select-country></input-select-country>
<div class="form-group">
  <label>{{$root.lang.state}}</label>
  <input type="text" class="form-control" id="state" name="state"
  ng-model="model.state"/>
</div>
<div class="form-group">
  <label>{{$root.lang.city}}</label>
  <input type="text" class="form-control" id="city" name="city"
  ng-model="model.city"/>
</div>
<div class="form-group">
  <label>{{$root.lang.streetaddress}}</label>
  <input type="text" class="form-control" id="streetaddress" name="streetaddress"
  ng-model="model.address"/>
</div>
