<label>{{$root.lang.birthdate}}</label>
<p id="birthdate" class="input-group datepicker-container">
  <input type="text" ng-model="model.birthdate" datepicker-options="dateOptions"
   class="form-control" datepicker-popup="{{format}}"  
   is-open="opened" max-date="{{maxDate}}"
  close-text="{{$root.lang.close}}" disabled/>

  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open()">
      <i class="glyphicon glyphicon-calendar"></i></button>
  </span>
</p>
