<div class="form-group">
  <label>{{$root.lang.securitycheck}}</label>
  <div re-captcha ng-model="model.captcha" 
    ng-model-options="{debounce: {default: 500}, blur: 0}"></div>
  <reloadcaptcha></reloadcaptcha>
</div>
