<div class="form-group">
  <label for="cpassword">{{$root.lang.confirmpassword}}</label>
  <input id="cpassword" name="cpassword" type="password"
  class="form-control" minlength="6" maxlength="20"
  ng-model="model.cpassword" required
  ng-model-options="{debounce: {default: 500}, blur: 0}" />
  <div ng-messages="form.cpassword.$error"
    ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.cpassword.$touched"></div>
</div>
