<div class="form-group">
  <label>{{$root.lang.description}}</label>
  <textarea type="text" class="form-control" name="description"
    id="description" ng-model="model.description"
       ng-model-options="{debounce: {default: 500}, blur: 0}"></textarea>
</div>
