<div class="form-group">
  <label>{{$root.lang.email}}</label>
  <input type="email" placeholder="email@example.com" class="form-control"
  name="email" id="email" ng-model="model.email"
  ng-model-options="{debounce: {default: 500}, blur: 0}" required/>
  <div ng-messages="form.email.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.email.$touched">
    <div ng-message="email">{{$root.lang.error_email}}</div>
  </div>
</div>
