<div class="form-group">
<label for="fees">{{$root.lang.fees}}</label>
<input type="number" class="form-control" min="0" name="fees" id="fees"
ng-model="model.fees" required/>
<div ng-messages="form.fees.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.fees.$touched">
</div>
</div>
