<div class="form-group">
  <label>{{$root.lang.name}}</label>
  <input id="full_name" name="full_name" type="text" class="form-control"
  minlength="3" maxlength="100" ng-model="model.full_name" required/>
  <div ng-messages="form.full_name.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.full_name.$touched">
  </div>
</div>
