<div class="form-group">
  <label>{{$root.lang.gender}}</label>
  <div class="clear">
    <div class="btn-group">
      <label class="btn btn-primary" ng-model="model.gender"
        btn-radio="'male'"> <i class="fa fa-male"></i>
        {{$root.lang.male}}</label>
      <label class="btn btn-primary" ng-model="model.gender"
        btn-radio="'female'"> <i class="fa fa-female"></i>
        {{$root.lang.female}}</label>
    </div>
  </div>
</div>
