<div class="form-group">
  <label>{{$root.lang.email}}</label>
  <tags-input ng-model="model.email"  type="email"
              placeholder="email@example.com"
              add-on-space="true"
              name="email" id="email"
              display-property="email"
              allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
              </tags-input>
  <div ng-messages="form.email.$error" ng-messages-include="views/messages.html"
       ng-if="form.$submitted || form.email.$touched">
    <div ng-if="form.email.$error" ng-message="leftoverText">{{$root.lang.error_email}}</div>
  </div>
</div>
