<div class="form-group">
  <label>{{$root.lang.name}}</label>
  <input type="text" class="form-control" name="name" id="name"
  ng-model="model.name" required/>
  <div ng-messages="form.name.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.name.$touched">
  </div>
</div>
