<div class="form-group">
  <label for="password">{{$root.lang.password}}</label>
  <input id="password" name="password" type="password" class="form-control"
  minlength="6" maxlength="20" ng-model="model.password" required
  ng-model-options="{debounce: {default: 500}, blur: 0}" />
  <div ng-messages="form.password.$error"
    ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.password.$touched"></div>
</div>
