<div class="form-group">
  <label> {{$root.lang.telephone}}</label>
  <input type="text" class="form-control" id="telephone" name="telephone"
  ng-model="model.phone_number" ng-maxlength="20" maxlength="20" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
</div>
