<div class="form-group">
  <label for="system" id="system_label">
    <i class="fa-circle fa fa-sm response {{responseSystemStatus}}"></i>
    {{$root.lang.educationalsystem}}
  </label>
  <ui-select id="system" name="system" ng-model="model.system" required>
  <ui-select-match placeholder="{{$root.lang.selecteducationalsystems}}">
  {{$root.lang.i18n(model.system, 'name')}}
  </ui-select-match>
  <ui-select-choices  repeat="system in systems | filter: $select.search">
  <div ng-bind-html="$root.lang.i18n(system, 'name') | highlight: $select.search"></div>
  <small> {{$root.lang.i18n(system.country, 'name')}} </small>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.system.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.system.$touched"></div>
  <a href="#/admin/educationalsystem/create" ng-if="$root.USER.type === 'admin'">{{$root.lang.createeducationalsystem}}</a>
</div>
