<div class="form-group">
  <label id="feedbacktype_label" for="feedback_type"> {{$root.lang.feedback_type}}</label>
  <ui-select id="feedback_type" close-on-select="false"
    ng-model="model.feedback_type" name="feedback_type">
    <ui-select-match placeholder="{{$root.lang.selectfeedbacktype}}">
    {{model.feedback_type.lang}}
    </ui-select-match>
    <ui-select-choices  repeat="type in feedbackTypes | filter: $select.search">
    <div ng-bind-html="type.lang | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <div ng-messages="form.feedback_type.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.feedback_type.$touched"></div>
</div>
