<div class="form-group">
<label for="termid" id="term_label">{{$root.lang.term}}</label>
<ui-select id="termid" ng-model="model.term" name="term">
<ui-select-match placeholder="{{$root.lang.selectstudent}}">
{{model.term.name}} </ui-select-match>
<ui-select-choices  repeat="term in terms | filter: $select.search">
<div ng-bind-html="term.name | highlight: $select.search"></div>
<small> {{term.startdate}} - {{term.enddate}} </small>
</ui-select-choices>
</ui-select>
<a href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/term/create"> {{$root.lang.createterm}}</a>
</div>
