<div class="subs row">
  <div class="col-xs-12 col-sm-6 col-md-6" ng-repeat="level in levels track by $index">
    <div class="sub subject">
      <div class="form-group">
        <label for="element" "element_label"
          ng-if="level.length">{{level[0].element_type.name}}</label>
        <h3 for="element" "element_label"
          ng-if="!level.length">{{$root.lang.noelements}}</h3>
        <!--Make sure of the model attribute-->
        <ui-select ng-model="selectedLevels[$index]" name="element_{{$index}}"
          id="element_{{$index}}" on-select="levelChanged($index)" ng-if="level.length">
          <ui-select-match placeholder="{{$root.lang.selectcourseelement}}">
            {{selectedLevels[$index].name}}
          </ui-select-match>
          <ui-select-choices  repeat="element in level | filter: $select.search">
            <div ng-bind-html="element.name | highlight: $select.search">
            </div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>
</div>


