<div class="form-group">
  <label>
    <i class="fa-circle fa fa-sm response {{responseGroupStatus}}"></i>
    {{$root.lang.group}}
  </label>
  <ui-select id="group" close-on-select="false" ng-model="model.group"
             name="group" required ng-model-options="{debounce: {default: 500}, blur: 0}">
    <ui-select-match placeholder="{{$root.lang.selectgroup}}">
      {{$root.lang.i18n(model.group, 'name')}}
    </ui-select-match>
    <ui-select-choices  repeat="group in groups | filter: $select.search">
      <div ng-bind-html="$root.lang.i18n(group, 'name') | highlight: $select.search"></div>
      <small>
        {{$root.lang.course}}: {{$root.lang.i18n(group.course, 'name')}},
        {{$root.lang.grade}}: {{$root.lang.i18n(group.course.grade, 'name')}},
        {{$root.lang.educationalsystem}} : {{$root.lang.i18n(group.course.grade.system, 'name')}},
        {{$root.lang.country}}: {{$root.lang.i18n(group.course.grade.system.country, 'name')}}
      </small>
    </ui-select-choices>
  </ui-select>
  <div ng-messages="form.course.$selected.$error" ng-messages-include="views/messages.html"
       ng-if="form.$submitted || form.course.$touched"></div>
  <a href="#/admin/course/create" ng-if="$root.USER.type === 'admin'">{{$root.lang.createcourse}}</a>
</div>
