<div id="grade" class="form-group">
  <label> {{$root.lang.grades}} </label>
  <ui-select multiple ng-model="model.grades" required name="grades">
  <ui-select-match
  placeholder="{{$root.lang.selectgrades}}">
  {{$root.lang.i18n($item, 'name')}}</ui-select-match>
  <ui-select-choices  repeat="grade in grades | filter: $select.search">
  <div ng-bind-html="$root.lang.i18n(grade, 'name') | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.grades.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.grades.$touched"></div>
</div>
