<div class="form-group">
  <label>{{$root.lang.course}}</label>
  <ui-select id="course" close-on-select="false" ng-model="model.course"
             name="course" required ng-model-options="{debounce: {default: 500}, blur: 0}">
    <ui-select-match placeholder="{{$root.lang.selectcourse}}">
      {{$root.lang.i18n(model.course, 'name')}}
    </ui-select-match>
    <ui-select-choices  repeat="course in courses | filter: $select.search">
      <div ng-bind-html="$root.lang.i18n(course, 'name') | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <div ng-messages="form.course.$selected.$error" ng-messages-include="views/messages.html"
       ng-if="form.$submitted || form.course.$touched"></div>
</div>
