<div class="form-group">
  <label for="viewers" id="viewers_label">{{$root.lang.helpviewer}}</label>
  <ui-select multiple id="viewers" name="viewers" ng-model="model.viewers" required
  close-on-select="false">
    <ui-select-match placeholder="{{$root.lang.selectviewers}}">
      {{$item}}
    </ui-select-match>
    <ui-select-choices  repeat="viewer in viewers | filter: $select.search">
      <div ng-bind-html="viewer | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <div ng-messages="form.name.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.name.$touched">
</div>
