<div class="form-group">
  <label for="classes" id="classes_label">{{$root.lang.classes}}</label>
  <ui-select multiple id="classes" name="classes" ng-model="model.classes" required
  close-on-select="false">
  <ui-select-match placeholder="{{$root.lang.selectclasses}}">
  {{$item.name}}
  </ui-select-match>
  <ui-select-choices  repeat="class in classes | filter: $select.search">
  <div ng-bind-html="class.name | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.classes.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.classes.$touched"></div>
</div>
