<div class="form-group">
  <label for="questions_type">{{$root.lang.questionstypes}}</label>
  <ui-select multiple id="questions_type" name="questions_type" close-on-select="false"
  ng-model="model.questions_type" required>
  <ui-select-match placeholder="{{$root.lang.selectquestionstype}}">
    {{$item.lang}}
  </ui-select-match>
  <ui-select-choices  repeat="type in types | filter: $select.search">
  <div ng-bind-html="type.lang | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.questions_type.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.questions_type.$touched"></div>
</div>
