<div class="form-group">
  <label for="parent">{{$root.lang.courseelementtype}}</label>
  <ui-select ng-model="model.element_type" name="element_type" id="element_type" required>
  <ui-select-match
  placeholder="{{$root.lang.selectelementtype}}">
  {{$root.lang.i18n(model.element_type, 'name')}}</ui-select-match>
  <ui-select-choices  repeat="type in types | filter: $select.search">
  <div ng-bind-html="$root.lang.i18n(type, 'name') | highlight: $select.search"></div>
  <small> type.ar_name </small>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.type.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.type.$touched"></div>
  <a href="#/admin/element_type/create"
    ng-if="$root.USER.type === 'admin'">{{$root.lang.createcourseelementtype}}</a>
</div>

