<div class="form-group">
  <label for="courses" id="courses_label">
    <i class="fa-circle fa fa-sm response {{responseCoursesStatus}}"></i>
    {{$root.lang.courses}}
  </label>
  <ui-select multiple id="courses" name="courses" ng-model="model.courses" required
  close-on-select="false">
  <ui-select-match placeholder="{{$root.lang.selectcourses}}">
  {{$item.name}}
  </ui-select-match>
  <ui-select-choices  repeat="course in courses | filter: $select.search">
  <div ng-bind-html="course.name | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.courses.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.courses.$touched"></div>
</div>
