<div class="form-group">
  <label for="grade" id="grade_label">
    <i class="fa-circle fa fa-sm response {{responseGradeStatus}}"></i>
    {{$root.lang.grade}}
  </label>
  <ui-select close-on-select="false" ng-model="model.grade" id="grade"
  name="grade" required>
  <ui-select-match placeholder="{{$root.lang.selectgrade}}">
  {{ $root.lang.i18n(model.grade, 'name')}}
  </ui-select-match>
  <ui-select-choices  repeat="grade in grades | filter: $select.search">
  <div ng-bind-html="$root.lang.i18n(grade, 'name') | highlight: $select.search"></div>
  <small>
    {{$root.lang.educationalsystem}}: {{$root.lang.i18n(grade.system, 'name')}}
    {{$root.lang.country}}: {{$root.lang.i18n(grade.system.country, 'name')}}
  </small>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.grade.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.grade.$touched"></div>
  <a href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/create"
     ng-if="$root.USER.type === 'admin'">{{$root.lang.creategrade}}</a>
</div>
