<div class="form-group">
  <label id="outcome_label" for="learning_outcome"> {{$root.lang.learningoutcome}}</label>
  <ui-select id="learning_outcome" close-on-select="false"
  ng-model="model.learning_outcome" name="learning_outcome">
  <ui-select-match placeholder="{{$root.lang.selectlearningoutcome}}">
  {{model.learning_outcome.lang}}
  </ui-select-match>
  <ui-select-choices  repeat="outcome in outcomes | filter: $select.search">
  <div ng-bind-html="outcome.lang | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.learning_outcome.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.learning_outcome.$touched"></div>
</div>
