<div id="gauge-container">
  <cavas id="gauge" height="173" width="329"></canvas>
  <svg height="137" width="283" id="canvas-overlay">
  <path fill="#000000" d="M283.166,142.212c-9.966,0-19.218,0-29.031,0
  c-0.39-35.933-15.182-64.842-42.763-87.313c-20.865-17-45.1-24.08-71.748-23.86C82.652,31.51,30.027,80.825,30.522,142.107
  c-1.103,0.14-2.231,0.4-3.361,0.405c-8.136,0.036-16.271,0.02-25.202,0.02C2.561,92.573,23.483,53.411,63.932,26.267
  c46.899-31.473,97.441-33.651,146.663-6.348C257.504,45.938,281.707,87.556,283.166,142.212z"/>
  </svg>                                    
  <div id="preview-textfield"></div>
  <img src="images/pin.png" class="pin"/>
  <div class="circle-big" style="pointer-events: none">
    <div class="circle one"></div>
    <div class="circle two"></div>
    <div class="circle three"></div>
    <div class="circle four"></div>
    <div class="circle five"></div>
    <div class="circle six"></div>
    <div class="circle seven"></div>
    <div class="circle eight"></div>
    <div class="circle nine"></div>
    <div class="circle ten"></div>
    <div class="circle eleven"></div>
    <div class="circle tweleve"></div>
    <div class="circle thirteen"></div>
    <div class="circle fourteen"></div>
    <div class="circle fiveteen"></div>
    <div class="circle sixteen"></div>
    <div class="circle seventeen"></div>
  </div>
  <span class="easy">{{$root.lang.difficulty_easy}}</span>
  <span class="medium">{{$root.lang.difficulty_medium}}</span>
  <span class="hard">{{$root.lang.difficulty_hard}}</span>
</div>
