<div class="form-group">
  <label> {{$root.lang.educationalsystems}} </label>
  <ui-select multiple name="systems" ng-model="model.systems" required
  ng-model-options="{debounce: {default: 500}, blur: 0}" id="systems">
    <ui-select-match  placeholder="{{$root.lang.selecteducationalsystems}}">
      {{$root.lang.i18n($item, 'name')}}
    </ui-select-match>
    <ui-select-choices  repeat="system in systems | filter: $select.search">
      <div ng-bind-html="system.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <div ng-messages="form.systems.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.systems.$touched">
  </div>
  <a href="#/admin/educationalsystem/create"
    ng-if="$root.USER.type === 'admin'">
    {{$root.lang.createeducationalsystem}}
  </a>
</div>
