<div class="form-group">
  <label for="parent" id="parent_label">{{$root.lang.courseelementparent}}</label>
  <!--Make sure of the model attribute-->
  <ui-select ng-model="model.parent" name="parent"id="parent">
  <ui-select-match placeholder="{{$root.lang.selectparentelement}}">
  {{$root.lang.i18n(model.parent, 'name')}}</ui-select-match>
  <ui-select-choices  repeat="element in elements | filter: $select.search">
  <div ng-bind-html="$root.lang.i18n(element, 'name') | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <!--add validation-->
  <div ng-messages="form.parent.$selected.$error"
    ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.parent.$touched"></div>
</div>
