<div class="form-group">
  <label id="questions_type_label" for="questions_type">
    {{$root.lang.questionstypes}}</label>
  <ui-select id="questions_type" name="questions_type"
  ng-model="model.questions_type">
  <ui-select-match placeholder="{{$root.lang.selectquestionstype}}">
  {{model.questions_type.lang}}
  </ui-select-match>
  <ui-select-choices  repeat="type in types | filter: $select.search">
  <div ng-bind-html="type.lang | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.questions_type.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.questions_type.$touched"></div>
</div>
