<div class="form-group">
  <label>
    <i class="fa-circle fa fa-sm response {{responseCourseStatus}}"></i>
    {{$root.lang.course}}
  </label>
  <ui-select id="course" close-on-select="false" ng-model="model.course"
  name="course" required>
  <ui-select-match placeholder="{{$root.lang.selectcourse}}">
  {{model.course.name}}
  </ui-select-match>
  <ui-select-choices  repeat="course in courses | filter: $select.search">
  <div ng-bind-html="course.name | highlight: $select.search"></div>
  <small>
    {{$root.lang.grade}}: {{$root.lang.i18n(course.grade, 'name')}},
    {{$root.lang.educationalsystem}} : {{$root.lang.i18n(course.grade.system, 'name')}},
    {{$root.lang.country}}: {{$root.lang.i18n(course.grade.system.country, 'name')}}
  </small>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.course.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.course.$touched"></div>
  <a href="#/admin/course/create" ng-if="$root.USER.type === 'admin'">{{$root.lang.createcourse}}</a>
</div>
