<div class="form-group">
  <label for="elements">
    <i class="fa-circle fa fa-sm response {{responseCourseElementsStatus}}"></i>
    {{$root.lang.courseelement}}
  </label>
  <!--Make sure of the model attribute-->
  <ui-select multiple name="elements" id="elements"
  ng-model="model.elements" required>
  <ui-select-match
  placeholder="{{$root.lang.selectcourseelement}}">
  {{$item.name}}</ui-select-match>
  <ui-select-choices  repeat="element in elements | filter: $select.search">
  <div ng-bind-html="element.name | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.element.$selected.$error"
    ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.element.$touched"></div>
  <a href="#/admin/course/{{course.id}}/element/create"
    ng-if="model.course && $root.USER.type === 'admin'">
    {{$root.lang.createcourseelement}}</a>
  <a href="#/sme/course/{{course.id}}/element/create"
    ng-if="model.course && $root.USER.type === 'sme'">
    {{$root.lang.createcourseelement}}</a>
</div>

