<div class="form-group">
  <label for="country" id="country_label">
    <i class="fa-circle fa fa-sm response {{responseCountryStatus}}"></i>
    {{$root.lang.country}}
  </label>
  <ui-select ng-model="model.country" required name="country" id="country">
    <ui-select-match placeholder="{{$root.lang.selectcountry}}">
    {{$root.lang.i18n(model.country, 'name')}}</ui-select-match>
    <ui-select-choices  repeat="country in countries | filter: $select.search">
      <div ng-bind-html="$root.lang.i18n(country, 'name') | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
  <div ng-messages="form.country.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.country.$touched"></div>
  <a href="#/admin/country/create" ng-if="$root.USER.type === 'admin'">{{$root.lang.createcountry}}</a>
</div>
