<div class="form-group">
  <label id="difficulty_label" for="difficulty"> {{$root.lang.difficulty}}</label>
  <ui-select id="difficulty" close-on-select="false" name="difficulty"
  ng-model="model.difficulty">
  <ui-select-match placeholder="{{$root.lang.selectdifficulty}}">
  {{model.difficulty.lang}}
  </ui-select-match>
  <ui-select-choices  repeat="difficulty in difficulties | filter: $select.search">
  <div ng-bind-html="difficulty.lang | highlight: $select.search"></div>
  </ui-select-choices>
  </ui-select>
  <div ng-messages="form.difficulty.$selected.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.difficulty.$touched"></div>
</div>
