<button type="submit" class="btn btn-success btn-lg btn-block"
  ng-disabled="isDisabled">
<i class="fa-pulse fa fa-spinner" ng-show='isLoading'></i> {{$root.lang[title] || $root.lang.save}}
</button>
