<div class="form-group">
  <label>{{$root.lang.title}}</label>
  <input type="text" class="form-control" name="title" id="title"
  ng-model="model.title" required/>
  <div ng-messages="form.title.$error" ng-messages-include="views/messages.html"
    ng-if="form.$submitted || form.title.$touched">
  </div>
</div>
