<div class="btn-group btn-group-xs pull-right flip" role="group"
  aria-label="language selection">
  <button type="button" class="btn"
    tooltip="{{$root.lang.DEFAULT_TOOLTIP}}"
    ng-class="{
    'btn-default': lang == 'ar' || lang == 'en',
    'btn-success': lang != 'ar' && lang != 'en',
    }" ng-click="setLang('')">{{$root.lang.DEFAULT}}</button>
  <button type="button" class="btn"
    ng-class="{
    'btn-default': lang != 'en',
    'btn-success': lang == 'en',
    }" ng-click="setLang('en')">{{$root.lang.EN}}</button>
  <button type="button" class="btn"
    ng-class="{
    'btn-default': lang != 'ar',
    'btn-success': lang == 'ar',
    }" ng-click="setLang('ar')">{{$root.lang.AR}}</button>
</div>
<ng-transclude></ng-transclude>
