<content-header>
<h3 class="landing_title"> {{pageTitle}} </h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <input-select-country></input-select-country>
  <translatable model="name"><input-name></input-name></translatable>
  <translatable model="description"><input-description></input-description></translatable>
  <input-submit id="edusys-save" is-loading="isLoading"></input-submit>
</form>
</content-header>

