<content-header>
<h3 class="landing_title">
  {{$root.lang.i18n(system, 'name') || pageTitle}}
  <a id="create-grade" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/create"
    class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
    {{$root.lang.creategrade}}
  </a>
  <a id="update-edusys" href="#/admin/country/{{countryid}}/educationalsystem/update/{{systemid}}"
    class="btn btn-primary pull-right flip"> <i class="fa"></i>
    {{$root.lang.update}}
  </a>
</h3>
<div class="clear"></div>
<h3 class="landing_title">
{{$root.lang.availablegrades}}
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'id'">
  <link-item title="{{$root.lang.i18n(entity, 'name')}}"
  href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{entity.id}}/">
    <button ng-click="remove(entity)"
      class="btn btn-default btn-sm btn-block remove-course" 
      id="remove-course-{{$index}}" 
      tooltip="{{$root.lang.del}}">
      <i class="fa fa-times"></i>
    </button>
  </link-item>
</div>
</content-header>
