<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <kv k="educational_system" v="{{$root.lang.i18n(model.system, 'name')}}" limit="30"></kv>
  <translatable model="name"><input-name></input-name></translatable>
  <translatable model="description"><input-description></input-description></translatable>
  <input-submit id="grade-save" is-loading="isLoading"></input-submit>
</form>
</content-header>

