<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a id="manage-plans"
     href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/plan"
     class="btn btn-primary pull-right flip"
    style="margin-left:5px;">
    <i class="fa fa-cog"></i> {{$root.lang.manageplans}} </a>
  <a id="manage-terms"
     href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/term"
     class="btn btn-primary pull-right flip"
    style="margin-left:5px;">
    <i class="fa fa-cog"></i> {{$root.lang.manageterms}} </a>
  <a id="manage-coupons"
     href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/coupons"
     class="btn btn-primary pull-right flip"
    style="margin-left:5px;">
    <i class="fa fa-cog"></i> {{$root.lang.managecoupons}} </a>
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'id'">
  <link-item
    href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription/{{::entity.student.id}}"
    title="{{::entity.student.user.full_name}}"
    description="{{::entity.student.user.email}}"
    entity="entity"
  >
  </link-item>
</div>
</content-header>
