<content-header>
<h3 class="landing_title">
  {{$root.lang.i18n(grade, 'name') || pageTitle}}
</h3>
<div class="clear"></div>
<h3 class="landing_title">
{{$root.lang.deletedcourses}}
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'name'" >
  <link-item title="{{$root.lang.i18n(entity, 'name')}}" class="course-{{entity.id}}" imgsrc="{{::entity.image}}">
	  <div class="row">
		  <button ng-click="undoDelete(entity)"
		    class="btn btn-success btn-sm btn-block">
		    <i class="fa fa-times"></i> {{$root.lang.undodelete}}
		  </button>
	  </div>
  </link-item>
</div>
</content-header>

