<content-header>
<h3 class="landing_title">
  {{$root.lang.i18n(grade, 'name') || pageTitle}}
  <a id="create-course" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/course/create"
    class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
    {{$root.lang.createcourse}} </a>
  <a id="manage-subsription" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/subscription"
    class="btn btn-primary pull-right flip"> <i class="fa fa-cog"></i>
    {{$root.lang.subscriptions}} </a>
  <a id="update-grade" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/update/{{gradeid}}"
    class="btn btn-primary pull-right flip"> {{$root.lang.update}} </a>
  <a id="delete-courses" href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/viewdeleted"
    class="btn btn-primary pull-right flip"> {{$root.lang.deletedcourses}} </a>
</h3>
<div class="clear"></div>
<h3 class="landing_title">
{{$root.lang.availablecourses}}
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'id'">
  <link-item title="{{$root.lang.i18n(entity, 'name')}}"
  href="#/admin/country/{{countryid}}/educationalsystem/{{systemid}}/grade/{{gradeid}}/course/{{entity.id}}"
  imgsrc="{{::entity.image}}">
  <div class="row">
    <li>
      <button ng-click="deactivate(entity)"
        class="btn btn-default btn-sm btn-block deactivate-course" id="deactivate-course-{{$index}}" tooltip="{{$root.lang.deactivateforstudent}}" tooltip-append-to-body="true" ng-if="!entity.disabled">
        <i class="fa fa-power-off"></i>
      </button>
      <button ng-click="activate(entity)"
        class="btn btn-default btn-sm btn-block activate-course" id="activate-course-{{$index}}" tooltip="{{$root.lang.activateforstudent}}" tooltip-append-to-body="true" ng-if="entity.disabled">
        <i class="fa fa-check"></i>
      </button>
    </li>
    <li>
      <button ng-click="remove(entity)"
        class="btn btn-default btn-sm btn-block remove-course" id="remove-course-{{$index}}" tooltip="{{$root.lang.del}}" tooltip-append-to-body="true" ng-if="!entity.is_deleted">
        <i class="fa fa-times"></i>
      </button>
    </li>
  </div>
  </link-item>
</div>
</content-header>
