<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<h4 ng-if="courses.length">{{$root.lang.courses}}</h4>
<div class="row" ng-if="courses.length">
	<div class="col-md-6" ng-repeat="course in courses">
    <course course="course" student="student" subscribed="true"></course>
	</div>
</div>
<h4 ng-if="subscribableCourses.length">{{$root.lang.availablecourses}}</h4>
<div class="row" ng-if="subscribableCourses.length">
	<div class="col-md-6" ng-repeat="course in subscribableCourses">
    <course course="course" student="student" subscribed="false"></course>
	</div>
</div>
</content-header>
