<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<div class="col-md-4" ng-repeat="plan in plans">
  <plan model="plan" subscribe="subscribe(plan)" showdetails="showdetails(plan)"></plan>
</div>
</content-header>
