<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <translatable model="name"><input-name></input-name></translatable>
  <input-select-help-viewers></input-select-help-viewers>
  <translatable model="description"><custom-editor attachment-relation="help"></custom-editor></translatable>
  <input-submit id="page-save" is-loading="isLoading"></input-submit>
</form>
</content-header>
