<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <input-select-term></input-select-term>
  <input-select-multi-courses></input-select-multi-courses>
  <input-select-multi-course-elements></input-select-multi-course-elements>
  <translatable model="name"><input-name></input-name></translatable>
  <input-fees></input-fees>
  <input-submit id="plan-save" is-loading="isLoading"></input-submit>
</form>
</content-header>
