<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.createfeedback}}</h3>
</div>
<div class="modal-body">
  
  <feedback-create></feedback-create>
  <button class="btn btn-warning btn-block" ng-click="cancel()">
    {{$root.lang.cancel}}</button>
</div>