<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.coupontitle}}</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
         close="closeAlert($index)">{{alert.msg}}</alert>
  <form name="form" ng-submit="form.$valid && subscribe()" novalidate>
  <div class="form-group">
  <label>{{$root.lang.couponcode}}</label>
  <input type="text" class="form-control" id="couponcode" name="couponcode"
         ng-model="model.couponcode" maxlength="100" minlength="16" required>

    <div ng-messages="form.couponcode.$error"
         ng-messages-include="views/messages.html"
         ng-if="form.$submitted || form.couponcode.$touched"></div>
</div>
  <button type="submit" class="btn btn-success btn-lg btn-block"
          ng-disabled="isDisabled">
    <i class="fa-pulse fa fa-spinner" ng-show='isLoading'></i> {{$root.lang.subscribe}}
  </button>
</form>
</div>
