<div class="modal-body addCourseElementResourceBody" style="clear:both">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <tabset justified="true">
  <tab active="topTabs[0]">
  <tab-heading><i class="fa fa-file-image-o"></i>
  {{$root.lang.images}}</tab-heading>

  <tabset justified="true" type="pills">
  <tab active="subTabs[0][0]">
  <tab-heading><i class="fa fa-list"></i></tab-heading>
  <div class="clear list-container">
    <course-element-attachment-list-item item="item" model="selected"
    ng-repeat="item in resources | filter:{name: filterName}"
    remove="remove(item)"> </course-element-attachment-list-item>
  </div>

  </tab>
  <tab active="subTabs[0][1]">
  <tab-heading><i class="fa fa-plus"></i></tab-heading>
  <form name="form" ng-submit="form.$valid && save('image')" novalidate>
    <translatable model="name"><input-name></input-name></translatable>
    <translatable model="description"><input-description></input-description></translatable>
    <div class="form-group">
      <input type="file" id="attachment" name="attachment"
      file-model="model.attachment" required/>
    </div>
    <input-submit is-loading="isLoading"></input-submit>
  </form>
  </tab>
  </tabset>

  </tab>
  <tab active="topTabs[1]">
  <tab-heading><i class="fa fa-superscript "></i>
  {{$root.lang.equations}}</tab-heading>

  <tabset justified="true" type="pills">
  <tab active="subTabs[1][0]">
  <tab-heading><i class="fa fa-list"></i></tab-heading>
  <div class="clear list-container">
    <course-element-attachment-list-item  item="item" model="selected"
    ng-repeat="item in resources | filter:{name: filterName}"
    remove="remove(item)">
    </course-element-attachment-list-item>
  </div>
  </tab>
  <tab active="subTabs[1][1]">
  <tab-heading><i class="fa fa-plus"></i></tab-heading>
  <form name="form" ng-submit="form.$valid && save('formula')" novalidate>
    <translatable model="name"><input-name></input-name></translatable>
    <translatable model="description"><input-description></input-description></translatable>
    <label for="formula"> {{$root.lang.equation}} </label>
    <div id="mathEditorInModal"></div>
    <input-submit is-loading="isLoading"></input-submit>
  </form>
  </tab>
  </tabset>

  </tab>
  <tab active="topTabs[2]">
  <tab-heading><i class="fa fa-paragraph"></i>
  {{$root.lang.paragraphs}}</tab-heading>

  <tabset justified="true" type="pills">
  <tab active="subTabs[2][0]">
  <tab-heading><i class="fa fa-list"></i></tab-heading>
  <div class="clear list-container">
    <course-element-attachment-list-item  item="item" model="selected"
    ng-repeat="item in resources | filter:{name: filterName}"
    remove="remove(item)">
    </course-element-attachment-list-item>
  </div>
  </tab>
  <tab active="subTabs[2][1]">
  <tab-heading><i class="fa fa-plus"></i></tab-heading>
  <form name="form" ng-submit="form.$valid && save('text')" novalidate>
    <translatable model="name"><input-name></input-name></translatable>
    <translatable model="description"><input-description></input-description></translatable>
    <div class="form-group">
      <label for="text"> {{$root.lang.content}} </label>
      <textarea class="form-control" name="text" id="text"
        ng-model="model.text" data-provide="markdown" data-iconlibrary="fa">
      </textarea>
    </div>
    <input-submit is-loading="isLoading"></input-submit>
  </form>
  </tab>
  </tabset>

  </tab>
  </tabset>

  <div class="col-md-12 text-center" ng-controller="PaginatorCtrl">
    <pagination total-items="pagination.total_count" ng-if="pagination"
    ng-model="pagination.page" rotate="false" class="pagination-sm"
    ng-show="pagination.total_count > pagination.limit" 
    next-text="{{$root.lang.next}}" previous-text="{{$root.lang.previous}}"
    items-per-page="20" max-size="5"></pagination>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()" id="modal_ok"
    ng-disabled="!selected.selected">{{$root.lang.ok}}</button>
  <button class="btn btn-warning" ng-click="cancel()"
    id="modal_cancel">{{$root.lang.cancel}}</button>
  <form name="searchform" class="searchform col-md-8" ng-hide="activeSubTab"
    role="search" ng-submit="searchform.$valid && search()" novalidate>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" ng-model="filterName" 
      placeholder="{{$root.lang.search}}" aria-describedby="{{$root.lang.search}}">
    </div>
  </form>
</div>
