<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.addcourse}}</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  <input-select-multi-courses></input-select-multi-courses>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" id="modal_ok">OK</button>
  <button class="btn btn-warning" ng-click="cancel()" id="modal_cancel">Cancel</button>
</div>
