<div class="modal-header">
    <h3 class="modal-title">{{$root.lang.selectcourseelements}}</h3>
</div>
<form name="form" ng-submit="form.$valid && ok()" novalidate ng-init="TYPE=$root.USER.type">
  <div class="modal-body">
  	<alert ng-repeat="alert in alerts" type="{{alert.type}}"
         close="closeAlert($index)">{{alert.msg}}</alert>
         <input-select-multi-course-element-subs>
         </input-select-multi-course-element-subs>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()" id="modal_ok">OK</button>
      <button class="btn btn-warning" ng-click="cancel()" id="modal_cancel">Cancel</button>
  </div>
</form>
