<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.createobjective}}</h3>
</div>
<div class="modal-body">
  <button id="addbulk" type="button" class="btn btn-primary pull-right flip"
          ng-click="addBulk()"> <i class="fa fa-plus"></i>
    {{$root.lang.addquestionsbulk}} </button>
  <objective-create></objective-create>
  <button class="btn btn-warning btn-block" ng-click="cancel()">
    {{$root.lang.cancel}}</button>
</div>
