<div class="modal-header">
  {{$root.lang.related_elements}}
</div>
<div class="modal-body">
  <listelements elements="elements" hidden-type="elementtype"
  ng-if="loaded"></listelements>
  <div class="clearfix"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger bt-sm" ng-click="cancel()">
    {{$root.lang.close}}</button>
  <button class="btn btn-danger bt-sm" ng-click="remove()"
    ng-disabled="elements.length">{{$root.lang.del}}</button>
</div>
