<div class="modal-header">
    <h3> 
    	{{$root.lang.equationInsert}}
    </h3>
</div>
<div class="modal-body">
	<form name="form" ng-submit="form.$valid && save('formula')" novalidate>
		<translatable model="name"><input-name></input-name></translatable>
		<label for="formula"> {{$root.lang.equation}} </label>
		<div id="mathEditorInModal"></div>
		<input-submit is-loading="isLoading"></input-submit>
	</form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()"
    id="modal_cancel">{{$root.lang.cancel}}</button>
</div>