<div class="modal-header">
    <h3 class="modal-title">{{$root.lang.skippedquestions}}</h3>
</div>
<div class="modal-body">
    {{$root.lang.error_skipped_questions}}
    <ul>
        <li ng-repeat="skippedQuestionId in skippedQuestionsList">
            <a ng-click="jump({{skippedQuestionId}})">{{ skippedQuestionId  + 1}}</a>
        </li>
    </ul>
    {{$root.lang.gobacktoexamandanswerquestions}}
</div>
<div class="modal-footer">
<button class="btn btn-warning" ng-click="cancel()">{{$root.lang.goback}}</button>
<button class="btn btn-primary" ng-click="ok()">{{$root.lang.finish}}</button>
</div>