<div class="modal-header">
    <h3 class="modal-title">{{$root.lang.next}} {{$root.lang.question}}</h3>
</div>
<div class="modal-body">
    <ul>
        {{$root.lang.questionsunanswered}} {{$root.lang.skipdemand}}
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{$root.lang.skip}}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{$root.lang.goback}}</button>
</div>
