<div class="modal-header ">
  <h3> 
    {{pageTitle}}
  </h3>
</div>

<div class="modal-body">
<!--  <link-item ng-repeat="element in attachmentsElements | orderBy:'name'" 
   title="{{element.name}}" href="">
    <button ng-click="remove(element)"
      class="btn btn-default btn-sm" id="remove-course" tooltip="{{$root.lang.del}}">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-success flip" ng-click="use(element)"
      tooltip="{{$root.lang.select}}" tooltip-placement="bottom">
      <i class="fa fa-check"></i>
    </button>    
  </link-item>
-->
  <div class="btn-group" role="group">
    <button class="btn btn-primary flip" ng-click="selectFile()">
        {{$root.lang.uploadImage}}
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success"
      ng-click="saveImage()"> 
      <i class="fa fa-spinner fa-spin" ng-show='isLoading'></i>
      <i class="fa fa-floppy-o" ng-show='!isLoading'></i> {{$root.lang.save}}
    </button>
  </div>
  <div>{{attachment.name}}</div>
  <input type="file" id="attachment" name="attachment" file-model="attachment" class="hidden"/>
</div>

<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()"
    id="modal_cancel">{{$root.lang.cancel}}</button>
</div>
