<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.objective}}</h3>
</div>
<div class="modal-body">
<div class="row" ng-if="objectives.length && loading">
  <div class="col-md-12" ng-repeat="objective in objectives">
<a href ng-click="viewObjective('{{$index}}')" class="linkitem">
  <h3 class="">{{objective.title}}</h3></a>
  </div>
</div>
 <div class="row text-center" ng-if="!objectives.length && loading">
   <h3>{{$root.lang.noobjectives}}</h3>
 </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createObjective(); cancel()">
    {{$root.lang.createobjective}} <i class="fa fa-plus"></i></button>
  <button class="btn btn-warning" ng-click="cancel()">
    {{$root.lang.cancel}}</button>
</div>
