<div class="modal-header">
    <h3 class="modal-title">{{$root.lang.addcourse}}</h3>
</div>
<form name="form" ng-submit="form.$valid && ok()" novalidate>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}"
        close="closeAlert($index)">{{alert.msg}}</alert>
        <input-select-country></input-select-country>
        <input-select-educational-system></input-select-educational-system>
        <input-select-grade ></input-select-grade>
        <input-select-course ></input-select-course>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="modal_ok">
            <i class="fa-pulse fa fa-spinner fa-spin" ng-show='isLoading'></i> {{$root.lang[title] || $root.lang.save}}
        </button>
        <button class="btn btn-warning" ng-click="cancel()" id="modal_cancel">Cancel</button>
    </div>
</form>
