
<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.updatequestionsbulk}}</h3>
</div>
<div class="modal-body">

  <input-select-difficulty></input-select-difficulty>
  <input-select-questions-type></input-select-questions-type>

  <div class="form-group">
    <label id="questions_count_label">{{$root.lang.questionscount}}</label>
    <input type="number" class="form-control" name="count" id="count"
    ng-model="model.count" required/>
  </div>

  <div class="form-group">
    <input-description></input-description>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" id="modal_ok">OK</button>
  <button class="btn btn-warning" ng-click="cancel()" id="modal_cancel">Cancel</button>
</div>
