<div class="modal-header">
  {{$root.lang.users}}
</div>
<div class="modal-body">
  <listprofiles userlist="userlist"></listprofiles>
  <div class="clearfix"></div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger bt-sm" ng-click="cancel()">{{$root.lang.close}}</button>
</div>
