<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.question}}</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="col-md-12">
    <question-preview></question-preview>
  </div>
</div>
</div>
<div class="modal-footer">
  
  <button class="btn btn-primary pull-left flip" ng-click="edit()">{{$root.lang.edit}}</button>

  <button class="btn btn-warning" ng-if="current_index+1 < allquestions.length" ng-click="next()">
        {{$root.lang.next}}
  </button>
  <button class="btn btn-warning" ng-if="current_index-1 > 0" ng-click="previous()">
        {{$root.lang.previous}}
  </button>

  <button class="btn btn-success" ng-click="accept()">
        {{$root.lang.acceptquestion}}
  </button>
  <button class="btn btn-primary" ng-click="cancel()">
    {{$root.lang.cancel}} 
  </button>
  
  
</div>
