<div class="modal-header">
<h3 class="modal-title">{{$root.lang.objective}} {{$root.lang.view}}</h3>
</div>
<div class="modal-body">
<objective-view model="model" cancel="cancel()"></objective-view>
  <button class="btn btn-warning btn-block" ng-click="cancel()">
    {{$root.lang.cancel}}</button>
</div>
