<div class="modal-header">
  <h3 class="modal-title">{{$root.lang.questions}}</h3>
</div>
<div class="modal-body">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="col-md-12">
    <question-preview></question-preview>
      <button class="btn btn-success" ng-click="previous()" ng-if="currentIndex!=0">
        {{$root.lang.previous}}
      </button>
      <button class="btn btn-success" ng-click="next()" ng-if="currentIndex < questions.length">
        {{$root.lang.next}}
      </button>
      <button class="btn btn-warning" ng-click="reject()">
        {{$root.lang.rejectquestion}}
      </button>
  </div>
</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">
    {{$root.lang.ok}} <i class="fa"></i></button>
</div>
