<content-header>
<h3 class="landing_title"> {{author.user.full_name || pageTitle}} </h3>
<link-item class="col-md-6" ng-repeat="question in questions"
title="{{$root.lang.question}} {{::question.id}}" 
description="
  {{$root.lang.difficulty}}: {{$root.lang['type_' + question.difficulty]}} -
  {{$root.lang.questionstype}}: {{$root.lang['type_' + question.question_type]}}
"
href="#/admin/author/{{authorid}}/question/{{question.id}}"></link-item>
</content-header>

