<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <button class="btn btn-success pull-right flip" ng-click="activate()"
    ng-if="model && model.user && !model.user.is_active">
    {{$root.lang.activate}}
  </button>
</h3>
<staff-member model="model" type="author"></staff-member>
<div class="clearfix"></div>
<author-high-chart model="questions"></author-high-chart>
</content-header>

