<div class="test_container container">
    <div class="row">
        <breadcrumbs crumbs="crumbs"></breadcrumbs>
        <div class="main-inner">
          
          <div class="col-md-3">
            <div class="faq-navigation">
                <ul ng-repeat="page in pages | orderBy:'id':true">
                    <li><a href="#/author/help/{{page.id}}" data-faq="faq-1" ng-class="{active: page.isActive}">{{page.name}}</a></li>
                </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="faq-content">
                <div class="faq active" id="faq-1">
                    <span marked="currentpage.description"></span>
                </div>
                
            </div>
            <div class="clear"></div>
          </div>

        </div>
    </div>
</div>
