<content-header>
  <h3 class="landing_title"> 
    {{pageTitle}}
  </h3>
  <div class="clear"></div>
  <div class="col-md-6" ng-repeat="page in pages | orderBy:'name'">
    <link-item title="{{$root.lang.i18n(page, 'name')}}"
      href="#/admin/help_pages/update/{{page.id}}">

      <button ng-click="remove(page)"
      class="btn btn-default btn-sm" id="remove-course" tooltip="{{$root.lang.del}}">
      <i class="fa fa-times"></i>
    </button>

    </link-item>
  </div>

</content-header>