<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<form name="form" ng-submit="form.$valid && save()" novalidate>
  <translatable model="name"><input-name></input-name></translatable>
  <input-submit id="country-save" is-loading="isLoading"></input-submit>
</form>
</content-header>

