<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a href="#/admin/country/educationalsystem/create"
    class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
    {{$root.lang.create}}
  </a>
  <a href="#/admin/country/educationalsystem/grade/create"
    class="btn btn-primary pull-right flip" style="margin-left:5px;"
    ng-show="entities.length"> <i class="fa fa-plus"></i>
    {{$root.lang.creategrade}}
  </a>
</h3>
<link-item class="col-md-4" title="{{entity.name}}"
href="#/admin/educationalsystem/update/{{entity.id}}"
ng-repeat="entity in entities" description="{{entity.country.name}}"></link-item>
</content-header>
