<content-header>
<h3 class="landing_title">
  {{$root.lang.i18n(country, 'name') || pageTitle}}
  <a id="create-edusys" href="#/admin/country/{{countryid}}/educationalsystem/create"
    class="btn btn-primary pull-right flip"> <i class="fa fa-plus"></i>
    {{$root.lang.createeducationalsystem}}
  </a>
  <a id="update-country" href="#/admin/country/update/{{countryid}}"
    class="btn btn-primary pull-right flip"> <i class="fa"></i>
    {{$root.lang.update}}
  </a>
</h3>
<div class="clear"></div>
<h3 class="landing_title">
{{$root.lang.availableeducationalsystems}}
</h3>
<div class="col-md-6" ng-repeat="entity in entities | orderBy:'id'">
  <link-item title="{{$root.lang.i18n(entity, 'name')}}"
  href="#/admin/country/{{countryid}}/educationalsystem/{{entity.id}}"></link-item>
</div>
</content-header>
