<alert ng-repeat="alert in alerts" type="{{alert.type}}"
close="closeAlert($index)">{{alert.msg}}</alert>
<div class="thanks_content" ng-show="registered">
  <div class="thanks">
    <div class="col-md-3 text-left right"><img src="images/correct.png"></div>
    <div class="col-md-5 left">
      <h1>{{$root.lang.activationthankstitle}}</h1>
      <p>{{$root.lang.activationthankmsg}}</p>
      <a title="{{$root.lang.login}}" href="#/login" class="btn btn-success btn-lg">{{$root.lang.login}}</a>
    </div>
    <div class="col-md-2"><img src="images/thanks.png" alt=""></div>
    <div class="clear"></div>
  </div><!-- thanks -->
</div>
<div class="thanks_content text-center" ng-show="!registered">
  <h1>{{$root.lang.activating}}</h1>
</div>
