<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<link-item class="col-md-6" title="educationalsystems" href="#/admin/country/"
imgsrc="images/edusystem.png"></link-item>
<link-item class="col-md-6" title="reviewers" href="#/admin/reviewer/"
imgsrc="images/reviewers.png"></link-item>
<link-item class="col-md-6" title="authors" href="#/admin/author/"
imgsrc="images/authors.png"></link-item>
<link-item class="col-md-6" title="sme" href="#/admin/sme/"
imgsrc="images/sme.png"></link-item>
<link-item class="col-md-6" title="invitations" href="#/admin/invitations/"
imgsrc="images/authors.png"></link-item>
<link-item class="col-md-6" title="courseelementtypes" href="#/admin/element_type/"
imgsrc="images/icn03.png"></link-item>
  <link-item class="col-md-6" title="users" href="#/admin/users_list/"
             imgsrc="images/icn17.png"></link-item>
<link-item class="col-md-6" title="helppages" href="#/admin/help_pages/"
             imgsrc="images/helppages.png"></link-item>
</content-header>
