<div class="container">
	<div class="col-md-12 facebookAuth">
		<span class="fa-stack fa-lg">
			<i class="fa fa-square fa-stack-2x"></i>
			<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</span>
		<h4>
			{{$root.lang.waitingFacebook}}
		</h4>
	</div>
</div>