<div class="container" ng-hide="registered">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="login">
        <div class="login_content signup_form col-md-5 col-center">
            <div class="col-md-9">
              <h4>{{$root.lang.completeRegisteration}}</h4>
            </div>
            <small-language-btns></small-language-btns>
            <hr class="clear">
            <form name="form" ng-submit="form.$valid && register()"  novalidate>
                <input-password></input-password>
                <input-cpassword></input-cpassword>
                <div class="form-group type">
                    <label>{{$root.lang.type}}</label>
                    <br>
                    <div class="btn-group">
                        <label id="student" class="btn btn-primary" ng-model="model.user_type" btn-radio="'student'">{{$root.lang.student}}</label>
                        <label id="parent" class="btn btn-primary" ng-model="model.user_type" btn-radio="'parent'">{{$root.lang.parent}}</label>
                        <label id="privateteacher" class="btn btn-primary" ng-model="model.user_type" btn-radio="'privateteacher'">{{$root.lang.privateteacher}}</label>
                        <label id="schooladmin" class="btn btn-primary" ng-model="model.user_type" btn-radio="'schooladmin'">{{$root.lang.school}}</label>
                    </div>
                    <input-select-country></input-select-country>
                    <input-select-multi-educational-systems ng-if="model.user_type == 'schooladmin'">
                    </input-select-multi-educational-systems>
                    <input-select-grade ng-if="model.user_type == 'student'"></input-select-grade>
                    <div id="schoolname" class="form-group" ng-show="model.user_type == 'student' || model.user_type == 'schooladmin'">
                        <label> {{$root.lang.schoolname}}</label>
                        <input type="text" class="form-control" ng-model="model.schoolname"
                        ng-model-options="{debounce: {default: 500}, blur: 0}" />
                          <div ng-messages="form.schoolname.$error"
                            ng-messages-include="views/messages.html"
                            ng-if="form.$submitted || form.schoolname.$touched"></div>
                    </div>
                        <div ng-messages="form.user_type.$error" ng-messages-include="views/messages.html"
                        ng-if="form.$submitted || form.user_type.$touched"></div>
                    </div>
                <input-acceptlicence></input-acceptlicence>
                <input-submit title='register'></input-submit>
            </form>
        </div>
    </div>
</div>
