<div class="container forgot_password">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="col-md-6 col-md-offset-2 col-sm-8">
    <div class="forgot_content">
      <h2>{{$root.lang.forgotpasswordtitle}}</h2>
      <p>{{$root.lang.forgotpasswordmsg}}</p>
      <form name="form" ng-submit="form.$valid && sendMail()" novalidate>
        <input-email></input-email>
        <input-submit title="send" is-loading="isLoading"></input-submit>
      </form>
    </div><!-- forgot_content -->
  </div>
  <div class="col-md-4 col-sm-2 hidden-xs">
    <img src="images/forgot.png" alt="">
  </div>
</div>
