
<!-- thanks_content -->
<div class="thanks_content" ng-show="registered">
  <div class="thanks">
    <div class="col-md-3 text-left right"><img ng-src="images/correct.png"></div>
    <div class="col-md-5 left">
      <h1>{{$root.lang.invitationthankstite}}</h1>
      <p>{{$root.lang.invitationthanksmsg}}</p>
      <a title="{{$root.lang.login}}" href="#/login" class="btn btn-success btn-lg">{{$root.lang.login}}</a>
    </div>
    <div class="col-md-2"><img ng-src="images/thanks.png" alt=""></div>
    <div class="clear"></div>
  </div><!-- thanks -->
</div>

<script type="text/ng-template" id="messages">
  <div class="validation error red" ng-message="required">{{$root.lang.error_required_field}}</div>
  <div class="validation error red" ng-message="minlength">{{$root.lang.error_min_length}}</div>
  <div class="validation error red" ng-message="maxlength">{{$root.lang.error_max_length}}</div>
</script>

<div class="container" ng-hide="registered">


  <div class="login">

    <alert ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="login_content signup_form col-md-5 col-center">
      <h4>{{$root.lang.register}}</h4>
      <!-- Registeration form -->
      <form name="form" ng-submit="form.$valid && register(form)"  novalidate>
        <div class="login_form">
          <div class="text-center">
            <a href="" class="login_fb">
              <span><img ng-src="images/facebook.png">{{$root.lang.fblogin}}</span>
            </a>
          </div>
          <img ng-src="images/or.png" alt=""/>

          <div class="form-group">
            <label>{{$root.lang.name}}</label>
            <input id="full_name" name="full_name" type="text" class="form-control"
            minlength="3" maxlength="100" ng-model="model.full_name" required/>
            <div ng-messages="form.full_name.$error" ng-messages-include="messages"
              ng-if="form.$submitted || form.full_name.$touched">
            </div>
          </div>

          <div class="form-group">
            <label>{{$root.lang.password}}</label>
            <input id="password" name="password" type="password" class="form-control"
            minlength="6" maxlength="20" ng-model="model.password" required
            ng-model-options="{debounce: {default: 500}, blur: 0}" />
            <div ng-messages="form.password.$error" ng-messages-include="messages"
              ng-if="form.$submitted || form.password.$touched">
            </div>
            <div class="clear"></div>
          </div>

          <div class="form-group">
            <label>{{$root.lang.confirmpassword}}</label>
            <input id="cpassword" name="cpassword" type="password"
            class="form-control" minlength="6" maxlength="20"
            ng-model="model.cpassword" required
            ng-model-options="{debounce: {default: 500}, blur: 0}" />
            <div ng-messages="form.cpassword.$error" ng-messages-include="messages"
              ng-if="form.$submitted || form.cpassword.$touched"></div>
          </div>

          <input-select-country></input-select-country>
          
          <input-select-educational-system ng-if="model.user_type == 'student'"></input-select-educational-system>          

          <input-select-grade ng-if="model.user_type == 'student'"></input-select-grade>


          <div id="schoolname" class="form-group" ng-show="model.user_type == 'student'">
            <label> {{$root.lang.schoolname}}</label>
            <input type="text" class="form-control" ng-model="model.schoolname"
            ng-model-options="{debounce: {default: 500}, blur: 0}" />
            <div ng-messages="form.schoolname.$error" ng-messages-include="messages"
              ng-if="form.$submitted || form.schoolname.$touched"></div>
          </div>

          <div class="row form-group">
            <label>{{$root.lang.securitycheck}}</label>
            <div re-captcha ng-model="model.captcha"></div>
            <reloadcaptcha></reloadcaptcha>
          </div>

          <div class="form-group">
            <span class="check">
              <input type="checkbox" name="accept" id="accept"
              ng-model="model.accepted" required/>
              <label for="accept">{{$root.lang.agreeon}}
                <a href="">{{$root.lang.licenceagreement}}</a></label>
              <div ng-messages="form.accepted.$error" ng-messages-include="messages"
                ng-if="form.$submitted"></div>
            </span>
          </div>

          <div class="form-group">
            <input type="submit" value="{{$root.lang.register}}" class="btn btn-success btn-lg btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

