<div class="container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="login">
      <div class="login_content col-md-5 col-center">
        <div class="col-md-8">
          <h4>{{$root.lang.signin}}</h4>
        </div>
        <small-language-btns></small-language-btns>
        <hr class="clear">
        <form name="form" ng-submit="form.$valid && login()" novalidate>
          <div class="login_form">
            <div class="text-center">
              <a href="" ng-click="fbLogin()" class="login_fb">
                <span><img ng-src="images/facebook.png">{{$root.lang.fblogin}}</span>
              </a>
            </div>
            <img ng-src="images/or.png" class="img-or"
            ng-if="$root.LANG_DIRECTION === 'rtl'" alt=""/>
            <img ng-src="images/or-en.png" class="img-or"
            ng-if="$root.LANG_DIRECTION !== 'rtl'" alt=""/>

            <input-email></input-email>
            <input-password></input-password>

            <div class="form-group">
              <span class="check">
                <input type="checkbox" name="rememberme" id="rememberme"
                ng-model="model.rememberme" ng-checked="true"/>
                <label for="rememberme">{{$root.lang.rememberme}}</label>
              </span>
              <div class="clear"></div>
              <a href="#/forgotpassword" class="forgot">{{$root.lang.forgotpassword}}</a>
            </div>

            <input-submit is-loading="isLoading" title='signin'></input-submit>
          </div>
        </form>
      </div>
      <br>
      <p class="text-center">{{$root.lang.donothaveanaccount}}
      <a href="#/register"> {{$root.lang.registerhere}} </a>
      </p>
    </div><!-- login -->
  </div>
  <div class="push"></div>
