<content-header>
<div id="charts">
  <h4>{{$root.lang.educational_level_report}}</h4>
  <div class="search-form">
    <form id="search-form" novalidate>

      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <div class="form-group">
            <label>من تاريخ</label>
            <input type="text" value="11/11/2013" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>إلى تاريخ</label>
            <input type="text" value="11/20/2013" class="form-control">
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <label>المحافظة</label>
          <select class="custom-combobox" style="width:140px">
            <optgroup label="القاهرة الكبرى">
              <option value="القاهرة">القاهرة</option>
              <option value="الجيزة">الجيزة</option>
              <option value="الاسكندرية">الاسكندرية</option>
              <option value="القليوبية">القليوبية</option>
            </optgroup>
            <optgroup label="آخرى">
              <option value="المنصورة">المنصورة</option>
              <option value="المنوفية">المنوفية</option>
            </optgroup>
          </select>
        </div>
        <div class="col-md-2">
          <label>المديرية التعليمية</label>
          <select class="custom-combobox" style="width:140px">
            <option value="المنصورة">شرق القاهرة</option>
            <option value="المنوفية">غرب القاهرة</option>
            <option value="المنوفية">وسط القاهرة</option>
            <option value="المنوفية">جنوب القاهرة</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>نوع التعليم</label>
          <select class="custom-combobox" style="width:140px">
            <option value="المنصورة">حكومي</option>
            <option value="المنوفية">تجريبي</option>
            <option value="المنوفية">خاص</option>
            <option value="المنوفية">لغات</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>المرحلة التعليمية</label>
          <select class="custom-combobox" style="width:140px">
            <option value="المنصورة">الجميع</option>
            <option value="المنصورة">اولى ابتدائى</option>
            <option value="المنوفية">ثانية ابتدائي</option>
            <option value="المنوفية">ثالثة ابتدائى</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>المادة العلمية</label>
          <select class="custom-combobox" style="width:140px">
            <option value="المنصورة">عربي</option>
            <option value="المنوفية">حساب</option>
            <option value="المنوفية">لغة انجليزية</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <!-- <img src="images/ajax-loader.gif" id="loader" alt="loader" /> -->
  <div id="stats" class=>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="tiles white added-margin col-md-2 text-center">
        <div class="tiles-body bg-primary">
          <div class="tiles-title">إجمالي عدد الطلاب</div>
          <div class="heading">
            <span class="animate-number" data-value="2545665" data-animation-duration="1000">000</span>
          </div>
          <div class="description">
            <i class="icon-custom-up"></i>
            <span class="text-white mini-description ">&nbsp; ٤٪ أكثر
              <span class="blend">من الشهر الماضي</span>
            </span>
          </div>
        </div>
      </div>
      <div class="tiles added-margin col-md-2 text-center">
        <div class="tiles-body bg-success">
          <div class="tiles-title">إجمالي عدد المدارس</div>
          <div class="heading">
            <span class="animate-number" data-value="2545665" data-animation-duration="1000">000</span>
          </div>
          <div class="description">
            <i class="icon-custom-up"></i>
            <span class="text-white mini-description ">&nbsp; ٤٪ أكثر
              <span class="blend">من الشهر الماضي</span>
            </span>
          </div>
        </div>
      </div>
      <div class="tiles blue added-margin col-md-2 text-center">
        <div class="tiles-body bg-info">
          <div class="tiles-title">إجمالي عدد المدرسين</div>
          <div class="heading">
            <span class="animate-number" data-value="2545665" data-animation-duration="1000">000</span>
          </div>
          <div class="description">
            <i class="icon-custom-up"></i>
            <span class="text-white mini-description ">&nbsp; ٤٪ أكثر
              <span class="blend">من الشهر الماضي</span>
            </span>
          </div>
        </div>
      </div>
      <div class="tiles green added-margin col-md-2 text-center">
        <div class="tiles-body bg-warning">
          <div class="tiles-title">إجمالي عدد الامتحانات</div>
          <div class="heading">
            <span class="animate-number" data-value="66415" data-animation-duration="1000">000</span>
          </div>
          <div class="description">
            <i class="icon-custom-up"></i>
            <span class="text-white mini-description ">&nbsp; ٤١٪ أكثر
              <span class="blend">من الشهر الماضي</span>
            </span>
          </div>
        </div>
      </div>
      <div class="tiles purple added-margin col-md-2 text-center">
        <div class="tiles-body bg-danger">
          <div class="tiles-title">إجمالي عدد الأسئلة</div>
          <div class="heading">
            <span class="animate-number" data-value="25665" data-animation-duration="1000">000</span>
          </div>
          <div class="description">
            <i class="icon-custom-up"></i>
            <span class="text-white mini-description ">&nbsp; ٢٣٪ أكثر
              <span class="blend">من الشهر الماضي</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <div class="box" style="margin-left:60px">
          <h3>رسم بياني توضيحي لنسبة الطلبة الناجحين</h3>
          <div id="area-example"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box" style="position:relative">
          <h3>تقسيم الطلبة حسب تفوقهم العلمي</h3>
          <div id="donut-example" style="height:350px;"></div>
          <span style="display: block;position: absolute;bottom: 115px;left: 260px;color: #000;">طالب</span>
        </div>
      </div>
    </div>
    <br class="clear" />
    <br/>
    <br/>
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
      <div class="box nT" style="width:920px;float:none;margin-right:4px;">
        <h3>رسم بياني توضيحي لنسبة النجاح لكل مرحلة في مادة اللغة العربية</h3>
        <div id="placeholder-bar-chart" style="height:250px"></div>
      </div>
    </div>
  </div>
</div>

</content-header>
