<div class="validation error red" ng-message="required">{{$root.lang.error_required_field}}</div>
<div class="validation error red" ng-message="minlength">{{$root.lang.error_min_length}}</div>
<div class="validation error red" ng-message="maxlength">{{$root.lang.error_max_length}}</div>
<div class="validation error red" ng-message="min">{{$root.lang.error_min_value}}</div>
<div class="validation error red" ng-message="number">{{$root.lang.error_valid_number}}</div>