<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<ul>
  <div class="col-md-4">
    <li class="col-md-12 bordered-block text-center">
    <div class="col-md-12 text-center">
      <span class="img">
        <img ng-src='images/default-user-icon-profile.png'alt="img" title="img"
        width="183" height="183" class="img-circle img-responsive"/>
      </span>
    </div>
    <div class="col-md-12">
      <span class="txt"> &nbsp; </span>
    </div>
    <div class="col-md-12">
      <a class="btn btn-info btn-lg add2 btn-block" href="#/parent/add">
        {{$root.lang.addson}}</a>
    </div>
    <div class="clear"></div>
    </li>
  </div>
  <div class="col-md-4" ng-repeat="son in sons">
    <li class="col-md-12 bordered-block text-center">
    <div class="col-md-12 text-center">
      <span class="img">
        <img ng-src="{{son.user.avatar || 'images/default-user-icon-profile.png'}}"
        alt="img" title="img" width="183" height="183"
        class="img-circle img-responsive"/>
      </span>
    </div>
    <div class="col-md-12">
      <span class="txt">{{son.user.full_name}}</span>
    </div>
    <div class="col-md-12">
      <a href="#/parent/son/{{::son.id}}" class="btn btn-success btn-lg btn-block">
        <i class="fa fa-line-chart"></i> {{$root.lang.reportsandgrades}} </a>
    </div>
    <div class="clear"></div>
    </li>
  </div>
</ul>
</content-header>
