<content-header>
  <h3 class="landing_title">{{pageTitle}}
    <a ng-if="courses.length" href="#/{{::TYPE}}/invite" class="btn btn-primary pull-right flip" style="margin-left:5px;">
      <i class="fa fa-plus"></i>
      {{$root.lang.invitestudent}}
    </a>
    <a ng-click="addCourse()" class="btn btn-primary pull-right flip" style="margin-left:5px;">
      <i class="fa fa-plus"></i>
      {{$root.lang.addcourse}}
    </a>
  </h3>
  <div class="teacher_landing">
    <teacher-courses-list></teacher-courses-list>

    <!-- <div class="col-md-6">
      <div class="bordered-block">
        <div class="overlay">
          <a  class="btn btn-success btn-lg addSubject">+ {{$root.lang.addcourse}}</a>
        </div>
        <div class="col-md-2"><img src="images/arabic.png" alt=""></div>
        <div class="col-md-5">
          <h2>
            <a href="groups.html" class="inheritColor">اللغة العربية</a>
            <br>
            <small><a href="groups.html" class="inheritColor">الصف الثاني الإبتدائي</a></small>
          </h2>
        </div>
        <div class="col-md-5">
          <div class="buttons">
            <a href="#/privateteacher/course/exam/create" class="btn btn-danger btn-block">{{$root.lang.createexam}}</a>
            <a href="#/privateteacher/course/homeword/create"
               class="btn btn-danger btn-block">{{$root.lang.createhw}}</a>
            <a href="#/privateteacher/course/exam/reports" class="btn btn-success btn-block">{{$root.lang.reports}}</a>
            <a href="#/privateteacher/group" class="btn btn-success btn-block">{{$root.lang.groups}}</a>
          </div>
        </div>
        <br class="clear"/>
      </div>
    </div> -->
  </div>
</content-header>
