
<!-- thanks_content -->
<div class="thanks_content" ng-if="registered">
  <!-- Facebook Conversion Code for Registrations -->
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6022539515365', {'value':'0.00','currency':'USD'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6022539515365&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
  <!-- End Facebook Conversion Code for Registrations -->
  <div class="thanks">
    <div class="col-md-3 text-left right"><img ng-src="images/correct.png"></div>
    <div class="col-md-5 left">
      <h1>{{$root.lang.registerthankstite}}</h1>
      <p>{{$root.lang.registerthanksmsg}}</p>
      <a title="{{$root.lang.login}}" href="#/login" class="btn btn-success btn-lg">{{$root.lang.login}}</a>
    </div>
    <div class="col-md-2"><img ng-src="images/thanks.png" alt=""></div>
    <div class="clear"></div>
  </div><!-- thanks -->
</div>

<div class="container" ng-if="!registered">
  <div class="login">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}"
    close="closeAlert($index)">{{alert.msg}}</alert>

    <div class="login_content signup_form col-md-5 col-center">
      <div class="col-md-8">
        <h4>{{$root.lang.register}}</h4>
      </div>
      <small-language-btns></small-language-btns>
      <hr class="clear">
      <!-- Registration form -->
      <form name="form" ng-submit="form.$valid && register()"  novalidate>
        <div class="login_form">
            <div class="text-center">
                <a href="#/fblogin" class="login_fb">
                    <span><img ng-src="images/facebook.png">{{$root.lang.fblogin}}</span>
                </a>
            </div>
            <img ng-src="images/or.png" class="img-or"
            ng-if="$root.LANG_DIRECTION === 'rtl'" alt=""/>
          <img ng-src="images/or-en.png" class="img-or"
          ng-if="!$root.LANG_DIRECTION || $root.LANG_DIRECTION !== 'rtl'" alt=""/>
          <input-fullname></input-fullname>

          <div class="form-group">
            <label>{{$root.lang.email}}</label>
            <input id="email" name="email" type="email" class="form-control"
            maxlength="100" ng-model="model.email" required
            email-available-validator
            ng-model-options="{debounce: {default: 500}, blur: 0}" />
            <div ng-if="form.email.$pending">
              {{$root.lang.checking_email}}
            </div>
            <div ng-messages="form.email.$error" ng-messages-include="views/messages.html"
                 ng-if="form.$submitted || form.email.$touched">
                 <div ng-message="email">{{$root.lang.error_email}}</div>
                 <div ng-message="emailAvailable" class="red">{{$root.lang.error_email_exists}}</div>
            </div>
          </div>

          <input-password></input-password>
          <input-cpassword></input-cpassword>

          <div class="form-group type">
            <label>{{$root.lang.type}}</label>
            <br>
            <div class="btn-group btn-group-responsive btn-group-register">
              <label id="student" name="user_type" class="btn btn-primary" ng-model="model.user_type"  required btn-radio="'student'">{{$root.lang.student}}</label>
              <label id="parent" name="user_type" class="btn btn-primary" ng-model="model.user_type" required btn-radio="'parent'">{{$root.lang.parent}}</label>
              <label id="privateteacher" class="btn btn-primary" ng-model="model.user_type" required btn-radio="'privateteacher'">{{$root.lang.privateteacher}}</label>
              <label id="schooladmin" class="btn btn-primary" ng-model="model.user_type" required btn-radio="'schooladmin'">{{$root.lang.school}}</label>
            </div>
            <div ng-messages="form.user_type.$error" ng-messages-include="views/messages.html" ng-if="form.$submitted || form.user_type.$touched">
            </div>
          </div>

            <input-select-country></input-select-country>

            <input-select-multi-educational-systems
            ng-if="model.user_type == 'schooladmin'">
            </input-select-multi-educational-systems>
            <input-select-educational-system
            ng-if="model.user_type == 'student'"></input-select-educational-system>
            <input-select-grade ng-if="model.user_type == 'student'"></input-select-grade>

          <div id="schoolname" class="form-group" ng-show="model.user_type == 'student' || model.user_type == 'schooladmin'">
            <label> {{$root.lang.schoolname}}</label>
            <input type="text" class="form-control" ng-model="model.schoolname"
            ng-model-options="{debounce: {default: 500}, blur: 0}" />
              <div ng-messages="form.schoolname.$error"
                ng-messages-include="views/messages.html"
                ng-if="form.$submitted || form.schoolname.$touched"></div>
          </div>

          <div class="form-group">
            <label>{{$root.lang.securitycheck}}</label>
            <div re-captcha ng-model="model.captcha"></div>
            <reloadcaptcha></reloadcaptcha>
          </div>

          <input-acceptlicence></input-acceptlicence>
          <input-submit is-loading="isLoading" title='register'></input-submit>
        </div>
      </form>
    </div>
    <br>
    <p class="text-center">{{$root.lang.doyouhaveanaccount}}
    <a href="#/login"> {{$root.lang.signinhere}}</a></p>
    <hr>
    <h4>{{$root.lang.preregisterTitle}}</h4>
    <p>{{$root.lang.preregisterTxt1}} <a href="#/pre">{{$root.lang.preregisterTxt2}}</a> {{$root.lang.preregisterTxt3}}</p>
  </div>
</div>
