<div class="container forgot_password">
  <alert ng-repeat="alert in alerts" type="{{alert.type}}"
  close="closeAlert($index)">{{alert.msg}}</alert>
  <div class="col-md-6 col-md-offset-3">
    <div class="forgot_content">
      <h2>{{$root.lang.resetpasswordtitle}}</h2>
      <p>{{$root.lang.resetpasswordmsg}}</p>
      <form name="form" ng-submit="form.$valid && sendMail()" novalidate>
        <input-password></input-password>
        <input-cpassword></input-cpassword>
        <input-submit title="update"></input-submit>
      </form>
    </div>
  </div>
</div>
