<content-header>
<h3 class="landing_title">
  <a href="#/schooladmin/profile/school/{{model.id}}" class="btn btn-primary flip" ng-if="!model.grades.length || model.grades.length == 0">
      <i class="fa"></i>
      {{$root.lang.updateSchoolInfo}}
  </a>
</h3>
<div class="col-md-4">
  <div class="bordered-block text-center">
    <span class="img">
      <img src="images/manager.png" alt="img" title="img" width="183" height="183"/>
    </span>
    <br>
    <a href="#/schooladmin/manager"
      class="btn btn-danger btn-lg btn-block">
      {{$root.lang.manager}}</a>
      <div class="clear"></div>
  </div>
</div>
<div class="col-md-4">
  <div class="bordered-block text-center">
    <span class="img">
      <img src="images/teacher.png" alt="img" title="img" width="183" height="183"/>
    </span>
    <br>
    <a href="#/schooladmin/teacher"
      class="btn btn-danger btn-lg btn-block">
      {{$root.lang.teachers}}</a>
      <div class="clear"></div>
  </div>
</div>
<div class="col-md-4">
  <div class="bordered-block text-center">
    <span class="img">
      <img src="images/students.png" alt="img" title="img" width="183" height="183"/>
    </span>
    <br>
    <a href="#/schooladmin/educationalsystems" class="btn btn-danger btn-lg btn-block">{{$root.lang.students}}</a>
    <div class="clear"></div>
  </div>
</div>
<!--<div class="col-md-4">
  <div class="bordered-block text-center">
    <span class="img">
      <img src="images/courses_symbol.png" alt="img" title="img" width="183" height="183"/>
    </span>
    <br>
    <a href="#/schooladmin/course" class="btn btn-danger btn-lg
      btn-block">{{$root.lang.courses}}</a>
      <div class="clear"></div>
  </div>
</div>
<div class="col-md-4">
  <div class="bordered-block text-center">
    <span class="img">
      <img src="images/courses.png" alt="img" title="img" width="183" height="183"/>
    </span>
    <br>
    <a href="#/schooladmin/classes" class="btn btn-danger btn-lg
      btn-block">{{$root.lang.classes}}</a>
      <div class="clear"></div>
  </div>
</div>
-->
</content-header>
