<content-header>
<h3 class="landing_title">{{pageTitle}}</h3>
<link-item class="col-md-4" title="courses" href="#/sme/course/"
imgsrc="images/courses.png"></link-item>
<link-item class="col-md-4" title="reviewers" href="#/sme/reviewer/"
imgsrc="images/reviewers.png"></link-item>
<link-item class="col-md-4" title="authors" href="#/sme/author/"
imgsrc="images/authors.png"></link-item>
<link-item class="col-md-4" title="invitations" href="#/sme/invitations/"
imgsrc="images/authors.png"></link-item>
</content-header>


