<content-header>
<h3 class="landing_title"> {{pageTitle}} </h3>
<div class="col-md-4" ng-repeat="entity in entities"
  ng-show="!entity.mine && entity.questions.length < entity.count">
  <task-list-item model="entity" after-assign="afterAssign" courseid="courseid" question-mode="no"></task-list-item>
</div>
</content-header>
