<content-header>
<h3 class="landing_title">
  {{pageTitle}}
  <a href="#/author/course/{{courseid}}/task/{{taskid}}/question/create"
    class="btn btn-primary pull-right flip header_button"
    ng-show="task && task.questions.length < task.count">
    <i class="fa fa-plus"></i> {{$root.lang.add}} </a>
</h3>
<div class="col-md-12" ng-repeat="entity in entities">
  <question-info taskid="{{taskid}}" courseid="{{courseid}}" uri="{{entity}}"></question-info>
</div>
</content-header>

