<li>
<h4>اللغةالعربية - القراءه - الباب الاول - الفصل الثانى - الوحده الأولى - درس نمو النباتات</h4>
<a href="#/student/course/0/exam" class="btn btn-success btn-lg"> إبدأ الأمتحان</a>
<span class="time_exam">وقت الامتحان ٣٠:٠٠ دقيقة</span>
<br class="clear"/>
</li>

